<section class="footer-navbar pb-4" style="background-color: #272727;">
  <app-navbar></app-navbar>
</section>
<section class="bg-middle roboto-font parent-section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="footer-list">
          <li class="item ">
            <a class="terms text-white" routerLink="/policy" (click)="toggleSection('privacy')"
              ariaCurrentWhenActive="page"
              [ngClass]="{'text-orange': isPrivacyActive, 'text-white': !isPrivacyActive}">Privacy Policy</a>
          </li>
          <li class="item">
            <a class="terms text-white" (click)="toggleSection('terms')" ariaCurrentWhenActive="page"
              style="cursor: pointer;"
              [ngClass]="{'text-orange': isTermsActive, 'text-white': !isTermsActive}">Terms</a>
          </li>
          <li class="item">
            <a class="terms text-white" (click)="toggleSection('faq')" ariaCurrentWhenActive="page"
              style="cursor: pointer;" [ngClass]="{'text-orange': isFaqActive, 'text-white': !isFaqActive}">FAQ</a>
          </li>
          <li class="item">
            <a class="terms text-white" (click)="toggleSection('license')" ariaCurrentWhenActive="page"
              style="cursor: pointer;"
              [ngClass]="{'text-orange': islicenseActive, 'text-white': !islicenseActive}">License Summary</a>
          </li>
          <li>Cookies Policy</li>
          <li>Digital Services Act</li>
        </ul>
      </div>
      <div class="col-md-9" *ngIf="isPrivacyActive">
        <div class="description text-white">
          <h5>Privacy Policy</h5>
          <p class="para pt-3">Last updated: May 9, 2024</p>
          <p class="pt-3">We are Pixabay, a Canva Germany GmbH brand ("Pixabay"). This privacy policy applies
            to Pixabay's website at pixabay.com (the "Website") and all related websites, software, mobile
            apps, plug-ins and other services that we provide (together, the "Service(s)").
            This privacy policy explains how we and our affiliates collect, use, disclose and safeguard the
            information you provide while accessing and using the Service. It also explains how you can
            exercise your privacy rights. If you have any questions, suggestions or complaints about our use
            of your personal information or this privacy policy, please contact us using the details
            provided at the bottom of this page.
          </p>
          <h6 class="fw-bold">Personal information we collect</h6>
          <p class="pt-3">Information you provide us directly
            Certain parts of the Service may ask you to provide personal information voluntarily, such as
            your first and last name, date of birth, gender, the city and country you live in, information
            about you, your PayPal address, online profiles, uploaded media and email address. This
            information will be displayed on your public profile page on Pixabay and can be edited and
            removed at any time.</p>
          <p class="pt-3">We also collect personal information in any messages you send to us and other users
            through the Service (such as user feedback, messages and search queries), and may collect
            personal information in content you upload to the Service (such as photos or videos you upload
            and the metadata about your content). We use this information to operate, maintain, and provide
            the features and functionality of the Service, to correspond with you, and to address any issues
            you raise about our services. You must not upload photos or other content containing any
            personal data of third parties without their express consent.</p>
          <p class="pt-3">
            If you don’t provide your information to us, you may not be able to access or use certain
            features of the Service or your experience of using the Service may not be as enjoyable.
          </p>
          <h6 class="fw-bold">Information we receive from third parties</h6>
          <p class="pt-3">
            We may receive information about you from third parties. For example, when you log into the
            Service using a third-party account (such as Facebook) we may also collect certain information
            from the third-party necessary to authenticate your account, such as your email address and any
            other information you allow the third party to share with us. You should always review, and if
            necessary, adjust your privacy settings on third-party websites and services before linking or
            connecting them to our Service. You may also unlink your third-party account from our websites
            by adjusting your settings on the third-party service. If you unlink your third-party account,
            we will no longer receive information collected about you in connection with that service.
          </p>
          <h6 class="fw-bold">Information we collect from you automatically</h6>
          <p class="pt-3">We will directly collect or generate certain information about your use of the
            Service (such as user activity data, analytics event data and clickstream data), for data
            analytics and machine learning, and to help us measure traffic and usage trends for the Service.
            We may also use third party analytics tools that automatically collect information sent by your
            browser or mobile device, including the pages you visit and other information that assists us in
            improving the Service. For more information, please see the paragraphs below on cookies
            information, log file information, clear gifs, device identifiers, and location data.
            Cookies information and information taken from similar technologies
            When you visit the Service, we (and our third-party partners) will send cookies — small text
            files containing a string of alphanumeric characters — to your computer that uniquely identifies
            your browser and lets us do things like help you log in faster, enhance your navigation through
            the site, remember your preferences and generally improve the user experience. Cookies also
            convey information to us about how you use the Service (e.g., the pages you view, the links you
            click and other actions you take on the Service), and allow us or our business partners to track
            your usage of the Service over time. They also allow us to measure traffic and usage trends for
            the Service, deliver personalized advertisements that may be of interest to you and measure
            their effectiveness, and find potential new users of the Service.
            You can control or reset your cookies and similar technologies through your web browser, which
            will allow you to customize your cookie preferences and to refuse all cookies or to indicate
            when a cookie is being sent. However, some features of the Service may not function properly if
            the ability to accept cookies is disabled. For more information on how we use cookies and other
            technologies and how you can control them, please read our <u>Cookies Policy</u>.
            Log file information</p>
          <p class="pt-3">Log file information is automatically reported by your browser or mobile device each
            time you access the Service. When you use our Service, our servers automatically record certain
            log file information. These server logs may include anonymous information such as your web
            request, browser type, referring / exit pages and URLs, number of clicks and how you interact
            with links on the Service, domain names, landing pages, pages viewed, and other such
            information.
            Clear gifs/web beacons information
          </p>
          <p class="pt-3">When you use the Service, we may employ clear GIFs (also known as web beacons) which
            are used to anonymously track the online usage patterns of our users. In addition, we may also
            use clear GIFs in HTML-based emails sent to our users to track which emails are opened and which
            links are clicked by recipients. This information allows for more accurate reporting and
            improvement of the Service.

          </p>
          <h6 class="fw-bold">Device identifiers</h6>
          <p class="pt-3">
            When you access the Service on a device (including smart-phones or tablets), we may access,
            collect and/or monitor one or more “device identifiers,” such as a universally unique identifier
            (“UUID”). Device identifiers are small data files that uniquely identify your mobile device. A
            device identifier may convey information to us about how you use the Service. A device
            identifier may remain persistently on your device, to help you log in and navigate the Service
            better. Some features of the Service may not function properly if use of device identifiers is
            impaired.
          </p>
          <h6 class="fw-bold">Location data</h6>
          <p class="pt-3">We collect information in order to understand where our users are located for a
            number of reasons. We may collect your precise or approximate location: </p>
          <ul>
            <li>from you, when you provide, correct or confirm your location (e.g., when you purchase
              products from us);</li>
            <li>by inferring your location from your IP address; and</li>
            <li>from our third party partners.</li>
          </ul>
          <h6 class="fw-bold">How we use your information</h6>
          <p class="pt-3">We use the information we collect about you for the purposes set out below:</p>
          <ul>
            <li>Providing you with the Service: We use the information that you directly give us to provide
              the Service to you. This includes allowing you to log in to the Service, operating and
              maintaining the Service and giving you access to your Content. We may also use information
              we collect about you automatically to remember information about you so that you will not
              have to re-enter it during your visit or the next time you visit the site.</li>
            <li>For data analytics: We use information about you to help us improve the Service and our
              users' experience, including by monitoring aggregate metrics such as total number of
              visitors, traffic, and demographic patterns.</li>
            <li>For analytics and machine learning: We may analyze your activity, Content, and related data
              activity in your account to provide and customize the Service, and to train our algorithms,
              models, products and services using machine learning to develop, improve and provide our
              Service. If you don't want your Content to be used for machine learning, you can opt out by
              updating your preferences in your <u>account settings</u> at any time.</li>
          </ul>
          <div class="limited" style="position: relative; left: 32px;">
            <h6 class="fw-bold">These activities include, but are not limited to:</h6>
            <ul>
              <li>labeling and detecting components in images (e.g., background, eyes);</li>
              <li>labeling raw individual data (e.g., “man with dog”);</li>
              <li>detecting content prohibited by our <u>Terms</u> for moderation and security purposes
                (e.g.,
                pornographic or copyright protected material);</li>
              <li>translating audio soundtracks;</li>
              <li>predicting the most relevant product offerings for a user to tailor communications and
                advertising; and</li>
              <li>search terms and corresponding search results interaction data to build an algorithm to
                deliver the most relevant content result.inform yourself of any changes.</li>
            </ul>
          </div>
          <h6 class="fw-bold">Contact us</h6>
          <p class="pt-3">The data controller responsible for your personal data is Pixabay, a Canva Germany
            GmbH brand.
            Our local representative in the United Kingdom is the European Data Protection Office UK (EDPO
            UK) with a registered address at 8 Northumberland Avenue, London WC2N 5BY, United Kingdom.
            The EDPO UK can be contacted at privacy&#64;edpo.com. If you are in the UK, data subject request
            forms can be accessed at https://edpo.com/uk-gdpr-data-request/.
            If you have any questions, suggestions or concerns about our use of your personal data or this
            privacy policy, please contact us at:</p>
          <address>
            Email: info&#64;filmygems.com <br>
            Write: FilmyGems, a Canva Germany GmbH brand <br>
            Pappelallee 78/79 <br>
            10437 Berlin <br>
            Germany
          </address>
          <p class="pt-5">This site is protected by reCAPTCHA and the Google <u>Privacy Policy</u> and Terms
            of Service apply.</p>
        </div>
      </div>

      <div class="col-md-9" *ngIf="isTermsActive">
        <div class="description-terms text-white pt-2">
          <h5>Terms And Services</h5>
          <p class="para pt-3">Last updated: May 9, 2024</p>
          <p class="pt-3">We are Pixabay, a Canva Germany GmbH brand ("Pixabay"). This privacy policy applies
            to Pixabay's website at pixabay.com (the "Website") and all related websites, software, mobile
            apps, plug-ins and other services that we provide (together, the "Service(s)").
            This privacy policy explains how we and our affiliates collect, use, disclose and safeguard the
            information you provide while accessing and using the Service. It also explains how you can
            exercise your privacy rights. If you have any questions, suggestions or complaints about our use
            of your personal information or this privacy policy, please contact us using the details
            provided at the bottom of this page.
          </p>
          <h6 class="fw-bold">Personal information we collect</h6>
          <p class="pt-3">Information you provide us directly
            Certain parts of the Service may ask you to provide personal information voluntarily, such as
            your first and last name, date of birth, gender, the city and country you live in, information
            about you, your PayPal address, online profiles, uploaded media and email address. This
            information will be displayed on your public profile page on Pixabay and can be edited and
            removed at any time.</p>
          <p class="pt-3">We also collect personal information in any messages you send to us and other users
            through the Service (such as user feedback, messages and search queries), and may collect
            personal information in content you upload to the Service (such as photos or videos you upload
            and the metadata about your content). We use this information to operate, maintain, and provide
            the features and functionality of the Service, to correspond with you, and to address any issues
            you raise about our services. You must not upload photos or other content containing any
            personal data of third parties without their express consent.</p>
          <p class="pt-3">
            If you don’t provide your information to us, you may not be able to access or use certain
            features of the Service or your experience of using the Service may not be as enjoyable.
          </p>
          <h6 class="fw-bold">Information we receive from third parties</h6>
          <p class="pt-3">
            We may receive information about you from third parties. For example, when you log into the
            Service using a third-party account (such as Facebook) we may also collect certain information
            from the third-party necessary to authenticate your account, such as your email address and any
            other information you allow the third party to share with us. You should always review, and if
            necessary, adjust your privacy settings on third-party websites and services before linking or
            connecting them to our Service. You may also unlink your third-party account from our websites
            by adjusting your settings on the third-party service. If you unlink your third-party account,
            we will no longer receive information collected about you in connection with that service.
          </p>
          <h6 class="fw-bold">Information we collect from you automatically</h6>
          <p class="pt-3">We will directly collect or generate certain information about your use of the
            Service (such as user activity data, analytics event data and clickstream data), for data
            analytics and machine learning, and to help us measure traffic and usage trends for the Service.
            We may also use third party analytics tools that automatically collect information sent by your
            browser or mobile device, including the pages you visit and other information that assists us in
            improving the Service. For more information, please see the paragraphs below on cookies
            information, log file information, clear gifs, device identifiers, and location data.
            Cookies information and information taken from similar technologies
            When you visit the Service, we (and our third-party partners) will send cookies — small text
            files containing a string of alphanumeric characters — to your computer that uniquely identifies
            your browser and lets us do things like help you log in faster, enhance your navigation through
            the site, remember your preferences and generally improve the user experience. Cookies also
            convey information to us about how you use the Service (e.g., the pages you view, the links you
            click and other actions you take on the Service), and allow us or our business partners to track
            your usage of the Service over time. They also allow us to measure traffic and usage trends for
            the Service, deliver personalized advertisements that may be of interest to you and measure
            their effectiveness, and find potential new users of the Service.
            You can control or reset your cookies and similar technologies through your web browser, which
            will allow you to customize your cookie preferences and to refuse all cookies or to indicate
            when a cookie is being sent. However, some features of the Service may not function properly if
            the ability to accept cookies is disabled. For more information on how we use cookies and other
            technologies and how you can control them, please read our <u>Cookies Policy</u>.
            Log file information</p>
          <p class="pt-3">Log file information is automatically reported by your browser or mobile device each
            time you access the Service. When you use our Service, our servers automatically record certain
            log file information. These server logs may include anonymous information such as your web
            request, browser type, referring / exit pages and URLs, number of clicks and how you interact
            with links on the Service, domain names, landing pages, pages viewed, and other such
            information.
            Clear gifs/web beacons information
          </p>
          <p class="pt-3">When you use the Service, we may employ clear GIFs (also known as web beacons) which
            are used to anonymously track the online usage patterns of our users. In addition, we may also
            use clear GIFs in HTML-based emails sent to our users to track which emails are opened and which
            links are clicked by recipients. This information allows for more accurate reporting and
            improvement of the Service.

          </p>
          <h6 class="fw-bold">Device identifiers</h6>
          <p class="pt-3">
            When you access the Service on a device (including smart-phones or tablets), we may access,
            collect and/or monitor one or more “device identifiers,” such as a universally unique identifier
            (“UUID”). Device identifiers are small data files that uniquely identify your mobile device. A
            device identifier may convey information to us about how you use the Service. A device
            identifier may remain persistently on your device, to help you log in and navigate the Service
            better. Some features of the Service may not function properly if use of device identifiers is
            impaired.
          </p>
          <h6 class="fw-bold">Location data</h6>
          <p class="pt-3">We collect information in order to understand where our users are located for a
            number of reasons. We may collect your precise or approximate location: </p>
          <ul>
            <li>from you, when you provide, correct or confirm your location (e.g., when you purchase
              products from us);</li>
            <li>by inferring your location from your IP address; and</li>
            <li>from our third party partners.</li>
          </ul>
          <h6 class="fw-bold">How we use your information</h6>
          <p class="pt-3">We use the information we collect about you for the purposes set out below:</p>
          <ul>
            <li>Providing you with the Service: We use the information that you directly give us to provide
              the Service to you. This includes allowing you to log in to the Service, operating and
              maintaining the Service and giving you access to your Content. We may also use information
              we collect about you automatically to remember information about you so that you will not
              have to re-enter it during your visit or the next time you visit the site.</li>
            <li>For data analytics: We use information about you to help us improve the Service and our
              users' experience, including by monitoring aggregate metrics such as total number of
              visitors, traffic, and demographic patterns.</li>
            <li>For analytics and machine learning: We may analyze your activity, Content, and related data
              activity in your account to provide and customize the Service, and to train our algorithms,
              models, products and services using machine learning to develop, improve and provide our
              Service. If you don't want your Content to be used for machine learning, you can opt out by
              updating your preferences in your <u>account settings</u> at any time.</li>
          </ul>
          <section>
            <div class="limited" style="position: relative; left: 32px;">
              <h6 class="fw-bold">These activities include, but are not limited to:</h6>
              <ul>
                <li>labeling and detecting components in images (e.g., background, eyes);</li>
                <li>labeling raw individual data (e.g., “man with dog”);</li>
                <li>detecting content prohibited by our <u>Terms</u> for moderation and security
                  purposes (e.g.,
                  pornographic or copyright protected material);</li>
                <li>translating audio soundtracks;</li>
                <li>predicting the most relevant product offerings for a user to tailor communications
                  and
                  advertising; and</li>
                <li>search terms and corresponding search results interaction data to build an algorithm
                  to
                  deliver the most relevant content result.inform yourself of any changes.</li>
              </ul>
            </div>
            <h6 class="fw-bold">Contact us</h6>
            <p class="pt-3">The data controller responsible for your personal data is Pixabay, a Canva
              Germany
              GmbH brand.
              Our local representative in the United Kingdom is the European Data Protection Office UK
              (EDPO
              UK) with a registered address at 8 Northumberland Avenue, London WC2N 5BY, United Kingdom.
              The EDPO UK can be contacted at privacy&#64;edpo.com. If you are in the UK, data subject
              request
              forms can be accessed at https://edpo.com/uk-gdpr-data-request/.
              If you have any questions, suggestions or concerns about our use of your personal data or
              this
              privacy policy, please contact us at:</p>
            <address>
              Email: info&#64;filmygems.com <br>
              Write: FilmyGems, a Canva Germany GmbH brand <br>
              Pappelallee 78/79 <br>
              10437 Berlin <br>
              Germany
            </address>
            <p class="pt-5">This site is protected by reCAPTCHA and the Google <u>Privacy Policy</u> and
              Terms of Service apply.</p>
          </section>
        </div>
      </div>
      <div class="col-md-9" *ngIf="isFaqActive">
        <div class="description-terms text-white pt-2">
          <h5 class="faq ">FAQ</h5>
          <div class="accordion pt-4" id="faqAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button  get-started" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Get Started
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show faq-bgcolor text-white"
                aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <p>Details about getting started...</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed get-started" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  License & Terms
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse faq-bgcolor text-white"
                aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <p>Details about license and terms...</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed get-started" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Upload Guidelines
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse faq-bgcolor text-white"
                aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <h6 class=" fw-bold">What media uploads are not allowed on Pixabay?</h6>
                  <p>You are not allowed to upload media that have signatures, watermarks or are advertisement. This can
                    be considered spamming and might lead to the closure of your account.
                    You can also check our blog regarding upload guidelines for more information.</p>
                  <h6 class=" fw-bold">I am a creator. Can I earn money through Pixabay?</h6>
                  <p>Pixabay is a free photo, illustration, video and music sharing website powered by our generous
                    community of photographers, videographers, illustrators and musicians. While not required, users can
                    make donations to artists to
                    thank them for their contributions. Find out how under Downloads & Donations.</p>
                  <h6 class=" fw-bold">Why was my upload not accepted?</h6>
                  <p>Uploads are declined if they do not meet our quality guidelines. Learn more.
                    My upload was accepted but doesn't show up on my profile. Why?
                    It usually takes a few minutes for new media to show up in your profile. In rare cases, it may take
                    a few days. If many uploads are missing,
                    please check our forum (https://pixabay.com/forum/) for any outages or contact us.</p>
                  <h6 class=" fw-bold">What do the labels "Featured" and "Publish" mean? </h6>
                  <p>An upload that is marked as "Published" only appears in your profile. An upload that is marked as
                    "Featured"
                    appears in your profile and additionally also shows up in the Pixabay search.</p>
                  <p>My music play numbers are not updating on my audio tracks. Why?
                    We update play numbers once a day, so it will take up to 24 hours for you to see changes. Please
                    create a post here if you are still having issues after 24 hours.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed get-started" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Downloads & Donations
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse faq-bgcolor text-white"
                aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <p>Information about downloads and donations...</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed get-started" type="button" data-bs-toggle="collapse"
                  data-bs-target="#headingFive" aria-expanded="false" aria-controls="collapseFour">
                  Account & Settings
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse faq-bgcolor text-white"
                aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <p>Information about downloads and donations...</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSiX">
                <button class="accordion-button collapsed get-started" type="button" data-bs-toggle="collapse"
                  data-bs-target="#headingSiX" aria-expanded="false" aria-controls="collapseFour">
                  API & Partnerships
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse faq-bgcolor text-white"
                aria-labelledby="headingSiX" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <p>Information about downloads and donations...</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed get-started" type="button" data-bs-toggle="collapse"
                  data-bs-target="#headingSeven" aria-expanded="false" aria-controls="collapseFour">
                  Community
                </button>
              </h2>
              <div id="collapseSeven" class="accordion-collapse collapse faq-bgcolor text-white"
                aria-labelledby="headingSeven" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <p>Information about downloads and donations...</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed get-started" type="button" data-bs-toggle="collapse"
                  data-bs-target="#headingEight" aria-expanded="false" aria-controls="collapseFour">
                  Technical Questions
                </button>
              </h2>
              <div id="collapseEight" class="accordion-collapse collapse faq-bgcolor text-white"
                aria-labelledby="headingEight" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <p>Information about downloads and donations...</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingNine">
                <button class="accordion-button collapsed get-started" type="button" data-bs-toggle="collapse"
                  data-bs-target="#headingNine" aria-expanded="false" aria-controls="collapseFour">
                  Content Moderation
                </button>
              </h2>
              <div id="collapseNine" class="accordion-collapse collapse faq-bgcolor text-white"
                aria-labelledby="headingNine" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <p>Information about downloads and donations...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9" *ngIf="islicenseActive">
        <div class="description-terms  text-white pt-2">
          <h5>License Summary</h5>
          <p class="pt-3">Last updated: May 9, 2024</p>
          <p class="pt-3">1.The basics.</p>
          <p class="pt-3">Welcome to Pixabay! Pixabay is a vibrant community of creatives sharing royalty-free
            content. These Terms of Service ("Terms") apply to the pixabay.com website, related websites,
            software, mobile apps, plug-ins and other Pixabay-operated services (collectively, the
            "Service(s)").</p>
          <p class="pt-3">These Terms govern the relationship between Pixabay, a Canva Germany GmbH brand
            ("we", "our" or "Pixabay") and any user of the Service ("you", "your" or "User"), including in
            certain circumstances, the relationship between Users. By using the Service (including by
            downloading and using Content from the Service, or contributing Content or Communications to the
            Service):</p>
          <p class="pt-3">you agree that you are entering into these Terms with us which will become a legally
            binding agreement between you and us; and </p>
          <p>you represent and warrant that you have the full right, power and authority to agree to and be
            bound by these Terms and to fully perform all of your obligations listed in these Terms.</p>
          <p class="pt-3">If you don’t agree to these Terms, please don’t use the Service.</p>
          <p class="pt-3">Children may not access or use the Service unless their use is directly authorized
            by their parent, guardian or another authorized adult who agrees to be bound by these Terms. For
            the purposes of these Terms, a child is a person under the age of 13 (or the minimum legal age
            required to provide consent for processing of personal data in the country where the child is
            located, noting 16 is the minimum legal age in Germany).</p>
          <p class="pt-3">We reserve the right, at our sole discretion, to change or modify these Terms at any
            time, including the right to cancel or change the licenses granted by these Terms. If we do
            this, we will post the most current version of these Terms on this page. We will seek to provide
            you with reasonable notice of any change to the Terms that, in our sole determination,
            materially adversely affect your rights or your use of the Service. We may provide you with this
            notice via the Service and/or by direct message on the Service and/or by posting on Pixabay’s
            public forum. By continuing to use the Service after any revised Terms become effective, you
            agree to be bound by the new Terms.</p>
          <p class="pt-3">2.Content.</p>
          <p class="pt-3">In these Terms when we refer to "Content" we are referring to the content which is
            available on the Service, but excluding any third party paid advertising or sponsored content
            (over which Pixabay has no control and we do not grant any license). Content includes, but isn’t
            limited to the following items:
          </p>
          <p class="pt-2">"Images", which means photographs, vector graphics, drawings and illustrations.</p>
          <p class="pt-2">"Videos", which means moving images, animations, film footage and other audio-visual
            representations and content.</p>
          <p class="pt-2">"Audio", which means music, sounds, sound effects and other audio representations
            and content.</p>
          <p class="pt-2">"Other Media", which means any other media or content which is visual or audio in
            nature, or a combination of these,</p>
          <p class="pt-2">and includes in each case any associated text, captions, descriptions or metadata.
          </p>
          <p class="pt-3">3.Communications.</p>
          <p class="pt-2">Pixabay also makes available various functionality across the Service which allows
            you to interact and communicate with the Service and with other Users, for example by:
            selecting a username, uploading a profile photo and creating a profile page;
            making contributions in our Pixabay forum and discussion rooms;
            leaving comments on any Content or blog articles;
            sending messages to other users via our messaging functionality; and/or
            any other communications submitted by you through the Service, together, “Communication(s)”.</p>
          <p class="pt-3">4.CC0 License</p>
          <p class="pt-3">Some of the Content made available for download on the Service is subject to and
            licensed under the Creative Commons Zero (CC0) license ("CC0 Content"). CC0 Content on the
            Service is any content which lists a "Published date" prior to January 9, 2019. This means that
            to the greatest extent permitted by applicable law, the authors of that work have dedicated the
            work to the public domain by waiving all of his or her rights to the CC0 Content worldwide under
            copyright law, including all related and neighboring rights. Subject to the CC0 License Terms,
            the CC0 Content can be used for all personal and commercial purposes without attributing the
            author/ content owner of the CC0 Content or Pixabay.</p>
          <p class="pt-3">5.Content License granted to you for Content (other than CC0 Content).</p>
          <p class="pt-3">Subject to the Prohibited Uses described below (which you agree and acknowledge you
            are not entitled to engage in), when you download any Content that is not CC0 Content from the
            Service, we grant you an irrevocable, worldwide, perpetual (or as long as allowed by law),
            non-exclusive and royalty-free right to download, use, copy, modify or adapt the Content for
            commercial or non-commercial purposes ('Content License'). The rights granted are non-exclusive,
            meaning that we may also grant other users the same rights in the same Content. For the
            avoidance of doubt, you do not obtain any rights in any other users’ Communications.</p>
          <p class="pt-3">You agree and acknowledge that the following items are "Prohibited Uses" and the
            Content License which we grant to you is conditional on you not engaging in any of the
            Prohibited Uses.
            You cannot sell or distribute the Content (either in digital or physical form) on a Standalone
            basis. This includes selling or distributing Content on a Standalone basis as an image, audio,
            video, NFT or other digital file (including through a stock media platform), as well as a print,
            wallpaper, poster or on merchandise or on other physical products.
            When we refer to "Standalone" we mean where no creative effort has been applied to the Content
            and it remains in substantially the same form as it exists on the Service. To help illustrate
            this, here are some examples:
            using the Content in its original form or solely using a filter, changing colors,
            resizing or cropping the Content remains Standalone use.</p>
          <p class="pt-3">using the Content with a combination of images, videos, audio files, other media,
            text, illustrations, background features and editing techniques is not Standalone use, so long
            as the combined effect is to make a "new" creative work.</p>
          <p class="pt-3">If Content depicts any trademarks, logos or brands (whether two- or
            three-dimensional), you cannot use that Content for commercial purposes in relation to goods and
            services, in particular not print that Content on merchandise or other physical products for
            sale.
            You cannot use Content in any immoral or illegal way, especially Content which features a
            recognisable person. You cannot use any Content on or in conjunction with anything pornographic,
            obscene, offensive (including but not limited to in relation to adult entertainment venues,
            escort services, drug use, dating services, in a way which portrays someone as suffering from,
            or medicating for, a physical or mental ailment), illegal, immoral, infringing, defamatory,
            hateful, threatening or libellous in nature, in a political context (such as the promotion,
            advertisement or endorsement of any party, candidate, or elected official or in connection with
            any political party or viewpoint) or in breach of any law, regulation or industry code, or in
            any way which infringes the rights of any person or entity.
            You cannot use Content in a misleading or deceptive way. You cannot use Content in a way that is
            misleading or deceptive, including without limit:</p>
          <p class="pt-3">by suggesting that any depicted person, brand, organization or other third party
            endorses or is affiliated with you or your goods or services, unless permission has been
            granted; or</p>
          <p class="pt-3">by giving the impression that Content was created by you, or a person other than the
            intellectual property rights holder of the Content (including without limitation, by claiming or
            giving the impression that you hold ownership of, or exclusive rights to, the Content).</p>
          <p class="pt-3"> You cannot use any of the Content as part of a trade-mark, design-mark, trade-name,
            business name or service mark.
            In addition to the Prohibited Uses, please be aware that certain Content (including CC0 Content)
            may be subject to additional intellectual property rights (such as copyrights, trademarks,
            design rights), moral rights, proprietary rights, property rights, privacy rights or similar.
            This includes but is not limited to identifiable people, logos, brands of all kinds (whether
            two- or three- dimensional), goods or services, buildings and architecture, audio or video
            samples and organisations.</p>
          <p class="pt-3">Before using any Content (including CC0 Content), you must consider whether you
            require the consent of a third party or a license to use the Content. If your use of the Content
            is for commercial purposes (e.g. in conjunction with the sale or promotion of a product or
            service) then it is likely that you will need consent or a license. Responsibility for
            determining whether permissions are needed always rests solely and exclusively with you. We do
            not warrant that any consents or licenses have been obtained in relation to any Content, and we
            expressly disclaim any and all responsibility and liability in relation to such matters.</p>
          <p class="pt-5">This site is protected by reCAPTCHA and the Google <u>Privacy Policy</u> and Terms
            of Service apply.</p>
        </div>
      </div>
    </div>
  </div>
</section>



<app-footer></app-footer>
