<section class="bg-middle roboto-font">
          <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="footer-list">
                        <li>Privacy Policy</li>
                        <li>Terms of Service</li>
                        <li>FAQ</li>
                        <li>License Summary</li>
                        <li>Cookies Policy</li>
                        <li>Digital Services Act</li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="description text-white">
                        <h5>Privacy Policy</h5>
                        <p class="para pt-3">Last updated: May 9, 2024</p>
                        <p class="pt-3">We are Pixabay, a Canva Germany GmbH brand ("Pixabay"). This privacy policy applies to Pixabay's website at pixabay.com (the "Website") and all related websites, software, mobile apps, plug-ins and other services that we provide (together, the "Service(s)").
                            This privacy policy explains how we and our affiliates collect, use, disclose and safeguard the information you provide while accessing and using the Service. It also explains how you can exercise your privacy rights. If you have any questions, suggestions or complaints about our use of your personal information or this privacy policy, please contact us using the details provided at the bottom of this page.
                        </p>
                      <h6>Personal information we collect</h6>
                      <p class="pt-3">Information you provide us directly
                        Certain parts of the Service may ask you to provide personal information voluntarily, such as your first and last name, date of birth, gender, the city and country you live in, information about you, your PayPal address, online profiles, uploaded media and email address. This information will be displayed on your public profile page on Pixabay and can be edited and removed at any time.</p>
                        <p class="pt-3">We also collect personal information in any messages you send to us and other users through the Service (such as user feedback, messages and search queries), and may collect personal information in content you upload to the Service (such as photos or videos you upload and the metadata about your content). We use this information to operate, maintain, and provide the features and functionality of the Service, to correspond with you, and to address any issues you raise about our services. You must not upload photos or other content containing any personal data of third parties without their express consent.</p>
                        <p class="pt-3">
                            If you don’t provide your information to us, you may not be able to access or use certain features of the Service or your experience of using the Service may not be as enjoyable.
                        </p>
                    </div>
                    
                </div>
            </div>
          </div> 
</section>
