.opening-button{
  background-color: #F3AD3B;
  font-size: 18px;
  outline: none;
}
.opening-button:hover{
  background-color: #F3AD3B;
  outline: none;
}


@media (max-width:320px) {
  .health{
    padding-left: 0px;
  }
}

.workus-card{
  background-color: unset !important;
  border: 1px solid #FFFFFF;
  --bs-card-cap-padding-y: 0;
}
.job{
  border: 1px solid #ffffff;
  padding: 10px 70px;
}
.workus-li li::marker{
     color:#FFFFFF ;
}
.apply-now{
  background-color: #F3AD3B;
    padding: 10px 70px;
}