<section class="footer-navbar pb-4" style="background-color: #272727;">
  <app-navbar></app-navbar>
</section>
<section class="bg-middle roboto-font parent-section">
<div class="container">
  <div class="row pt-5">
    <div class="col-12">
      <img src="assets/workus/work-bg.png" alt="" class="w-100">
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center text-white pt-3">
      <h1> Creating Great Opportunities</h1>
      <p class="pt-2" style="font-size: 18px;">At FilmyGems, we firmly believe that our people make us what we are. As a company that weaves innovation into the fabric of technology, we are always on the lookout for great individuals sharing the same passion to realize our vision and mission. FilmyGems provides a unique opportunity to work with new technologies, challenging projects, and great individuals. Grab this opportunity to work with global brands and the latest technologies.</p>
      <button class="btn text-white rounded-pill opening-button" type="button">View Current Openings</button>
    </div>

  </div>
</div>
</section>
