<section class="footer-navbar pb-4" style="background-color: #272727;">
  <app-navbar></app-navbar>
</section>
<section class="bg-middle roboto-font parent-section">
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-12">
        <img src="assets/workus/work-bg.png" alt="" class="w-100">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center text-white pt-3">
        <h1> Creating Great Opportunities</h1>
        <p class="pt-2" style="font-size: 18px;">At FilmyGems, we firmly believe that our people make us what we are. As
          a company that weaves innovation into the fabric of technology, we are always on the lookout for great
          individuals sharing the same passion to realize our vision and mission. FilmyGems provides a unique
          opportunity to work with new technologies, challenging projects, and great individuals. Grab this opportunity
          to work with global brands and the latest technologies.</p>
        <button class="btn text-white rounded-pill opening-button" type="button">View Current Openings</button>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-12 text-center text-white">
        <h1>Benefits and Perks</h1>
      </div>
    </div>
    <!-- <div class="d-flex justify-content-center align-items-center"> -->
    <div class="row pt-5">
      <div class="col-md-6">
        <div class="health">
          <div class="d-flex align-items-center text-white">
            <img src="assets/svg-icons/health.svg" alt="">
            <h5 class="ps-4 pt-2">Healthcare</h5>
          </div>
          <div class="d-flex align-items-center text-white pt-4">
            <img src="assets/svg-icons/learning.svg" alt="">
            <h5 class="ps-4 pt-2">Learning & Development</h5>
          </div>
          <div class="d-flex align-items-center text-white pt-4">
            <img src="assets/svg-icons/community.svg" alt="">
            <h5 class="ps-4 pt-2">Community Involvement</h5>
          </div>
          <div class="d-flex align-items-center text-white pt-4 mb-4">
            <img src="assets/svg-icons/flexible.svg" alt="">
            <h5 class="ps-4 pt-2">Flexible Work Environments</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 ps-5">
        <div class="d-flex align-items-center text-white">
          <img src="assets/svg-icons/referral.svg" alt="">
          <h5 class="ps-4 pt-2">Referral Bonus</h5>
        </div>
        <div class="d-flex align-items-center text-white pt-4">
          <img src="assets/svg-icons/recognition.svg" alt="">
          <h5 class="ps-4 pt-2">Recognition and Rewards</h5>
        </div>
        <div class="d-flex align-items-center text-white pt-4">
          <img src="assets/svg-icons/employee.svg" alt="">
          <h5 class="ps-4 pt-2">Employee Assistance Program</h5>
        </div>
        <div class="d-flex align-items-center text-white pt-4">
          <img src="assets/svg-icons/wellness.svg" alt="">
          <h5 class="ps-4 pt-2">Wellness Reimbursement</h5>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <div class="row pt-5">
      <div class="col-12 text-center text-white">
        <h1>Open Positions</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        
      </div>
    </div>
  </div>
</section>