<section class="footer-navbar pb-4" style="background-color: #272727;">
  <app-navbar></app-navbar>
</section>
<section class="bg-custom roboto-font">
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-12">
        <img src="assets/workus/work-bg.png" alt="" class="w-100">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center text-white pt-3">
        <h1> Creating Great Opportunities</h1>
        <p class="pt-2" style="font-size: 18px;">At FilmyGems, we firmly believe that our people make us what we are. As
          a company that weaves innovation into the fabric of technology, we are always on the lookout for great
          individuals sharing the same passion to realize our vision and mission. FilmyGems provides a unique
          opportunity to work with new technologies, challenging projects, and great individuals. Grab this opportunity
          to work with global brands and the latest technologies.</p>
        <button class="btn text-white rounded-pill opening-button" type="button">View Current Openings</button>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-12 text-center text-white mb-5">
        <h1>Benefits and Perks</h1>
      </div>
      <div class="col-md-6">
        <div class="health">
          <div class="d-flex align-items-center text-white">
            <img src="assets/svg-icons/health.svg" alt="">
            <h5 class="ps-4 pt-2">Healthcare</h5>
          </div>
          <div class="d-flex align-items-center text-white pt-4">
            <img src="assets/svg-icons/learning.svg" alt="">
            <h5 class="ps-4 pt-2">Learning & Development</h5>
          </div>
          <div class="d-flex align-items-center text-white pt-4">
            <img src="assets/svg-icons/community.svg" alt="">
            <h5 class="ps-4 pt-2">Community Involvement</h5>
          </div>
          <div class="d-flex align-items-center text-white pt-4 mb-4">
            <img src="assets/svg-icons/flexible.svg" alt="">
            <h5 class="ps-4 pt-2">Flexible Work Environments</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="work-health ps-5">
          <div class="d-flex align-items-center text-white">
            <img src="assets/svg-icons/referral.svg" alt="">
            <h5 class="ps-4 pt-2">Referral Bonus</h5>
          </div>
          <div class="d-flex align-items-center text-white pt-4">
            <img src="assets/svg-icons/recognition.svg" alt="">
            <h5 class="ps-4 pt-2">Recognition and Rewards</h5>
          </div>
          <div class="d-flex align-items-center text-white pt-4">
            <img src="assets/svg-icons/employee.svg" alt="">
            <h5 class="ps-4 pt-2">Employee Assistance Program</h5>
          </div>
          <div class="d-flex align-items-center text-white pt-4">
            <img src="assets/svg-icons/wellness.svg" alt="">
            <h5 class="ps-4 pt-2">Wellness Reimbursement</h5>
          </div>
        </div>

      </div>
    </div>
    <div class="row justify-content-center align-items-center pt-5">
      <div class="col-12 text-center text-white mb-4">
        <h1>Open Positions</h1>
      </div>
      <div class="row justify-content-center align-items-center pt-4">
        <div class="col-md-10 mb-4" *ngFor="let job of jobs">
          <div class=" workus-card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-md-9 ps-5 pt-4 text-white">
                  <h5>{{ job.title }}</h5>
                  <p>{{ job.location }}</p>
                </div>
                <div class="col-md-3">
                  <button class="btn text-white rounded-pill job p-2" type="button"
                    (click)="toggleJobDescription(job.id)"
                    [ngStyle]="{'background-color': isDescriptionVisible(job.id) ? '#F3AD3B' : ''}">
                    {{ isDescriptionVisible(job.id) ? 'Apply Job' : 'View Job' }}
                  </button>
                </div>
              </div>
            </div>
            <div class="ps-5 text-white" *ngIf="isDescriptionVisible(job.id)">
              <h4>About the Role:</h4>
              <p>Have a deep understanding of CX, Design beyond screens and colours...</p>
              <h4>What You Will Do:</h4>
              <p>Act as the voice of the business customer...</p>
              <h4>What You Will Get:</h4>
              <p>An opportunity to be a core team member...</p>
              <h4>You Will Learn:</h4>
              <ul class="workus-li">
                <li>How to build a design and build a global quality next-generation product...</li>
              </ul>
              <h4>Qualifications You Need:</h4>
              <p>Proficiency with visual design programs such as Figma...</p>
            </div>
            <div class="card-footer ps-5 pt-3 text-white" style="background-color: #3A3838;"
              *ngIf="isDescriptionVisible(job.id)">
              <h4 style="color: #FFC936;">Our Hiring Process:</h4>
              <div class="our-process pt-3" style="line-height: normal;">
                <p>1. You apply and answer a couple of quick questions [5 min]</p>
                <p>2. Recruiter screen [10 min]</p>
                <p>3. Hiring Manager screen [30 min]</p>
                <p>4. Skills assessment take-home challenge [30 min]</p>
                <p>5. Confirmation Stage: [30 min]</p>
                <p>6. Final Stage onboarding call [15 min]</p>
                <p>7. We make you an offer and proceed for background verification.</p>
              </div>
              <div class="d-flex justify-content-end pb-2 pe-4">
                <button class="btn apply-now rounded-pill text-white">Apply Job</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
