.opening-button{
  background-color: #F3AD3B;
  font-size: 18px;
  outline: none;
}
.opening-button:hover{
  background-color: #F3AD3B;
  outline: none;
}


@media (max-width:320px) {
  .health{
    padding-left: 0px;
  }
}

/* .health{
  padding-left: 200px;
} */