<section class="bg-middle roboto-font" [ngStyle]="{'background-image': 'url(' + bgImage + ')'}"
  style=" background-size: cover; background-repeat: no-repeat; padding: 80px 0px;">
  <div class="container ">
    <div class="row pt-5 aos-init aos-animate" data-aos="fade-up">
      <div class="col-12 col-md-8  ps-5">
        <div class="pt-4">
          <button class="btn cutom-font-color rounded-pill mt-2 bg-dark" type="button"  routerLink="/sign-up">
            Start your journey with us
          </button>
          <h1 class="lets-font">
            Let's start your journey with <br>
            us for more clear <br>
            and affordable contact
          </h1>
          <button class="btn btn-join-now  rounded-pill mt-2  pb-2" type="button"  routerLink="/sign-up">
            Join Now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
