

/* slider */
/* .overlay-content {
  position: absolute;
  top: 7%;
  right: 18%;
  color: #FFFFFF;
}
.small-icon{
  position: relative;
  right: 45px;
  top: 10px;
}
.overlay-text {
  font-size: 40px;
} */
.best-profiles {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: 0px;
  margin-left:0px;
}

.separator-line {
  flex-grow: 1;
  border: 5px solid #f0a500;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 21%;
  margin-bottom: 120px;
  margin-left: 25%;
}


.carousel-item:nth-child(3) .slider-container::after {


.carousel-indicators .custom-dot {
  width: 7px;
  border-radius: 50%;
}

.carousel-indicators .active.custom-dot {
  background-color:#FFCF25; /* Active dot color */
}
.carousel-inner .carousel-item:nth-child(3) .slider-container::after {

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
  z-index: 1;
}
.carousel-item:nth-child(3) .slider-container .leaf-content h2 {
  color: #FFFFFF !important;
  z-index: 2; 
}


