

/* Line */
.common-linear{
  border: 5px solid #F3AD3B;
  position: relative;
  bottom: 95px;
}

/* slider */
.overlay-content {
  position: absolute;
  top: 7%;
  right: 18%;
  color: #FFFFFF;
}
.small-icon{
  position: relative;
  right: 45px;
  top: 10px;
}
.overlay-text {
  font-size: 40px;
}
.best-profiles {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: 0px;
  margin-left:0px;
}
