<section class="header  roboto-font header-images"  [ngStyle]="{'background-image': 'url(' + backgroundImageUrl + ')'}">
    <div class="header-Navbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12 order-lg-1 order-md-1  order-2">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container-fluid d-flex justify-content-between align-items-center">
                            <img src="assets/logo/main-logo.png" alt="Logo" class="img-fluid logo-img">
                            <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
                                data-bs-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse " id="mynavbar">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0  pt-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-white " routerLink="profile">Create Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white " routerLink="plans">Plans</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 order-lg-2 order-md-2 order-1 order-sm-3">
                    <div class="icons-join">
                        <div class="d-flex align-items-center justify-content-center links-chart">
                            <a class="text-white mx-4" href="#">
                                <i class="fa-solid fa-cart-shopping custom-icon"></i>
                            </a>
                            <a class="text-white mx-4" href="#">
                                <i class="fa-regular fa-bell custom-icon"></i>
                            </a>
                            <a class="text-white mx-4" href="#">
                                <i class="fa-regular fa-user custom-icon"></i>
                            </a>
                            <a href="#" class="join-ig d-flex ">
                                <img src="assets/landing_Img/login-start.png" alt="Login" class="img-fluid me-2">
                                <button class="btn join-btn" type="button">Join Now</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dimond-text pt-5"  >
        <div class="left-dimond">
            <img src="assets/landing_Img/diamond_img.png" alt="Diamond" class="img-fluid">
        </div>
        <div class="text-center text-white build-high ">
            <h1 class="main-title " data-aos="fade-up"  >Let's Build Your Connection With High <br> Level Of Celebrities</h1>
            <p data-aos="fade-up"  >We have more than 10+ million profiles with us, connect with us to get in touch with <br>
                beautiful and mind-blowing celebrities</p>
        </div>
    </div>


     <div class="linear"></div>
    <div class=" searching-bar  pt-4" data-aos="fade-up">
        <div class="search-box d-flex align-items-center">
            <i class="fas fa-search"></i>
            <input type="text" class="form-control border-0"
                placeholder="Search by film or profile name or check categories...">
            <div class="dropdown">
                <button class="btn dropdown-toggle text-dark form-control" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Gems Category
                </button>
                <ul class="dropdown-menu scroll" data-bs-spy="scroll" data-bs-target=".dropdown-menu"
                    data-bs-offset="50" aria-labelledby="dropdownMenuButton1"
                    style="max-height: 200px; overflow-y: auto;">
                    <li><a class="dropdown-item" href="#">Artist</a></li>
                    <li><a class="dropdown-item" href="#">Director</a></li>
                    <li><a class="dropdown-item" href="#">Casting Director</a></li>
                    <li><a class="dropdown-item" href="#">Assistant Director</a></li>
                    <li><a class="dropdown-item" href="#">Associate Director</a></li>
                    <li><a class="dropdown-item" href="#">Executive Producer</a></li>
                    <li><a class="dropdown-item" href="#">Production Manager</a></li>
                    <li><a class="dropdown-item" href="#">Artist</a></li>
                    <li><a class="dropdown-item" href="#">Director</a></li>
                    <li><a class="dropdown-item" href="#">Casting Director</a></li>
                    <li><a class="dropdown-item" href="#">Associate Director</a></li>
                    <li><a class="dropdown-item" href="#">Executive Producer</a></li>
                </ul>
            </div>

        </div>
    </div>
</section>

<app-blogs></app-blogs>
<div class="content">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
