

<section class="header  roboto-font header-images" [ngStyle]="{'background-image': 'url(' + backgroundImageUrl + ')'}">
  <app-navbar></app-navbar>
  <div class="dimond-text pt-5">
    <div class="left-dimond">
      <img src="assets/landing_Img/diamond_img.png" alt="Diamond" class="img-fluid">
    </div>
    <div class="text-center text-white build-high ">
      <h1 class="main-title " data-aos="fade-up">Let's Build Your Connection With High <br> Level Of Celebrities</h1>
      <p data-aos="fade-up">We have more than 10+ million profiles with us, connect with us to get in touch with <br>
        beautiful and mind-blowing celebrities</p>
    </div>
  </div>
  <div class="linear"></div>
  <app-search-header></app-search-header>
</section>

<app-blogs></app-blogs>
<div class="content">
  <router-outlet></router-outlet>
</div>
<app-startjourney></app-startjourney>
<app-footer></app-footer>


