<section class="plan-images roboto-font" [ngStyle]="{'background-image': 'url(' + backgroundImageUrl + ')'} ">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row">
      <div class="unlock-title">
        <div class="text-center text-white build-high">
          <h1 class="main-title ">Unlock Unlimited Access And Endless <br>
            Possibilities With Our Subscription Plan</h1>
          <p>High quality Celebrity profile and contact just for you only, what <br>
            are you waiting for? Let's join us.</p>
        </div>
      </div>
      <div class="d-flex  justify-content-center flex-direction-column align-items-center">
        <div class="line"></div>
      </div>
    </div>
  </div>
</section>

<section class="bg-middle roboto-font">
  <div class="container">
    <div class="row">
      <div class="choose-title text-center">
        <h2>Choose your subscription plan</h2>
        <p class="para pt-3">Choose the subscription plan that suits you and your need</p>
      </div>
    </div>
    <div class="row pt-5">
      <div class="toggle-switch">
        <button id="monthlyBtn" class="btn btn-monthly">Monthly</button>
        <button id="yearlyBtn" class="btn btn-yearly active">Yearly</button>
      </div>
    </div>
    <div class="row justify-content-center" style="padding-top: 100px;">
      <div class="col-12 col-sm-6 col-md-3 mb-4 filmy-card">
        <div class="dimond-img">
          <img src="assets/plans/dimonds/basic.png" alt="" class="img-fluid">
        </div>
        <div class="card text-white first-card">
          <div class="card-body-plan">
            <div class="mini-line"></div>
            <div class="basic-number">
              <button class=" basic-btn text-center">Basic</button>
              <h3>199 <img src="assets/svg-icons/ruppes.svg" alt="" class="img-fluid ruppes"> </h3>
              <img src="assets/plans/dimonds/curve.png" class="img-fluid" alt="">
              <div class="gold-info pt-5">
                <div class="videos">
                  <h5>Contact Numbers</h5>
                  <span>5</span>
                  <div class="small-line"></div>
                </div>
                <div class="videos">
                  <h5>Customer Support</h5>
                  <span>Yes</span>
                  <div class="small-line"></div>
                </div>
                <div class="videos">
                  <h5>Agent Support</h5>
                  <span>No</span>
                  <div class="small-line"></div>
                </div>
                <div class="videos">
                  <h5>Videos</h5>
                  <span>Yes</span>
                  <div class="small-line"></div>
                </div>
                <div class="sub pt-1">
                  <button class="btn subscribe text-center">Subscribe Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-4 filmy-card">
        <div class="dimond-img">
          <img src="assets/plans/dimonds/silver.png" alt="" class="img-fluid ">
        </div>
        <div class="card text-white first-card">
          <div class="card-body-plan">
            <div class="mini-line"></div>
            <div class="basic-number">
              <button class=" basic-btn text-center">Basic</button>
              <h3>299 <img src="assets/svg-icons/ruppes.svg" alt="" class="img-fluid ruppes"> </h3>
              <img src="assets/plans/dimonds/curve.png" class="img-fluid" alt="">
              <div class="gold-info pt-5">
                <div class="videos">
                  <h5>Contact Numbers</h5>
                  <span>10</span>
                  <div class="small-line"></div>
                </div>
                <div class="videos">
                  <h5>Customer Support</h5>
                  <span>Yes</span>
                  <div class="small-line"></div>
                </div>
                <div class="videos">
                  <h5>Agent Support</h5>
                  <span>No</span>
                  <div class="small-line"></div>
                </div>
                <div class="videos">
                  <h5>Videos</h5>
                  <span>Yes</span>
                  <div class="small-line"></div>
                </div>
                <div class="sub pt-1">
                  <button class="btn subscribe text-center">Subscribe Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-4 filmy-card">
        <div class="gold-card">
          <h3 class="most text-center">MOST POPULAR</h3>
          <div class="star-badge">
            <img src="assets/svg-icons/card-star.svg" alt="" class="img-fluid gold-star">
          </div>
          <div class="dimond-img">
            <img src="assets/plans/dimonds/gold.png" alt="" class="img-fluid ">
          </div>
          <div class="card text-white third-card">
            <div class="card-body-plan">
              <div class="mini-line"></div>
              <div class="basic-number">
                <button class=" basic-btn text-center">Gold</button>
                <h3>599 <img src="assets/svg-icons/ruppes.svg" alt="" class="img-fluid ruppes"> </h3>
                <img src="assets/plans/dimonds/curve.png" class="img-fluid" alt="">
                <div class="gold-info pt-5">
                  <div class="videos ">
                    <h5>Contact Numbers</h5>
                    <span>10</span>
                    <div class="small-line"></div>
                  </div>
                  <div class="videos">
                    <h5>Customer Support</h5>
                    <span>Yes</span>
                    <div class="small-line"></div>
                  </div>
                  <div class="videos">
                    <h5>Agent Support</h5>
                    <span>Yes</span>
                    <div class="small-line"></div>
                  </div>
                  <div class="videos">
                    <h5>Videos</h5>
                    <span>Yes</span>
                    <div class="small-line"></div>
                  </div>
                  <div class="gold-subscribe pt-5">
                    <button class="btn subscribe-now text-center">Subscribe Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="assets/svg-icons/shadow.svg" alt="" class="img-fluid shadow">
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-4 filmy-card">
        <div class="dimond-img">
          <img src="assets/plans/dimonds/platinum.png" alt="" class="img-fluid ">
        </div>
        <div class="card text-white first-card">
          <div class="card-body-plan">
            <div class="mini-line"></div>
            <div class="basic-number">
              <button class=" basic-btn text-center">Platinum</button>
              <h3>1099 <img src="assets/svg-icons/ruppes.svg" alt="" class="img-fluid ruppes"> </h3>
              <img src="assets/plans/dimonds/curve.png" class="img-fluid" alt="">
              <div class="gold-info pt-5">
                <div class="videos">
                  <h5>Contact Numbers</h5>
                  <span>20</span>
                  <div class="small-line"></div>
                </div>
                <div class="videos">
                  <h5>Customer Support</h5>
                  <span>Yes</span>
                  <div class="small-line"></div>
                </div>
                <div class="videos">
                  <h5>Agent Support</h5>
                  <span>Yes</span>
                  <div class="small-line"></div>
                </div>
                <div class="videos">
                  <h5>Videos</h5>
                  <span>Yes</span>
                  <div class="small-line"></div>
                </div>
                <div class="sub pt-1">
                  <button class="btn subscribe text-center">Subscribe Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<app-startjourney [bgImage]="bgImage"></app-startjourney>
<app-footer></app-footer>
