<section class="header-images roboto-font" [ngStyle]="{'background-image': 'url(' + backgroundImageUrl + ')'} ">
  <div class="container">
    <div class="row">
      <div class="text-center text-white build-high ">
        <h1 class="main-title ">Unlock Unlimited Access And Endless
          Possibilities With Our Subscription Plan</h1>
        <p>High quality Celebrity profile and contact just for you only, what
          are you waiting for? Let's join us.</p>
      </div>
    </div>
    <div class="d-flex  justify-content-center flex-direction-column align-items-center">
      <div class="line"></div>
    </div>
  </div>
</section>

<section class="bg-middle roboto-font">
  <div class="container text-center py-5">
    <h2>Choose your subscription plan</h2>
    <p>Choose the subscription plan that suits you and your need</p>

    <div class="btn-group mb-4" role="group" aria-label="Subscription plan toggle">
      <button type="button" class="btn btn-outline-primary">Monthly</button>
      <button type="button" class="btn btn-outline-primary">Yearly</button>
     </div>

    <div class="row justify-content-center pt-5">
      <!-- Basic Plan -->
      <div class="col-md-3">
        <div class="dimond-img">
          <img src="assets/plans/dimonds/basic.png" alt="" class="img-fluid">
        </div>
        <div class="card text-white first-card" >
          <div class="card-body-plan">
            <div class="mini-line"></div>
            <div class="basic-number">
              <button class=" basic-btn text-center">Basic</button>
              <h3>199 <img src="assets/svg-icons/ruppes.svg" alt="" class="img-fluid ruppes"> </h3>
              <img src="assets/plans/dimonds/curve.png" class="img-fluid" alt="">
              <div class="videos pt-3">
                <h5>Contact Numbers</h5>
                <span>5</span>
                <div class="small-line"></div>
              </div>
              <div class="videos">
                <h5>Customer Support</h5>
                <span>Yes</span>
                <div class="small-line"></div>
              </div>
              <div class="videos">
                <h5>Agent Support</h5>
                <span>No</span>
                <div class="small-line"></div>
              </div>
              <div class="videos">
                <h5>Videos</h5>
                <span>Yes</span>
                <div class="small-line"></div>
              </div>
              <div class="sub pt-4">
                <button class="btn subscribe text-center">Subscribe Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Silver Plan -->
       <div class="col-md-3">
        <div class="dimond-img">
          <img src="assets/plans/dimonds/silver.png" alt="" class="img-fluid ">
        </div>
        <div class="card text-white first-card" >
          <div class="card-body-plan">
            <div class="mini-line"></div>
            <div class="basic-number">
              <button class=" basic-btn text-center">Basic</button>
              <h3>299 <img src="assets/svg-icons/ruppes.svg" alt="" class="img-fluid ruppes"> </h3>
              <img src="assets/plans/dimonds/curve.png" class="img-fluid" alt="">
              <div class="videos pt-3">
                <h5>Contact Numbers</h5>
                <span>10</span>
                <div class="small-line"></div>
              </div>
              <div class="videos">
                <h5>Customer Support</h5>
                <span>Yes</span>
                <div class="small-line"></div>
              </div>
              <div class="videos">
                <h5>Agent Support</h5>
                <span>No</span>
                <div class="small-line"></div>
              </div>
              <div class="videos">
                <h5>Videos</h5>
                <span>Yes</span>
                <div class="small-line"></div>
              </div>
              <div class="sub pt-4">
                <button class="btn subscribe text-center">Subscribe Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Gold Plan -->
       <div class="col-md-3">
        <h3 class="most">MOST POPULAR</h3>
        <div class="dimond-img">
          <img src="assets/plans/dimonds/gold.png" alt="" class="img-fluid ">
        </div>
        <div class="card text-white third-card" >
          <div class="card-body-plan">
            <div class="mini-line"></div>
            <div class="basic-number">
              <button class=" basic-btn text-center">Gold</button>
              <h3>599 <img src="assets/svg-icons/ruppes.svg" alt="" class="img-fluid ruppes"> </h3>
              <img src="assets/plans/dimonds/curve.png" class="img-fluid" alt="">
              <div class="videos pt-3">
                <h5>Contact Numbers</h5>
                <span>10</span>
                <div class="small-line"></div>
              </div>
              <div class="videos">
                <h5>Customer Support</h5>
                <span>Yes</span>
                <div class="small-line"></div>
              </div>
              <div class="videos">
                <h5>Agent Support</h5>
                <span>Yes</span>
                <div class="small-line"></div>
              </div>
              <div class="videos">
                <h5>Videos</h5>
                <span>Yes</span>
                <div class="small-line"></div>
              </div>
              <div class="sub pt-4">
                <button class="btn subscribe-now text-center">Subscribe Now</button>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <!-- Platinum Plan -->
       <div class="col-md-3">
        <div class="dimond-img">
          <img src="assets/plans/dimonds/platinum.png" alt="" class="img-fluid ">
        </div>
        <div class="card text-white first-card" >
          <div class="card-body-plan">
            <div class="mini-line"></div>
            <div class="basic-number">
              <button class=" basic-btn text-center">Platinum</button>
              <h3>1099 <img src="assets/svg-icons/ruppes.svg" alt="" class="img-fluid ruppes"> </h3>
              <img src="assets/plans/dimonds/curve.png" class="img-fluid" alt="">
              <div class="videos pt-3">
                <h5>Contact Numbers</h5>
                <span>20</span>
                <div class="small-line"></div>
              </div>
              <div class="videos">
                <h5>Customer Support</h5>
                <span>Yes</span>
                <div class="small-line"></div>
              </div>
              <div class="videos">
                <h5>Agent Support</h5>
                <span>Yes</span>
                <div class="small-line"></div>
              </div>
              <div class="videos">
                <h5>Videos</h5>
                <span>Yes</span>
                <div class="small-line"></div>
              </div>
              <div class="sub pt-4">
                <button class="btn subscribe text-center">Subscribe Now</button>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>

</section>