
 <section class="footer-navbar pb-4" style="background-color: #272727;">
  <app-navbar></app-navbar>
</section>


<section class="bg-middle roboto-font pt-5 talent-main pb-5">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="audits">
          <img src="assets/blogs/img-1.png" alt="" class="img-fluid audits-img">
          <p class="text-white pt-2">A Useful Guide On How To Avoid Coding Audits...</p>
        </div>
        <div class="audits">
          <img src="assets/blogs/img-2.png" alt="" class="img-fluid audits-img">
          <p class="text-white  pt-2">A Guide To The Documentation
            Guidelines Required...</p>
        </div>
        <div class="audits">
          <img src="assets/blogs/img-3.png" alt="" class="img-fluid audits-img">
          <p class="text-white  pt-2">RCM Strategies That Can Help in Improving Revenue...
          </p>
        </div>
      </div>
      <div class="col-1"> </div>
      <div class="col-9">
        <h3 class="text-white rcm-blogs">RCM Strategies That Can Help in Improving Revenue...</h3>
        <div class="post-info d-flex align-items-center">
          <span class="new-badge py-1 px-3  me-2">New</span>
          <span class="post-meta blog-posted">Posted: April 14, 2024 | Author: Admin, FilmyGems</span>
        </div>
        <div class="talent-img pt-3">
          <img src="assets/blogs/talent-show.png" alt="" class="img-fluid">
        </div>
        <div class="questions text-white pt-3">
          <h6 class="fw-bold">What media uploads are not allowed on Pixabay?</h6>
          <p class="pt-2">You are not allowed to upload media that have signatures, watermarks or are advertisement.
            This can be considered spamming and might lead to the closure of your account.
            You can also check our blog regarding upload guidelines for more information.</p>
          <h6 class="fw-bold">I am a creator. Can I earn money through Pixabay?</h6>
          <p class="pt-2">Pixabay is a free photo, illustration, video and music sharing website powered by our generous
            community
            of photographers, videographers, illustrators and musicians.
            While not required, users can make donations to artists to thank them for their contributions.
            Find out how under Downloads & Donations.</p>
          <h6 class="fw-bold">
            Why was my upload not accepted?
          </h6>
          <p class="pt-2">Uploads are declined if they do not meet our <u>quality guidelines. Learn more.</u> <br> My
            upload was accepted but doesn't show up on my profile. Why? <br>
            It usually takes a few minutes for new media to show up in your profile. In rare cases, it may take a few
            days.
            If many uploads are missing, please check our forum <u>(https://pixabay.com/forum/)</u> for any outages or
            contact us.</p>
          <h6 class="fw-bold">What do the labels "Featured" and "Publish" mean? </h6>
          <p class="pt-2">An upload that is marked as "Published" only appears in your profile. <br> An upload that is
            marked as
            "Featured" appears in your profile and additionally also shows up in the Pixabay search.</p>
          <p class="pt-2 pb-3">My music play numbers are not updating on my audio tracks. Why? <br>
            We update play numbers once a day, so it will take up to 24 hours for you to see changes.
            Please create a post here if you are still having issues after 24 hours.</p>
        </div>
        <div class="blogs-lines" style="border: 1px solid #3F3F3F; "></div>
        <div class="like d-flex pt-4">
          <img src="assets/svg-icons/like-icons.svg" alt="" class="img-fluid me-5">
          <img src="assets/svg-icons/heart-talent.svg" alt="" class="img-fluid me-5">
          <img src="assets/svg-icons/share-icons.svg" alt="" class="img-fluid  me-5">
        </div>
        <div class="blogs-textarea pt-3 pb-3">
          <textarea class="form-control contact-color text-white" placeholder="Share your feedback...."
            id="floatingTextarea"></textarea>
        </div>
        <button class="btn btn-all rounded-pill">Submit</button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
