
.otp-box{
  width: 44px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #111;
  color: #fff;
}

.otp-input-group {
  display: flex;
  gap: 8px;
}



.otp-box:focus {
  border-color: #0056b3;
  outline: none;
}





.timer {
  color: #0057FF; /* Cyan */
  font-size: 20px;
}


.try-again {
  color:  #0057FF;
  cursor: pointer;
}



.admin-link {
  color: #0057FF;
  text-decoration: none;
}

