<div class="header-Navbar roboto-font">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 justify-content-center align-items-center d-flex pt-4">
        <div class="text-info pe-5" routerLink="/dashboard">Admin</div>  <img src="assets/logo-img/gem_logo_without baseline.png" routerLink="/" alt="Logo" class="img-fluid logo-img">
      </div>
      <div class="col-lg-6 col-md-8 col-sm-12 order-lg-1 order-md-1  order-2">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid d-flex justify-content-between align-items-center">
            <!-- Custom Toggle Button -->
            <button id="toggle" class="navbar-toggler " type="button" (click)="toggleMenu()">
              <span></span>
            </button>
            
            <!-- Navbar Menu -->
            <div class="collapse navbar-collapse justify-content-end header-name" id="mynavbar">
              <ul class="navbar-nav pt-3">
                <li class="nav-item">
                  <a class="nav-link text-white pages-name" routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Create Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white pages-name" routerLink="/plans" routerLinkActive="active" ariaCurrentWhenActive="page">Plans</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white pages-name" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white pages-name" routerLink="/contact-us" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        </div>
      <div class="col-lg-3 col-md-4 col-sm-12 order-lg-2 order-md-2 order-1 order-sm-3 roboto-font">
        <div class="icons-join">
          <div class="d-flex align-items-center justify-content-center links-chart">
            <a class="text-white mx-3">
              <i class="fa-solid fa-cart-shopping custom-icon"></i>
            </a>
            <a class="text-white mx-3" href="#">
              <i class="fa-regular fa-bell custom-icon"></i>
            </a>
            <a class="text-white mx-3" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
              <i class="fa-regular fa-user custom-icon"></i>
            </a>
            <a class="join-ig d-flex ">
              <img src="assets/landing_Img/login-start.png" alt="Login" class="img-fluid me-2">
              <img src="assets/landing_Img/login-start.png" alt="Login" class="img-fluid me-2 rotate">
              <button class="btn join-btn text-dark" type="button" routerLink="/sign-up">Join Now</button>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
  <!--------Model Profile ---------->


  <!-- Modal Structure -->
  <div class="modal fade roboto-font" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg bg-white">
      <div class="modal-content">
        <div class="modal-header welcome-header d-flex justify-content-between align-items-center m-3 p-2">
          <div class="ajay-text d-flex justify-content-center align-items-center">
            <h5 class="welcome pt-1 ps-3">Welcome <strong>Ajay</strong></h5>
          </div>
          <div class="d-flex justify-content-end align-items-center me-2">
            <p class="last-login text-center me-4"><strong class="last-on">Last login on</strong> 02 May 2024, 10:32 PM
            </p>
            <button class="btn rounded-pill btn-edit" type="button" (click)="toggleEditMode()">Edit Now</button>
          </div>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 text-center">
                <img src="assets/profile/profile.png" alt="Profile Image" class=" img-fluid ">
                <img src="assets/svg-icons/upload.svg" alt="" class="img-fluid">
                <div class="facebook-insta d-flex justify-content-center pt-4">
                  <img src="assets/svg-icons/profile-facebook.svg" alt="" class="img-fluid pe-3">
                  <div class="profile-insta ml-3 ps-3">
                    <img src="assets/svg-icons/profile-insta.svg" alt="" class="img-fluid">
                  </div>
                </div>

              </div>
              <div class="col-md-9">
                <div *ngIf="!isEditMode">
                  <div class="profile-card">
                    <p>Full Name: <strong class="ms-4 ps-5 p-1">{{ profileForm.get('fullName')?.value
                      | maskPhoneNumber:'text'}}</strong></p>
                    <p class="">Subscription Plan: <strong class="ps-3">{{
                        profileForm.get('subscriptionPlan')?.value }}</strong></p>
                    <p>
                      Location: <strong class="custom-left-margin">{{ profileForm.get('location')?.value
                        }}</strong>
                    <!-- <p>Contact Number: <strong class="ms-4 ">{{
                        profileForm.get('contactNumber')?.value }}</strong></p> -->
                        <p>Contact Number:
                          <strong class="ms-4">{{ profileForm.get('contactNumber')?.value | maskPhoneNumber:'number' }}</strong>
                      </p>

                    <div class="bio-section d-flex">
                      <p>Bio: </p>
                      <div class="p-1 rounded bg-white border bio-text">
                        {{ profileForm.get('bio')?.value }}
                      </div>
                    </div>
                    <p class="text-muted pt-2">Weekly Newsletter : <label class="switch">
                        <input type="checkbox" [(ngModel)]="isToggled">
                        <span class="slider"></span>
                      </label>
                    </p>
                  </div>
                </div>
                <form *ngIf="isEditMode" [formGroup]="profileForm">
                  <div class="mb-3">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fullName" formControlName="fullName">
                  </div>
                  <div class="mb-3">
                    <label for="subscriptionPlan" class="form-label">Subscription Plan</label>
                    <input type="text" class="form-control" id="subscriptionPlan" formControlName="subscriptionPlan">
                  </div>
                  <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" formControlName="location">
                  </div>
                  <div class="mb-3">
                    <label for="contactNumber" class="form-label">Contact Number</label>
                    <input type="text" class="form-control" id="contactNumber" formControlName="contactNumber">
                  </div>
                  <div class="mb-3">
                    <label for="bio" class="form-label">Bio</label>
                    <textarea class="form-control" id="bio" formControlName="bio" rows="4"></textarea>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="model-footer d-flex justify-content-between pb-3">
          <div class="delete-profile ps-4">
            <a href="" class="text-delete text-decoration-none fw-bold ">Delete my profile</a>
          </div>
          <div class="save-close d-flex justify-content-end me-2">
            <button type="button" class="btn rounded-pill close py-2 px-3 my-0 mx-2"
              data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn join-btn">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>


   <!-- <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid d-flex justify-content-between align-items-center">
            <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"
              aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end header-name" id="mynavbar">
              <ul class="navbar-nav pt-3">
                <li class="nav-item">
                  <a class="nav-link text-white pages-name " routerLink="/profile" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Create Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white pages-name" routerLink="/plans" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Plans</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white pages-name" routerLink="/about" routerLinkActive="active"
                    ariaCurrentWhenActive="page">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white pages-name" routerLink="/contact-us" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav> -->

        <!-- <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid d-flex justify-content-between align-items-center">
            <button class="navbar-toggler  custom-toggler" type="button" (click)="isMenuOpen = !isMenuOpen"
              aria-controls="mynavbar" [attr.aria-expanded]="isMenuOpen" aria-label="Toggle navigation">
              <i class="fas" [ngClass]="isMenuOpen ? 'fa-times ' : 'fa-bars '"></i>
          </button>
            <div class="collapse navbar-collapse justify-content-end header-name" [ngClass]="{'show': isMenuOpen}" id="mynavbar">
              <ul class="navbar-nav pt-3">
                <li class="nav-item">
                  <a class="nav-link text-white pages-name" routerLink="/profile" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Create Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white pages-name" routerLink="/plans" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Plans</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white pages-name" routerLink="/about" routerLinkActive="active"
                    ariaCurrentWhenActive="page">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white pages-name" routerLink="/contact-us" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav> -->
        