/*
li.nav-item a.nav-link.active {
  color:#FFCF25 !important;
  text-decoration: underline;
  text-decoration-color: #FFCF25;
  text-underline-offset: 5px;
} */

.add-List-btn{
  background-color: #F3AD3B;
}
.modal2-width{
  width: 450px;
  height: auto;
  margin-left: 510px;
}

.carousel-indicators .active {
  background-color: #FFCF25;
}
.carousel-indicators [data-bs-target] {
  height: 5px !important;
}
