
<div class="header-Navbar">
  <div class="container">
      <div class="row">
          <div class="col-lg-9 col-md-8 col-sm-12 order-lg-1 order-md-1  order-2">
              <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="container-fluid d-flex justify-content-between align-items-center">
                      <img src="assets/logo-img/main-logo.png" alt="Logo" class="img-fluid logo-img">
                      <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
                          data-bs-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false"
                          aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse justify-content-end header-name " id="mynavbar">
                          <ul class="navbar-nav pt-3">
                              <li class="nav-item">
                                  <a class="nav-link text-white pages-name" routerLink="profile">Create Profile</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link text-white pages-name" routerLink="plans">Plans</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link text-white pages-name" href="#">About Us</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link text-white pages-name" href="#">Contact Us</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </nav>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-12 order-lg-2 order-md-2 order-1 order-sm-3">
              <div class="icons-join">
                  <div class="d-flex align-items-center justify-content-center links-chart">
                      <a class="text-white mx-3" href="#">
                          <i class="fa-solid fa-cart-shopping custom-icon"></i>
                      </a>
                      <a class="text-white mx-3" href="#">
                          <i class="fa-regular fa-bell custom-icon"></i>
                      </a>
                      <a class="text-white mx-3" href="#">
                          <i class="fa-regular fa-user custom-icon"></i>
                      </a>
                      <a href="#" class="join-ig d-flex ">
                          <img src="assets/landing_Img/login-start.png" alt="Login" class="img-fluid me-2">
                          <img src="assets/landing_Img/login-start.png" alt="Login" class="img-fluid me-2 rotate">

                          <button class="btn join-btn" type="button">Join Now</button>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


