<section class=" plan-images roboto-font" [ngStyle]="{'background-image': 'url(' + backgroundImageUrl + ')'}">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row">
      <div class="profiles-text">
        <div class="text-center text-white build-high pt-5">
          <h1 class="main-title ">Crafting Profiles That Leave An Impression , <br>
            Not Just A Digital Footprint</h1>
          <p>Let's start and create your profile with us for <br>
            better contacts and services..</p>
        </div>
      </div>
      <div class="d-flex  justify-content-center flex-direction-column align-items-center">
        <div class="line"></div>
      </div>
    </div>
  </div>
</section>


<section class="bg-middle text-white  roboto-font py-5">
  <div class="container">
    <h2 class="text-center text-profile ">Create Your Profile</h2>
    <div class="create-profile-page  rounded-4">
      <form [formGroup]="profileForm">
        <div class="row pt-3 justify-content-center  profile-color border-0 rounded-4 ">
          <div class="col-12 col-md-8 d-flex flex-column flex-md-row">
            <div class="border-0 profile-color p-3 d-flex flex-column align-items-center ps-5 ms-5 custom-padding">
              <div class="d-flex align-items-center justify-content-center flex-column rounded-4 border-1 custom-center"
                style="width: 170px; height: 200px; background-color: #777777; position: relative;">
                <img src="assets/svg-icons/camera.svg" alt="camera icon">
              </div>
              <div class="mt-2">
                <img src="assets/svg-icons/upload.svg" alt="upload icon">
              </div>
            </div>
            <div class="pt-4 custom-profiles">
              <div class="mb-3 mt-5 profile-last">
                <input type="text" class="form-control profile-color full-width-input" formControlName="firstName"
                  id="firstName" placeholder="First Name *">
                <small
                  *ngIf="profileForm.get('firstName')?.hasError('required') && (profileForm.get('firstName')?.dirty || profileForm.get('firstName')?.touched)"
                  class="text-danger">First Name is required.</small>
                <small
                  *ngIf="profileForm.get('firstName')?.hasError('minlength') && (profileForm.get('firstName')?.dirty || profileForm.get('firstName')?.touched)"
                  class="text-danger">First Name must be at least 3 characters long..</small>
              </div>
              <div class="mt-4 custom-bottom">
                <input type="text" class="form-control profile-color" formControlName="lastName" id="lastName"
                  placeholder="Last Name *">
                <small
                  *ngIf="profileForm.get('lastName')?.hasError('required') && (profileForm.get('lastName')?.dirty || profileForm.get('lastName')?.touched)"
                  class="text-danger">Last Name is required.</small>
                <small
                  *ngIf="profileForm.get('lastName')?.hasError('minlength') && (profileForm.get('lastName')?.dirty || profileForm.get('lastName')?.touched)"
                  class="text-danger">Last Name must be at least 3 characters long..</small>
              </div>
            </div>
          </div>
          <div class="row  p-3">
            <div class="col-12 col-md-4 custom-bottom">
              <input type="email" class="form-control profile-color" id="email" placeholder="Enter your email *"
                formControlName="email">
              <small
                *ngIf="profileForm.get('email')?.hasError('required') && (profileForm.get('email')?.dirty || profileForm.get('email')?.touched)"
                class="text-danger">Email is required.</small>
              <small
                *ngIf="profileForm.get('email')?.hasError('email') && (profileForm.get('email')?.dirty || profileForm.get('email')?.touched)"
                class="text-danger">Please enter a valid email address.</small>
              <small
                *ngIf="profileForm.get('email')?.hasError('pattern') && (profileForm.get('email')?.dirty || profileForm.get('email')?.touched)"
                class="text-danger">Email format is invalid.</small>
            </div>
            <div class="col-12 col-md-4 custom-bottom">
              <input type="text" class="form-control profile-color" formControlName="mobile" id="mobile"
                placeholder="Mobile Number *" pattern="\d*" maxlength="10"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
              <small
                *ngIf="profileForm.get('mobile')?.invalid && (profileForm.get('mobile')?.dirty || profileForm.get('mobile')?.touched)">
                <small *ngIf="profileForm.get('mobile')?.errors?.['required']" class="text-danger">
                  Mobile number is required.
                </small>
                <small *ngIf="profileForm.get('mobile')?.errors?.['pattern']" class="text-danger">
                  Please enter a valid 10-digit mobile number.
                </small>
              </small>
            </div>

            <div class="col-12 col-md-4 custom-bottom">
              <input type="text" class="form-control profile-color" formControlName="city" id="city"
                placeholder="Enter City *">
              <div
                *ngIf="profileForm.get('city')?.invalid && (profileForm.get('city')?.dirty || profileForm.get('city')?.touched)">
                <small *ngIf="profileForm.get('city')?.errors?.['required']" class="text-danger">City is
                  required.</small>
              </div>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-12 col-md-4 custom-bottom">
              <input type="text" class="form-control profile-color" formControlName="zip" id="zip"
                placeholder="Enter ZIP Code *" maxlength="6" pattern="\d{6}"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
              <span
                *ngIf="profileForm.get('zip')?.invalid && (profileForm.get('zip')?.dirty || profileForm.get('zip')?.touched)">
                <small *ngIf="profileForm.get('zip')?.errors?.['required']" class="text-danger">
                  ZIP Code is required.
                </small>
                <small *ngIf="profileForm.get('zip')?.errors?.['pattern']" class="text-danger">
                  ZIP Code must be 6 digits.
                </small>
              </span>
            </div>
            <div class="col-12 col-md-4 custom-bottom">
              <input type="text" class="form-control profile-color" formControlName="country" id="country"
                placeholder="Enter Country *">
              <span
                *ngIf="profileForm.get('country')?.invalid && (profileForm.get('country')?.dirty || profileForm.get('country')?.touched)">
                <small *ngIf="profileForm.get('country')?.errors?.['required']" class="text-danger">Country is
                  required.</small>
              </span>
            </div>
            <div class="col-12 col-md-4 custom-bottom">
              <input type="text" class="form-control profile-color" id="facebook id" placeholder="facebook id">
            </div>
          </div>
          <div class="row p-3">
            <div class="col-12 col-md-4 custom-bottom">
              <p-calendar class="profile-color" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
                placeholder="date of birth  (dd/mm/yyyy)" />
            </div>
            <div class="col-12 col-md-4 custom-bottom">
              <select class="form-select select-gold" id="language" style="background-color: #F3AD3B;">
                <option class="bg-warning" value="" selected>identification type</option>
                <option value="Aadhar">Aadhar Card</option>
                <option value="Passport">Passport</option>
                <option value="DriversLicense">Driver's License</option>
                <option value="PAN">PAN Card</option>
                <option value="RationCard">Others</option>
              </select>
            </div>
            <div class="col-12 col-md-4 d-flex align-items-center custom-bottom">
              <img src="assets/svg-icons/file-upload-icons.svg" alt="" class="upload-icon">
              <small class="ps-2 mt-2" style="font-size: 16px;">Upload file (png/jpeg/pdf)<br>File size must be
                up to 2MB</small>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-12 col-md-4 custom-bottom">
              <input type="text" class="form-control profile-color" id="facebook url" placeholder="facebook url">
            </div>
            <div class="col-12 col-md-4 custom-bottom">
              <input type="text" class="form-control profile-color" id="facebook url" placeholder="insta url">
            </div>
            <div class="col-12 col-md-4 custom-bottom">
              <input type="text" class="form-control profile-color" id="facebook url" placeholder="twitter url">
            </div>
          </div>
          <div class="row p-3">
            <div class="col-12 col-md-4 custom-bottom">
              <input type="text" class="form-control profile-color" id="youtube url" placeholder="youtube url">
            </div>
            <div class="col-12 col-md-4 custom-bottom">
              <input type="text" class="form-control profile-color" id="imdb id" placeholder="imdb id">
            </div>
            <div class="col-12 col-md-4 custom-bottom">
              <input type="text" class="form-control profile-color" id="wikipedia id" placeholder="wikipedia id">
            </div>
          </div>
          <div class="row p-3">
            <div class="col-12 col-md-8 custom-bottom">
              <div class="form-floating">
                <textarea class="form-control profile-color rounded-2 p-3 custom-textarea"
                  placeholder="Type your details bio here..." style="height: 127px;"></textarea>
              </div>
            </div>
            <div class="col-12 col-md-4 custom-bottom">
              <div class="dropdown-container">
                <select class="form-select select-gold scrollable-options mb-3" data-bs-spy="scroll">
                  <option multiple value="" selected>Category/Gems</option>
                  <option value="artist">Artist</option>
                  <option value="director">Director</option>
                  <option value="casting-director">Casting Director</option>
                  <option value="assistant-director">Assistant Director</option>
                  <option value="associate-director">Associate Director</option>
                  <option value="executive-producer">Executive Producer</option>
                  <option value="production-manager">Production Manager</option>
                  <option value="line-producer">Line Producer</option>
                </select>
                <select class="form-select select-gold" id="language" style="background-color: #F3AD3B;">
                  <option class="bg-warning" value="" selected>Select Language</option>
                  <option value="english">English</option>
                  <option value="spanish">Spanish</option>
                  <option value="french">French</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row py-5 file-upload">
          <div class="drag-drop d-flex  rounded-4">
            <div class="  col-lg-8 col-md-8 col-sm-12 p-3">
              <div class="rounded-4 custom-border profile-color text-center pt-3">
                <img src="assets/svg-icons/cloud.svg" alt="" style="width:77px; height:66px;">
                <p class="file-name" style="font-size:24px">Drag & Drop file here <br> or</p>
                <button type="button"
                  class="btn btn-all rounded-pill d-flex align-items-center justify-content-center mx-auto">
                  <img src="assets/svg-icons/file-icons.svg" alt="attachment icon" style="width: 20px; height: 20px;"
                    class="me-2">
                  Choose file
                </button>
                <p class="mt-2 text-primary">Maximum upload size 2MB</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 p-3">
              <div class="file-list">
                <div class="file-item mb-2 d-flex align-items-center pt-2">
                  <img src="https://via.placeholder.com/40" alt="Thumbnail" class="img-fluid file-thumbnail me-2">
                  <span class="file-name">image1.png</span>
                  <button type="button" class="btn-closes ms-auto">X</button>
                </div>
                <div class="file-item mb-2 d-flex align-items-center">
                  <img src="https://via.placeholder.com/40" alt="Thumbnail" class="img-fluid file-thumbnail me-2">
                  <span class="file-name">image2.png</span>
                  <button type="button" class="btn-closes ms-auto">X</button>
                </div>
                <div class="file-item mb-2 d-flex align-items-center">
                  <img src="https://via.placeholder.com/40" alt="Thumbnail" class="img-fluid file-thumbnail me-2">
                  <span class="file-name">image3.png</span>
                  <button type="button" class="btn-closes ms-auto">X</button>
                </div>
                <div class="file-item">
                  <div class="row">
                    <div class="videos-dives d-flex align-items-center">
                      <video width="50" style="background-color: #2B2B2B; height: 31.27px;" controls>
                        <source src="video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                      <span class="file-name me-auto">video.mp4</span>
                      <button type="button" class="btn-closes ms-2">X</button>
                    </div>
                  </div>
                  <div class="row" style="padding: 0px 10px;">
                    <div class="progress mt-1" style="width: 100%; height: 12px;">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 60%;" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="termsCheck" required>
              <label class="form-check-label" for="termsCheck">
                By signing up, you agree to our <a href="#" class="link-primary">conditions</a> & <a href="#"
                  class="link-primary">privacy policy</a>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center mb-3 pt-3">
            <button type="button"
              class="btn btn-outline-light me-2 rounded-pill cancel-btn cancel-moblie">Cancel</button>
            <p-toast />
            <p-confirmDialog />
            <button type="button" class="btn btn-all rounded-pill" (click)="confirm1($event)" style="width:200px">
              Save
            </button >
            <!-- <p-button (onClick)="confirm1($event)" label="Save"  class="btn-all rounded-pill" /> -->
            <!-- <button type="button" class="btn btn-all rounded-pill" (onClick)="confirm1($event)">Save</button> -->
          </div>
        </div>
      </form>
    </div>
    <div class="row align-items-center justify-content-center mb-5 pt-4">
      <div class="col-9">
        <div class="custom-container p-2 d-flex  align-items-center justify-content-center">
          <div class="text-error pb-3">
            <img src="assets/svg-icons/Vector.svg" alt="info icon">
          </div>
          <div class="text-container ps-3">
            <p>May our information be kept secure and our online experiences remain private. Cheers to transparency,
              consent, and encryption - the essential ingredients for a safer digital future!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-startjourney [bgImage]="bgImage"></app-startjourney>


<app-footer></app-footer>
