.sidebar-wraper{
    background-color: black;
  }
      .imgProfile{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ccc;
      }
      .iconHeader{
        margin-right: 25px;
      }
      .profileContent{
        margin-left: 10px;
        margin-right: 10px;
      }
      .headerProfileAdmin{
        color: #9F9F9F;
        /* text-decoration: #9F9F9F; */
      
      }
      .filterButton{
        border-radius: 50px;
      padding: 18px;
      /* padding: 15px 15px 20px 15px; */
      border: 1px solid white;
      background-color: #e8f0f0;
      }
      
      /* Download Button */
      .btnCss {
        background-color:#F3AD3B;
      border: none;
      color: #000000;
      padding: 15px;
      cursor: pointer;
      font-size: 16px;
      border-radius: 50px;
      font-weight: 500;
      margin-left: 25px;
      }
      .dialog-close-btn{
        border-radius: 50px;
        padding: 15px;
      }
      .modal-input-bg{
        background-color:#F3AD3B;
        color: #000000;
      }
      .table-bg{
        /* background: #F1F5F7; */
  
      }
      .table-wraper{
        /* background: #F1F5F7;
      padding: 20px;
      border-radius: 30px; */
      }