<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 g-0">
            <app-login-carasoual></app-login-carasoual>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 sign-bg roboto-font">
            <div class="justify-content-end signup-dimond">
                <img src="assets/landing_Img/diamond_right.png" alt="" class="img-fluid">
            </div>
            <div class="text-center ms-lg-4 ms-md-4 ms-sm-0 ps-lg-3 ps-md-3 ps-sm-0 mb-lg-0 mb-md-0 mb-3 mt-lg-0 mt-md-0 mt-3">
                <img src="assets/logo-img/gem_logo_without baseline.png" alt="" class="img-fluid">
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10 col-sm-12">
                    <div class="text-white mt-lg-5 mt-md-5 mt-sm-3 mb-3">
                        <h4 style="line-height: 0.5;">Reset Password</h4>
                        <p class="role py-lg-2 py-md-2 py-sm-2">Use at least 8 Characters with a combination of Upper
                            case Letters and Numbers.</p>
                    </div>
                    <div class="mb-lg-4 mb-md-4 mb-sm-4 position-relative">
                        <input [type]="showPassword1 ? 'text' : 'password'"
                            class="form-control text-white fill-form mb-3" placeholder="enter new password" required />
                        <span class="position-absolute end-0 top-50 translate-middle-y pe-lg-3 pe-md-3 pe-3"
                            (click)="togglePassword(1)">
                            <i
                                [ngClass]="showPassword1 ? 'fas fa-eye-slash text-white' : 'fas fa-eye text-white'"></i>
                        </span>
                    </div>
                    <div class="mb-lg-4 mb-md-4 mb-sm-4 position-relative">
                        <input [type]="showPassword2 ? 'text' : 'password'"
                            class="form-control text-white fill-form mb-3" placeholder="confirm password" required />
                        <span class="position-absolute end-0 top-50 translate-middle-y pe-lg-3 pe-md-3 pe-3"
                            (click)="togglePassword(2)">
                            <i
                                [ngClass]="showPassword2 ? 'fas fa-eye-slash text-white' : 'fas fa-eye text-white'"></i>
                        </span>
                    </div>
                    <div class=" text-center login-signup rounded-2 mb-lg-2 mb-md-2 mb-2 my-lg-2 my-md-2 my-sm-1">
                        <button class="btn text-white" routerLink="/continue & login">Continue</button>
                    </div>
                    <div class="text-center text-white mb-5" style="font-size: 14px;">
                        Trouble in login? <span style="color: #0057FF;" routerLink="/sign-up">Admin</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="" style="border: 5px solid orange;position: absolute;top: 100vh;"></div>
    </div>
</div>
