<div class="container-fluid roboto-font">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 g-0">
            <app-login-carasoual></app-login-carasoual>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 sign-bg">
            <div class="justify-content-end signup-dimond">
                <img src="assets/landing_Img/right-top-dimond.png" alt="" class="img-fluid">
            </div>
            <div class="text-center ms-lg-4 ms-md-4 ms-sm-0 ps-lg-3 ps-md-3 ps-sm-0 mb-lg-0 mb-md-0 mb-3 pt-lg-3 pt-md-3 pt-3">
                <img src="assets/logo-img/gem_logo_without baseline.png" routerLink="/" alt="" class="img-fluid">
            </div>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="continueLogin()">
                <div class="row justify-content-center g-0">
                  <div class="col-lg-7 col-md-10 col-sm-12">
                    <div class="text-white mt-lg-5 mt-md-5 mt-sm-3 mb-3">
                      <h4 style="line-height: 0.5;">Reset Password</h4>
                      <p class="role py-lg-2 py-md-2 py-sm-2">
                        Use at least 8 Characters with a combination of Upper case Letters and Numbers.
                      </p>
                    </div>
              
                    <!-- New Password -->
                    <div class="mb-lg-4 mb-md-4 mb-sm-4 position-relative">
                      <input
                        [type]="showPassword1 ? 'text' : 'password'"
                        class="form-control text-white fill-form mb-3"
                        placeholder="Enter new password"
                        formControlName="newPassword"
                      />
                      <span
                        class="position-absolute end-0 top-50 translate-middle-y pe-lg-3 pe-md-3 pe-3"
                        (click)="togglePassword(1)"
                      >
                        <i
                          [ngClass]="showPassword1 ? 'fas fa-eye-slash text-white' : 'fas fa-eye text-white'"
                        ></i>
                      </span>
                      <div *ngIf="resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.invalid" class="text-danger">
                        <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">Password is required.</small>
                        <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 8 characters.</small>
                        <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']">Password must include uppercase letters and numbers.</small>
                      </div>
                    </div>
              
                    <!-- Confirm Password -->
                    <div class="mb-lg-4 mb-md-4 mb-sm-4 position-relative">
                      <input
                        [type]="showPassword2 ? 'text' : 'password'"
                        class="form-control text-white fill-form mb-3"
                        placeholder="Confirm password"
                        formControlName="confirmPassword"
                      />
                      <span
                        class="position-absolute end-0 top-50 translate-middle-y pe-lg-3 pe-md-3 pe-3"
                        (click)="togglePassword(2)"
                      >
                        <i
                          [ngClass]="showPassword2 ? 'fas fa-eye-slash text-white' : 'fas fa-eye text-white'"
                        ></i>
                      </span>
                      <div *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('confirmPassword')?.touched" class="text-danger">
                        <small>Passwords do not match.</small>
                      </div>
                    </div>
              
                    <!-- Submit Button -->
                    <div class="text-center login-signup rounded-2 mb-lg-2 mb-md-2 mb-2 my-lg-2 my-md-2 my-sm-1">
                      <button class="btn text-white" type="submit" [disabled]="resetPasswordForm.invalid">Continue</button>
                    </div>
                  </div>
                </div>
              </form>
              
              
        </div>
        <div class="separator-line position-absolute"></div>
          </div>
</div>
