<div class="container-fluid">
    <div class="row g-0">
        <div class="col-8">
            <app-login-carasoual></app-login-carasoual>
        </div>
        <div class="col-4 sign-bg roboto-font">
            <div class="justify-content-end signup-dimond">
                <img src="assets/landing_Img/diamond_right.png" alt="" class="img-fluid">
            </div>
            <div class="text-center">
                <img src="assets/signup/signup-logo.png" alt="" class="img-fluid">
            </div>
            <div class="row  text-white pt-4">
                <div class="row d-flex justify-content-center p-5 ms-5">
                    <form class="ms-4">
                        <div class="col-10">
                            <h4 style="line-height: 0.5;">Reset Password</h4>
                            <p class="role">Use at least 8 Characters with a combination of Upper
                                case Letters and Numbers.</p>
                        </div>
                        <div class="col-8 mb-3 position-relative">
                            <input [type]="showPassword1 ? 'text' : 'password'"
                                class="form-control text-white fill-form" placeholder="enter new password" required />
                            <span class="position-absolute end-0 top-50 translate-middle-y pe-3"
                                (click)="togglePassword(1)">
                                <i
                                    [ngClass]="showPassword1 ? 'fas fa-eye-slash text-white' : 'fas fa-eye text-white'"></i>
                            </span>
                        </div>
                        <div class="col-8 mb-4 position-relative">
                            <input [type]="showPassword2 ? 'text' : 'password'"
                                class="form-control text-white fill-form" placeholder="confirm password" required />
                            <span class="position-absolute end-0 top-50 translate-middle-y pe-3"
                                (click)="togglePassword(2)">
                                <i
                                    [ngClass]="showPassword2 ? 'fas fa-eye-slash text-white' : 'fas fa-eye text-white'"></i>
                            </span>
                        </div>
                        <div class="col-8 text-center login-signup rounded-2 mb-3">
                            <button class="btn text-white " routerLink="/continue & login">Continue</button>
                        </div>
                        <div class="text-white ps-5 ms-2" style="font-size: 14px;">
                            Trouble in login? <span style="color: #0057FF;" routerLink="/sign-up">Admin</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>