
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active custom-dot me-2"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" class="custom-dot me-2"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" class="custom-dot me-2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
       <div class="carousel-item active">
        <div class="slider-container">
          <img src="assets/signup/signup.png" class="d-block" alt="Slide Image" style="height: 716px;width: 100%;">
          <div class="overlay-content position-absolute">
            <div class="text-with-icon">
              <img src="assets/svg-icons/sign-up.svg" alt="Icon" class="small-icon  position-relative">
              <h2 class="overlay-text fw-light">
                Uncover the <br>
                internet's hidden <br>
                Gems with ease.
              </h2>
            </div>
          </div>
        </div>
        <div class="signup-right-dimond position-absolute">
          <img src="assets/signup/signup-right-diamond.png" alt="Diamond" class="img-fluid">
        </div>
      </div>
       <div class="carousel-item ">
        <div class="slider-container">
          <img src="assets/signup/login.png" class="d-block" alt="Slide Image" style="height: 716px;width: 100%;">
          <div class="overlay-content position-absolute">
            <div class="text-with-icon">
              <img src="assets/svg-icons/sign-up.svg" alt="Icon" class="small-icon  position-relative">
              <h2 class="overlay-text fw-light">
                Fashion is about <br>
                dreaming and making <br>
                other people dream.
              </h2>
            </div>
          </div>
        </div>
        <div class="signup-right-dimond position-absolute">
          <img src="assets/signup/signup-right-diamond.png" alt="Diamond" class="img-fluid">
        </div>
      </div>
      <div class="carousel-item ">
        <div class="slider-container">
          <img src="assets/signup/send-otp.png" class="d-block" alt="Slide Image" style="height: 716px;width: 100%;">
          <div class="all-celebrites position-absolute">
            <div class="leaf-content d-flex align-items-center">
              <img src="assets/svg-icons/login-left-leaf.svg" alt="" class="img-fluid">
              <h2 class="text-center  fw-light">Grab your popcorn and <br>
                get ready for a night of glitz, <br>
                glamour, and the thrill of victory.</h2>
              <img src="assets/svg-icons/login-right-leaf.svg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="signup-right-dimond position-absolute">
          <img src="assets/signup/signup-right-diamond.png" alt="Diamond" class="img-fluid">
        </div>
      </div> 
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      </button>
    </div>
    
  </div>

