<div class=" searching-bar  pt-4">
    <div class="search-box d-flex align-items-center">
        <i class="fas fa-search"></i>
        <input type="text" class="form-control border-0"
            placeholder="Search by film or profile name or check categories...">
        <div class="dropdown">
            <button class="btn gems-category fw-bold text-dark border-start border-3 " type="button"
                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Gems Category <i class="fa fa-chevron-down text-dark ps-2"></i>
            </button>
            <ul class="dropdown-menu scroll" data-bs-spy="scroll" data-bs-target=".dropdown-menu"
                data-bs-offset="50" aria-labelledby="dropdownMenuButton1"
                style="max-height: 200px; overflow-y: auto;">
                <li><a class="dropdown-item" href="#">Artist</a></li>
                <li><a class="dropdown-item" href="#">Director</a></li>
                <li><a class="dropdown-item" href="#">Casting Director</a></li>
                <li><a class="dropdown-item" href="#">Assistant Director</a></li>
                <li><a class="dropdown-item" href="#">Associate Director</a></li>
                <li><a class="dropdown-item" href="#">Executive Producer</a></li>
                <li><a class="dropdown-item" href="#">Production Manager</a></li>
                <li><a class="dropdown-item" href="#">Artist</a></li>
                <li><a class="dropdown-item" href="#">Director</a></li>
                <li><a class="dropdown-item" href="#">Casting Director</a></li>
                <li><a class="dropdown-item" href="#">Associate Director</a></li>
                <li><a class="dropdown-item" href="#">Executive Producer</a></li>
            </ul>
        </div>
    </div>
</div>