<div class=" justify-content-center d-flex  pt-4 roboto-font ">
    <div class="search-box d-flex align-items-center">
        <img src="assets/svg-icons/search icon-landing.svg" alt="" class="ps-2 pe-3">
        <!-- <i class="fas fa-search ps-2 pe-3 search-box-i display-5"></i> -->
        <input type="text" class="form-control border-0 search-caret"
            placeholder="Search by film or profile name or check categories...">
        <div class=" py-1 mt-2 border-start border-3" style="border-color: #C4C4C4">
            <div class="dropdown">
                <button class="btn border-0 actor-name ps-2" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Gems categories <i class="fa fa-chevron-down text-dark ms-1"></i>
                </button>
                <ul class="dropdown-menu search-header-dropmenu" style="width: 310px">
                    <div class="scroll scroll_Bar py-2 me-2 mb-3"
                        style="max-height: 195px; overflow-y: auto;inset: 0px auto auto 15px; ">
                        <li><a class="dropdown-item" href="#">Artist</a></li>
                        <li><a class="dropdown-item" href="#">Director</a></li>
                        <li><a class="dropdown-item" href="#">Casting Director</a></li>
                        <li><a class="dropdown-item" href="#">Assistant Director</a></li>
                        <li><a class="dropdown-item" href="#">Associate Director</a></li>
                        <li><a class="dropdown-item" href="#">Executive Producer</a></li>
                        <li><a class="dropdown-item" href="#">Production Manager</a></li>
                        <li><a class="dropdown-item" href="#">Artist</a></li>
                        <li><a class="dropdown-item" href="#">Director</a></li>
                        <li><a class="dropdown-item" href="#">Casting Director</a></li>
                        <li><a class="dropdown-item" href="#">Associate Director</a></li>
                        <li><a class="dropdown-item" href="#">Executive Producer</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>