<div class="container-fluid roboto-font">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 g-0">
      <app-login-carasoual></app-login-carasoual>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 sign-bg">
      <div class="justify-content-end signup-dimond">
        <img src="assets/landing_Img/right-top-dimond.png"  class="img-fluid">
      </div>
      <div
        class="text-center  mt-3">
        <img src="assets/logo-img/gem_logo_without baseline.png" routerLink="/" alt="" class="img-fluid">
      </div>
      <div class="row justify-content-center g-0">
        <div class="col-lg-7 col-md-10 col-sm-12">
          <div class="text-white pt-5">
            <h4 style="line-height :0.2;">Forgot Password?</h4>
            <p class="role ">
              No worries, we will send you reset instruction</p>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control text-white fill-form" placeholder="enter your registered email..."
            required>
           </div>

          <div class="text-center login-signup rounded-1 mb-3">
            <button class="btn text-white" routerLink="/reset-pass">Send</button>
          </div>

          <div class="text-center text-white pt-1" style="font-size: 14px;">
            Trouble in login? <span style="color: #0057FF;" routerLink="/login">Admin</span>
          </div>
        </div>
      </div>
    </div>
    <div class="separator-line position-absolute"></div>
  </div>
</div>
