<section class=" plan-images roboto-font" [ngStyle]="{'background-image': 'url(' + backgroundImageUrl + ')'}">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row">
      <div class="profiles-text text-center">
        <div class=" text-white build-high pt-5">
          <h1 class="main-title ">Communication Is Key. Let's Unlock <br>
            Possibilities Together </h1>
          <p>We're more than pixels on a screen. Let's connect,<br>
            Let's talk! Your feedback fuels our journey.</p>
        </div>
      </div>
      <div class="d-flex  justify-content-center flex-direction-column align-items-center">
        <div class="line"></div>
      </div>
    </div>
  </div>
</section>
<section class="bg-middle roboto-font">
  <div class="container">
    <form [formGroup]="contactForm">
      <div class="row pt-5">
        <div class="col-12">
          <h3 class="contact-us text-white">Contact Us</h3>
        </div>
        <div class="col-lg-6 pt-3">
          <div class="row">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
              <div class="form-group">
                <input type="text" class="form-control  contact-color " formControlName="firstName" id="firstName"
                  placeholder="" (input)="onInputChange($event, 'firstName')" />
                <label [class.hidden]="inputStates['firstName']" for="firstName" class="custom-placeholder">
                  First Name <span class="text-danger">*</span>
                </label>
              </div>
              <div *ngIf="formControls.firstName.invalid && formControls.firstName.touched" class="text-danger">
                First Name is required and must contain only letters.
              </div>
            </div>
            <div class="col-12  col-md-6 mb-3 mb-md-0">
              <div class="form-group">
                <input type="text" class="form-control contact-color " formControlName="lastName" id="lastName"
                  placeholder="" (input)="onInputChange($event, 'lastName')" />
                <label [class.hidden]="inputStates['lastName']" for="lastName" class="custom-placeholder">
                  Last Name <span class="text-danger">*</span>
                </label>
              </div>
              <div *ngIf="formControls.lastName.invalid && formControls.lastName.touched" class="text-danger">
                Last Name is required and must contain only letters.
              </div>
            </div>
          </div>

          <div class="row pt-3">
            <div class="col-12  col-md-6 mb-3 mb-md-0">
              <div class="form-group">
                <input type="text" class="form-control contact-color " formControlName="email" id="email" placeholder=""
                  (input)="onInputChange($event, 'email')" />
                <label [class.hidden]="inputStates['email']" for="email" class="custom-placeholder">
                  Email <span class="text-danger">*</span>
                </label>
              </div>
              <div *ngIf="formControls.email.invalid && formControls.email.touched" class="text-danger">
                A valid email address is required.
              </div>
            </div>
            <div class="col-12  col-md-6 mb-3 mb-md-0">
              <div class="form-group">
                <input type="text" class="form-control contact-color " formControlName="phone" id="phone" placeholder=""
                  (input)="onInputChange($event, 'phone')" (input)="onPhoneInput($event)" />
                <label [class.hidden]="inputStates['phone']" for="phone" class="custom-placeholder">
                  Phone Number <span class="text-danger">*</span>
                </label>
              </div>
              <div *ngIf="formControls.phone.invalid && formControls.phone.touched" class="text-danger">
                <div *ngIf="formControls.phone.errors?.required">Phone number is required.</div>
                <div *ngIf="formControls.phone.errors?.pattern">Phone number must be a 10-digit number.</div>
              </div>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-12">
              <div class="form-group">
                <input type="text" class="form-control contact-color " formControlName="subject" id="subject"
                  placeholder="" (input)="onInputChange($event, 'subject')" />
                <label [class.hidden]="inputStates['subject']" for="subject" class="custom-placeholder">
                  Subject <span class="text-danger">*</span>
                </label>
              </div>
              <div *ngIf="formControls.subject.invalid && formControls.subject.touched" class="text-danger">
                Subject is required.
              </div>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-12">
              <div class="form-floating">
                <!-- <textarea class="form-control contact-color" formControlName="message" placeholder="Your message*"
                  style="height: 127px;"></textarea> -->
                <div class="form-group">
                  <textarea class="form-control contact-color" formControlName="message" placeholder=""
                    style="height: 127px;" (input)="onInputChange($event, 'message')"></textarea>
                  <label [class.hidden]="inputStates['message']" class="custom-placeholder">
                    Your Message <span class="text-danger">*</span>
                  </label>
                </div>
                <div *ngIf="formControls.message.invalid && formControls.message.touched" class="text-danger">
                  Message is required and should have at least 10 characters.
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-12">
              <button class="btn btn-all rounded-pill" type="button">Submit</button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 pt-3">
          <img src="assets/contactUs/map.png" alt="Map" class="img-fluid">
        </div>
      </div>
    </form>
    <div class="row pt-5">
      <div class="col-12">
        <h3 class="corporate-contact text-white">Corporate Offices:</h3>
      </div>
      <div class="row pt-4 pb-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4">
          <div class="usa-blog ">
            <div class="country-imges d-flex  ">
              <img src="assets/svg-icons/usa.svg" alt="USA" class="img-fluid contries" style="max-width: 50px;">
              <h4 class="text-white bold" style="padding-left: 10px;">USA</h4>
            </div>
            <p class="text-white">
              2493 Forest Meadows, CT SE<br>
              Grand Rapids, MI, 49546 USA<br>
              Contact No.: +616 7245366<br>
              usa&#64;filmygems.com
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4">
          <div class="usa-blog ">
            <div class="country-imges d-flex  ">
              <img src="assets/svg-icons/dubai.svg" alt="Dubai" class="img-fluid contries" style="max-width: 50px;">
              <h4 class="text-white bold" style="padding-left: 10px;">Dubai</h4>
            </div>
            <p class="text-white">
              Al Barsha Rd, Al Barsha, Dubai (UAE)<br>
              Contact No.: +971 526260095<br>
              uae&#64;filmygems.com
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4">
          <div class="usa-blog ">
            <div class="country-imges d-flex ">
              <img src="assets/svg-icons/london.svg" alt="London" class="img-fluid contries" style="max-width: 50px;">
              <h4 class="text-white bold" style="padding-left: 10px;">London</h4>
            </div>
            <p class="text-white">
              Regent's Park, London, NW1 8SA, UK<br>
              Contact No.: +44 794210454<br>
              uk&#64;filmygems.com
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4">
          <div class="usa-blog ">
            <div class="country-imges d-flex ">
              <img src="assets/svg-icons/zealand.svg" alt="New Zealand" class="img-fluid contries"
                style="max-width: 50px;">
              <h4 class="text-white bold" style="padding-left: 10px;">New Zealand</h4>
            </div>
            <p class="text-white">
              6921 Hunters Park Drive, Three Kings, Auckland 1024<br>
              Contact No.: +64 27 333 3300<br>
              nz&#64;filmygems.com
            </p>
          </div>
        </div>
      </div>
      <div class="row pt-5 pb-5">
        <div class="col-md-6 col-lg-3">
          <div class="usa-blog">
            <div class="country-imges d-flex">
              <img src="assets/svg-icons/norway.svg" alt="Norway" class="img-fluid contries">
              <h4 class="text-white bold" style="padding-left: 10px;">Norway</h4>
            </div>
            <p class="text-white">
              Contact No.: +44 794210454<br>
              norway&#64;filmygems.com
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="country-imges d-flex">
            <img src="assets/svg-icons/india.svg" alt="India" class="img-fluid contries">
            <h4 class="text-white bold" style="padding-left: 10px;">India</h4>
          </div>
          <p class="text-white">
            Pune:<br>
            Shree Ganesh AEC, Office 304, Kokane Chowk, Pune 411017<br>
            Contact No.: +91 7387775499<br>
            pune&#64;filmygems.com
          </p>
        </div>
        <div class="col-md-6 col-lg-3">
          <p class="text-white pt-5">
            Mumbai:<br>
            Kharghar, Navi Mumbai 410210
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-5 bg-middle">
  <div class="sell-call text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
        </div>
        <div class="col-md-6  d-flex flex-column justify-content-center align-items-center" style="padding-top: 75px;">
          <h3 class="corporate-contact">Talk to Sales</h3>
          <p class="pt-2 ">Interested in our services? Just pick up the phone to chat</p>
          <p>with a member of our sales team.</p>
          <p class="pb-4"><u>sales&#64;filmygems.com</u></p>
          <hr class="divider-contact">
          <h3 class="corporate-contact pt-4">Contact Customer Support</h3>
          <p class="pt-2 ">Sometimes you need a little help from your friends.</p>
          <p> Or our support representative, Don't worry, we're here for you.</p>
          <button class="btn btn-all rounded-pill mt-3" type="button">Contact Support</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
