



@media (min-width: 320px) {

  .usa-blog {
    padding: 8px;
    height: auto;
  }

  .country-imges h4 {
    font-size: 1.1rem;
  }

  .country-imges {
    padding-top: 20px;
  }

  .corporate-contact {
    padding-top: 120px;
  }

  .pb-4 {
    padding-bottom: 0px !important;
  }

  .pt-2 {
    padding-top: 0px !important;
  }

}

@media (min-width: 576px) {
  .usa-blog {
    padding: 8px;
    height: auto;
  }

  .country-imges h4 {
    font-size: 1.1rem;
  }

  .country-imges {
    padding-top: 0px;
  }

  .corporate-contact {
    padding-top: 0px;
  }
}

@media (min-width: 768px) {
  .usa-blog {
    padding: 10px;
    height: 88px;
  }

  .country-imges h4 {
    font-size: 1.2rem;
  }

  .country-imges {
    padding-top: 0px;
  }

  .corporate-contact {
    padding-top: 0px;
  }
}

@media (min-width: 992px) {
  .usa-blog {
    padding: 10px 15px;
  }

  .country-imges h4 {
    font-size: 1.3rem;
  }

  .pb-4 {
    padding-bottom: 1.5rem !important;
  }

  .pt-2 {
    padding-top: .5rem !important;
  }
}
