<div class="container-fluid roboto-font">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 g-0">
      <app-login-carasoual></app-login-carasoual>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 sign-bg roboto-font">
      <div class="justify-content-end signup-dimond">
        <img src="assets/landing_Img/diamond_right.png" alt="" class="img-fluid">
      </div>
      <div
        class="text-center ms-lg-4 ms-md-4 ms-sm-0 ps-lg-3 ps-md-3 ps-sm-0 mb-lg-0 mb-md-0 mb-3 mt-lg-0 mt-md-0 mt-3">
        <img src="assets/logo-img/gem_logo_without baseline.png" routerLink="/" alt="" class="img-fluid">
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10 col-sm-12">
          <div class="text-white mt-lg-5 mt-md-5 mt-sm-3 mb-3">
            <h4 style="line-height :0.2;">Login</h4>
            <p class="role py-lg-2 py-md-2 py-sm-2">
              Welcome back!</p>
          </div>
          <div class="mb-4">
            <input type="email" class="form-control text-white fill-form" placeholder="enter your email" required>
          </div>
          <div class="mb-2 position-relative">
            <input [type]="showPassword1 ? 'text' : 'password'" class="form-control text-white fill-form"
              placeholder="Enter password" required />
            <span class="position-absolute end-0 top-50 translate-middle-y pe-3" (click)="togglePassword(1)">
              <i [ngClass]="showPassword1 ? 'fas fa-eye-slash text-white' : 'fas fa-eye text-white'"></i>
            </span>
          </div>
          <div class="mb-4">
            <input class="form-check-input" type="checkbox" id="termsCheck" required>
            <label class="form-check-label text-white" for="termsCheck">
              Remember me
            </label>
            <span class="ps-4" style="color: #0057FF;" routerLink="/send-OTP">Forgot Password?</span>
          </div>
          <div class=" text-center login-signup rounded-2 mb-3">
            <button type="button" class="btn text-white">Login</button>
          </div>
          <div class="text-centerrounded-2 send-otp  mb-5 my-lg-2 my-md-2 my-sm-1">
            <button class="btn text-white" routerLink="/send-OTP">Login with Mobile OTP</button>
          </div>
          <div class="text-center text-white pt-2" style="font-size: 14px;">
            Don’t have an account? <span style="color: #0057FF;" routerLink="/sign-up">Sign up</span>
          </div>
        </div>
      </div>
    </div>
    <div class="separator-line position-absolute"></div>
  </div>
</div>
