.col-Css {
    /* height: 14px; */
    width: 216px;
    /* border: 1px solid; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #484848;

}

.col-img-bg {
    background-color: gray;
    border-radius: 50%;
    width: 135px;
    height: 130px;
    /* position: relative; */

}

/* .col-img-top {
    position: absolute;
    margin-top: 80px; 
 left: 220px; 
} */
.col-img-top{
    /* position: absolute;
    left: 296px; */
    margin-top: -160px;
}
.col-bottom-Rectangle {
    /* position: relative; */
    /* vertical-align: bottom; */
    background: gray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* left: -12px; */
}

.col-bottom css {}

.header-images-about {
    height: 635px;
    background-size: cover;
}

.about-title {
    width: 987px;
    height: 118px;
    top: 158px;
    left: 227px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
}

.main-title-about {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 700;
    line-height: 58.59px;
    text-align: center;

}

.about-subtitle {
    width: 447px;
    font-weight: 400;
    font-size: 18px;
    height: 42px;
    top: 296px;
    left: 497px;
    gap: 0px;
    opacity: 0px;

}

.about-line {
    background-color: #FFCF25;
    position: absolute;
    width: 213px;
    height: 2px;
    top: 360px;
    left: 614px;
}

.col-title-h2 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;
    text-align: center;
    color: #FFC936;

}

/* .col-img-bg:hover, .col-bottom-Rectangle:hover,.col-Css:hover {
    background-color: #FFC936;
} */
/* .col-Css:hover .col-img-bg, */
.col-Css:hover .col-img-bg ,.col-Css:hover .col-bottom-Rectangle {
    background-color: orange;
}
.aboutPara{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    /* height: 240px;
    width: 906px; */
}
.about-h3{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 600;
    /* line-height: 46.88px;   */
    
}
.trusted-divider{
    padding-left: 55px;
}
.divider-line{
    padding: 20px 6px;
}

.img-divider{
    border: 1px solid #D3D3D3;
   
    height: 42.74px; 
}

.about-WWR-p{
    font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
.letsConnect-btn{
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    width: 145px;
    background: #F3AD3B;

}
.WWR-img-shadow{
    border-radius: 30px;
    box-shadow: 10px 10px 70px 13px #5e7b93;
}

@media (min-width:320px){
    .WWR-img-shadow{
        box-shadow: none;
        height: 340px;
    } 
}
@media (min-width:1440px){
    .WWR-img-shadow{
        border-radius: 30px;
        box-shadow: 10px 10px 70px 13px #5e7b93;
        height: 430px;
    } 
}

