<!-- background img section start -->
<section class="header-images-about roboto-font" [ngStyle]="{'background-image': 'url(' + backgroundImageUrl + ')'} ">
    <app-navbar></app-navbar>
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-12 col-lg-12 col-md-12">
                <div class="position-relative text-center text-white">
                    <div class="about-title">
                        <h3 class="main-title-about ">More Than A Company, We're A Community
                            Of Like-Minded Souls</h3>
                    </div>
                    <p class="about-subtitle position-absolute">Built on passion, driven by purpose – this is who we
                        are.
                        Get to know the heartbeat behind the brand.</p>
                    <div class="d-flex justify-content-center flex-direction-column align-items-center">
                        <div class="about-line"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- background img section end -->
<!-- what we offer section start -->
<!-- <section class="bg-middle">
    <div class="container">
        <div class="row">
            <div class="col-12 pt-2">
                <div class="pt-5 mt-5">
                    <h1 class="text-center text-white">What We Offer</h1>
                </div>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-12">
                <div class="d-flex justify-content-evenly">
                    <div class="col-Css text-center pt-2">
                        <div class="mt-4 d-flex justify-content-center">
                            <div class="p-5 col-img-bg">

                            </div>
                        </div>
                        <img src="assets/aboutUs/red-carpet -n1.svg" class="col-img-top" alt="...">
                        <h5 class="col-title-h2 px-2 pb-5 pt-0 mt-0">Top Event Management</h5>
                        <div class="p-2 col-bottom-Rectangle">
                        </div>
                    </div>

                    <div class="col-Css text-center pt-2">
                        <div class="mt-4 d-flex justify-content-center">
                            <div class="p-5 col-img-bg">

                            </div>
                        </div>

                        <img src="assets/aboutUs/release-n2.svg" class="col-img-top" alt="...">
                        <h5 class="col-title-h2 px-2 pb-5 pt-0 mt-0">International Film
                            Release</h5>
                        <div class="p-2 col-bottom-Rectangle">
                        </div>
                    </div>
                    <div class="col-Css text-center pt-2">
                        <div class="mt-4 d-flex justify-content-center">
                            <div class="p-5 col-img-bg">

                            </div>
                        </div>

                        <img src="assets/aboutUs/award-n3.svg" class="col-img-top" alt="...">

                        <h5 class="col-title-h2 px-2 pb-5 pt-0 mt-0">International Film
                            Festival </h5>
                        <div class="p-2 col-bottom-Rectangle">

                        </div>
                    </div>
                    <div class="col-Css text-center pt-2">
                        <div class="mt-4 d-flex justify-content-center">
                            <div class="p-5 col-img-bg">

                            </div>
                        </div>
                        <img src="assets/aboutUs/bullhorn-n4.svg" class="col-img-top" alt="...">

                        <h5 class="col-title-h2 px-2 pb-5 pt-0 mt-0">Advertising &
                            Promotions</h5>
                        <div class="p-2 col-bottom-Rectangle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-12">
                <div class="d-flex justify-content-evenly">
                    <div class="col-Css text-center pt-2">
                        <div class="mt-4 d-flex justify-content-center">
                            <div class="p-5 col-img-bg">

                            </div>
                        </div>
                        <img src="assets/aboutUs/fashion 1-n5.svg" class="col-img-top" alt="...">

                        <h5 class="col-title-h2 px-4 pb-5 mb-5">Fashion Events</h5>

                        <div class="p-2 col-bottom-Rectangle">
                        </div>
                    </div>

                    <div class="col-Css text-center pt-2">
                        <div class="mt-4 d-flex justify-content-center">
                            <div class="p-5 col-img-bg">

                            </div>
                        </div>

                        <img src="assets/aboutUs/camera-n6.svg" class="col-img-top" alt="...">
                        <h5 class="col-title-h2 px-2 pb-5 pt-0 mb-4">E2E Film Projects Execution</h5>
                        <div class="p-2 col-bottom-Rectangle">
                        </div>
                    </div>
                    <div class="col-Css text-center pt-2">
                        <div class="mt-4 d-flex justify-content-center">
                            <div class="p-5 col-img-bg">

                            </div>
                        </div>

                        <img src="assets/aboutUs/hiring-n7.svg" class="col-img-top" alt="...">


                        <h5 class="col-title-h2 pb-4 px-4 mb-4">Flexible and most demanded portal for everyone</h5>

                        <div class="p-2 col-bottom-Rectangle">

                        </div>
                    </div>
                    <div class="col-Css text-center pt-2">
                        <div class="mt-4 d-flex justify-content-center">
                            <div class="p-5 col-img-bg">

                            </div>
                        </div>
                        <img src="assets/aboutUs/film-studio-n8.svg" class="col-img-top" alt="...">

                        <h5 class="col-title-h2 px-2 pb-5 mb-4">Shooting Locations/ Studios</h5>
                        <div class="p-2 col-bottom-Rectangle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-5 mx-3">
                <div class="aboutPara px-4">
                    <p class="px-4 mx-4 py-5">As a FilmyGems and event management company, we are dedicated to crafting
                        unforgettable experiences that leave lasting impressions. With meticulous attention to detail
                        and a passion for creativity, we specialize in curating seamless productions that captivate
                        audiences. From blockbuster film premieres to exclusive red carpet events, we bring visions to
                        life with precision and flair. Our team of seasoned professionals collaborates closely with
                        clients to understand their unique vision and objectives, ensuring every aspect of the
                        production reflects their brand and exceeds expectations. Whether it's coordinating logistics,
                        managing talent, or orchestrating immersive experiences, we thrive on the challenge of
                        delivering excellence in every project. Trust us to transform your ideas into extraordinary
                        realities, leaving an indelible mark on the industry.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- What wr offer section end -->
<!-- Trusted By Section start -->
<!-- <section class="bg-middle">
    <div class="container">
        <h3 class="about-h3 text-center text-white py-5">Trusted by</h3>
        <div class="row">

            <div class="col-12 d-flex justify-content-center mb-5 pb-3">
                <div class="text-end">
                    <img src="assets/aboutUs/trusted-Img1.svg" alt="">
                    <img src="assets/aboutUs/trusted-divider.png" alt="" class="mx-4">
                </div>
                <div class="text-end">
                    <img src="assets/aboutUs/trusted-Img2.svg" alt="">
                    <img src="assets/aboutUs/trusted-divider.png" alt="" class="mx-4">
                </div>
                <div class="text-end">
                    <img src="assets/aboutUs/trusted-Img3.svg" alt="">
                    <img src="assets/aboutUs/trusted-divider.png" alt="" class="mx-4">
                </div>
                <div class="text-end">
                    <img src="assets/aboutUs/trusted-Img4.svg" alt="">
                    <img src="assets/aboutUs/trusted-divider.png" alt="" class="mx-4">
                </div>
                <div class="text-end">
                    <img src="assets/aboutUs/trusted-Img5.svg" alt="">
                    <img src="assets/aboutUs/trusted-divider.png" alt="" class="mx-4">
                </div>
                <div class="text-end">
                    <img src="assets/aboutUs/trusted-Img6.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Trusted By Section end -->
<!-- Partnered By Section start -->
<!-- <section class="bg-middle">
    <div class="container pt-5">
        <h3 class="about-h3 text-center text-white py-5">Partnered by</h3>
        <div class="row">

            <div class="col-12 d-flex justify-content-center mb-5 pb-5">
                <div class="px-3">
                    <img src="assets/aboutUs/partner-img1.svg" alt="">
                </div>
                <div class="px-3">
                    <img src="assets/aboutUs/partner-img2.svg" alt="">
                </div>
                <div class="px-3">
                    <img src="assets/aboutUs/partner-img3.svg" alt="">
                </div>
                <div class="px-3">
                    <img src="assets/aboutUs/partner-img4.svg" alt="">
                </div>
                <div class="px-3">
                    <img src="assets/aboutUs/partner-img5.svg" alt="">
                </div>
                <div class="px-3">
                    <img src="assets/aboutUs/partner-img6.svg" alt="">
                </div>
                <div class="px-3">
                    <img src="assets/aboutUs/partner-img7.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Partnered By Section end -->
<!-- Who we are section start -->
<!-- <section class="bg-middle">
    <div class="container pb-5 mb-5 pt-5">
           <div class="row d-flex justify-content-center mb-5 pb-5 pt-5 mt-5">
            <div class="col-6">
             <div class="text-end pe-5">
                <img src="assets/aboutUs/who-we are-img.svg" alt="" class="WWR-img-shadow">
             </div>
            </div>
            <div class="col-6 text-start text-white">
                <h3 class="about-h3">Who We Are?</h3>
            <p class="about-WWR-p">At FilmyGems, we're more than just a platform; we're a community of cinephiles passionate about cinema in all its forms. Our journey began with a simple mission: to celebrate the magic of movies and connect audiences with the finest cinematic experiences. With a vast library spanning genres and eras, we offer a treasure trove of cinematic gems waiting to be discovered. From timeless classics to avant-garde masterpieces, we curate a diverse selection that caters to every taste.</p>
            <p class="about-WWR-p">Join us in exploring the captivating world of film, where every frame tells a story and every viewing is an adventure. Welcome to FilmyGems.</p>
            <div class="">
                <button class="btn letsConnect-btn mt-4 p-2" type="button">Let's Connect</button>
            </div>
        </div>
           </div>
    </div>
</section> -->
<!--  -->
<section>
<div class="container">

</div>
</section>