.active-category {
  background-color: #986708;
  color: #fff !important;
  border-radius: 50px;
}

.director-category {
  background-color: #D19631;
  color: white;
  border-radius: 50px;
}


.shaid{
  background-size: cover;
  background-position: center;
  transition: background-size 0.5s ease-in-out;
}
.shaid:hover {
  background-size: 150%; 
}




