@media (max-width: 320px) {
  .popular-cat-wrap span {
    display: none;
  }

  .popular-cat-wrap span:nth-child(-n+3) {
    display: inline-block;
  }
}


@media (max-width: 320px) {
  .img-hover-zoom--bg{
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  .img-hover-zoom--bg{
    background-size: cover;
  }
  .mask{
    padding-top: 17px;
  }
  
}
@media (max-width: 992px) and (max-width: 1024px) {
  .linear {
      top: 152px;
  }
  .img-hover-zoom--bg{
    background-size: cover;
  }
}
