@media (max-width: 320px) {
  .popular-cat-wrap span {
    display: none;
  }

  .popular-cat-wrap span:nth-child(-n+3) {
    display: inline-block;
  }
}


.release{
  border: 1px solid darkgray;
    padding: 20px;
    border-left: none;
    border-top: none;
    border-bottom: none;
}
.release-prime{
  padding-top: 150px;
}
.prime img{
  height: 100px;
}


