<div class="sticky-img-wrap">
  <img src="assets/landing_Img/auditaion-img.png" alt="" class="img-fluid sticky-img">
</div>

<section class="middle-section roboto-font  py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="category-tags">
          <i class="fas fa-chevron-left arrow-icon"></i>
          <span>Artist</span>
          <span class="active-cat">Director</span>
          <span>Casting Director</span>
          <span>Assistant Director</span>
          <span>Associate Director</span>
          <span>Executive Producer</span>
          <span>Assistant Director</span>
          <span>Artist</span>
          <i class="fas fa-chevron-right arrow-icon"></i>
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-3">
        <h4 class="popular-gems-text text-dark">Popular Gems Categories</h4>
      </div>
      <div class="col-md-8">
        <div class="category-tags-popular">
          <div class="popular-cat-wrap">
            <span>50+ PR Teams</span>
            <span>100+ VFX Studios</span>
            <span>100+ Mixing Studios</span>
            <span>50+ Vanity</span>
            <span>100+ Camera</span>
            <span>50+ Lights</span>
            <span>50+ Jimmy Jeeps</span>
            <span>100+ Camera</span>
            <span>50+ Lights</span>
            <span>50+ Jimmy Jeeps</span>
          </div>
        </div>
      </div>
      <div class="col-1">
        <div class="right-dimond">
          <img src="assets/landing_Img/diamond_right.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-middle pt-3 roboto-font">
  <div class="container">
    <div class="row aos-init aos-animate" data-aos="fade-up">
      <div class="col-12 col-md-12">
        <div class="cross">
          <img src="assets/svg-icons/cros-svg.svg" alt="" class="img-fluid">
        </div>
        <img src="assets/madeweb_img/main-img.png" alt="" class="img-fluid madme-web">
      </div>
    </div>
    <div class="row pt-4 aos-init aos-animate" data-aos="fade-up">
      <h5 class="text-h2 pb-2">To Gems Showcase</h5>
      <div class="col-12 col-md-5">
        <div class="celibrate-card shaid" style="background-image: url('assets/topgems_img/sahid_img.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                <button class="hot-choice rounded-pill">Hot Choice</button>
              </div>
            </div>
          </div>
          <div class="overlay-star">
            <div class="star">
              <img src="assets/svg-icons/stars.svg" alt="" class="img-fluid">
            </div> <span class="actor-name">Shahid Kapoor</span>
            <p class="role">Bollywood Actor</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="celibrate-card" style="background-image: url('assets/topgems_img/alibhatt_img.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay-star">
            <div class="star">
              <img src="assets/svg-icons/stars.svg" alt="" class="img-fluid">
            </div>
            <span class="actor-name">Alia bhatt</span>
            <p class="role">Bollywood Actor</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="celibrate-card" style="background-image: url('assets/topgems_img/arjit_img.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                <button class="hot-choice rounded-pill">Hot Choice</button>
              </div>
            </div>
          </div>
          <div class="overlay-star">
            <div class="star">
              <img src="assets/svg-icons/stars.svg" alt="" class="img-fluid">
            </div>
            <span class="actor-name">Arjit Singh</span>
            <p class="role">Indian Singer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5 aos-init aos-animate" data-aos="fade-up">
      <div class="col-md-3">
        <div class="celibrate-card" style="background-image: url('assets/topgems_img/vicky_img.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay">
            <span class="actor-name">Vicky Kaushal</span>
            <p class="role">Bollywood Actor</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="celibrate-card" style="background-image: url('assets/topgems_img/amitabachapn_img.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay">
            <span class="actor-name">Amitabh Bachchan</span>
            <p class="role">Bollywood Actor</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="celibrate-card" style="background-image: url('assets/topgems_img/ranbir_img.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay">
            <span class="actor-name">Ranbir Singh</span>
            <p class="role">Bollywood Actor</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5 aos-init aos-animate" data-aos="fade-up">
      <div class="col-12 col-md-3">
        <div class="celibrate-card" style="background-image: url('assets/topgems_img/kirti_img.png'); height: 520px;">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay-kirti">
            <span class="actor-name">Kriti Sanon</span>
            <p class="role">Bollywood Actor</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="celibrate-card" style="background-image: url('assets/topgems_img/anurag_img.png');">
              <div class="choices">
                <div class="choices-icons">
                  <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
                  <div class="hot">
                    <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                  </div>
                </div>
              </div>
              <div class="overlay">
                <span class="actor-name">Anurag Kashyap</span>
                <p class="role">Film Director</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="celibrate-card" style="background-image: url('assets/topgems_img/deepika_img.png');">
              <div class="choices">
                <div class="choices-icons">
                  <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
                  <div class="hot">
                    <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                  </div>
                </div>
              </div>
              <div class="overlay">
                <span class="actor-name">Deepika Padukone</span>
                <p class="role">Bollywood Actor</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="celibrate-card" style="background-image: url('assets/topgems_img/ajay_atual_img.png');">
              <div class="choices">
                <div class="choices-icons">
                  <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
                  <div class="hot">
                    <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                  </div>
                </div>
              </div>
              <div class="overlay">
                <span class="actor-name">Ajay-Atul</span>
                <p class="role">Musical Duo</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-4 aos-init aos-animate">
          <div class="col-12 col-md-4">
            <div class="celibrate-card" style="background-image: url('assets/topgems_img/janhvi_img.png');">
              <div class="choices">
                <div class="choices-icons">
                  <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
                  <div class="hot">
                    <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                  </div>
                </div>
              </div>
              <div class="overlay">
                <span class="actor-name">Janhvi Kapoor</span>
                <p class="role">Bollywood Actor</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="celibrate-card" style="background-image: url('assets/topgems_img/manoj_img.png');">
              <div class="choices">
                <div class="choices-icons">
                  <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
                  <div class="hot">
                    <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                  </div>
                </div>
              </div>
              <div class="overlay">
                <span class="actor-name">Manoj Bajpayee</span>
                <p class="role">Bollywood Actor</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="celibrate-card" style="background-image: url('assets/topgems_img/prabhas_img.png');">
              <div class="choices">
                <div class="choices-icons">
                  <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
                  <div class="hot">
                    <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                  </div>
                </div>
              </div>
              <div class="overlay">
                <span class="actor-name">Prabhas</span>
                <p class="role">Tollywood Actor</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-4 justify-content-center align-items-center">
      <div class="col-md-3 view-btn">
        <button class=" rounded-pill btn-all" routerLink="artistMain">View All</button>
      </div>
    </div>
    <div class="row pt-4 aos-init aos-animate" data-aos="fade-up">
      <div class="col-md-12">
        <div class="export ">
          <div class="program d-flex justify-content-center align-items-center">
            <div class="col-md-3">
              <img src="assets/exports/mask.png" alt="" class="img-fluid ">
            </div>
            <div class="col-md-7">
              <span class="personal-exports">Personal Mentoring Program with Experts</span>
            </div>
            <div class="col-md-2">
              <button class="btn rounded-pill book-set">Book Your Set</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-4 pb-4 aos-init aos-animate" data-aos="fade-up">
      <div class="col-md-12">
        <img src="assets/shitan/shitan.png" alt="" class="img-fluid shitan-img">
      </div>
    </div>
  </div>

</section> -->
<section class="bg-middle pt-3 roboto-font">
  <div class="container">
    <div class="row aos-init aos-animate" data-aos="fade-up">
      <div class="col-12 col-md-12">
        <div class="cross">
          <img src="assets/svg-icons/cros-svg.svg" alt="" class="img-fluid">
        </div>
        <img src="assets/madeweb_img/main-img.png" alt="" class="img-fluid madme-web">
      </div>
    </div>
    <div class="row pt-4 aos-init aos-animate" data-aos="fade-up">
      <h5 class="text-h2 pb-2">To Gems Showcase</h5>
      <div class="col-12 col-md-5">
        <div class="celibrate-card shaid" style="background-image: url('assets/topgems_img/sahid_img.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                <button class="hot-choice rounded-pill">Hot Choice</button>
              </div>
            </div>
          </div>
          <div class="overlay-star">
            <div class="star">
              <img src="assets/svg-icons/stars.svg" alt="" class="img-fluid">
            </div> <span class="actor-name">Shahid Kapoor</span>
            <p class="role">Bollywood Actor</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="celibrate-card" style="background-image: url('assets/topgems_img/alibhatt_img.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay-star">
            <div class="star">
              <img src="assets/svg-icons/stars.svg" alt="" class="img-fluid">
            </div>
            <span class="actor-name">Alia bhatt</span>
            <p class="role">Bollywood Actor</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="celibrate-card" style="background-image: url('assets/topgems_img/arjit_img.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                <button class="hot-choice rounded-pill">Hot Choice</button>
              </div>
            </div>
          </div>
          <div class="overlay-star">
            <div class="star">
              <img src="assets/svg-icons/stars.svg" alt="" class="img-fluid">
            </div>
            <span class="actor-name">Arjit Singh</span>
            <p class="role">Indian Singer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5 aos-init aos-animate" data-aos="fade-up">
      <div class="col-md-3">
        <div class="celibrate-card" style="background-image: url('assets/topgems_img/vicky_img.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay">
            <span class="actor-name">Vicky Kaushal</span>
            <p class="role">Bollywood Actor</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="celibrate-card" style="background-image: url('assets/topgems_img/amitabachapn_img.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay">
            <span class="actor-name">Amitabh Bachchan</span>
            <p class="role">Bollywood Actor</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="celibrate-card" style="background-image: url('assets/topgems_img/ranbir_img.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay">
            <span class="actor-name">Ranbir Singh</span>
            <p class="role">Bollywood Actor</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5 aos-init aos-animate" data-aos="fade-up">
      <div class="col-12 col-md-3">
        <div class="celibrate-card" style="background-image: url('assets/topgems_img/kirti_img.png'); height: 520px;">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay-kirti">
            <span class="actor-name">Kriti Sanon</span>
            <p class="role">Bollywood Actor</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="celibrate-card" style="background-image: url('assets/topgems_img/anurag_img.png');">
              <div class="choices">
                <div class="choices-icons">
                  <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
                  <div class="hot">
                    <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                  </div>
                </div>
              </div>
              <div class="overlay">
                <span class="actor-name">Anurag Kashyap</span>
                <p class="role">Film Director</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="celibrate-card" style="background-image: url('assets/topgems_img/deepika_img.png');">
              <div class="choices">
                <div class="choices-icons">
                  <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
                  <div class="hot">
                    <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                  </div>
                </div>
              </div>
              <div class="overlay">
                <span class="actor-name">Deepika Padukone</span>
                <p class="role">Bollywood Actor</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="celibrate-card" style="background-image: url('assets/topgems_img/ajay_atual_img.png');">
              <div class="choices">
                <div class="choices-icons">
                  <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
                  <div class="hot">
                    <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                  </div>
                </div>
              </div>
              <div class="overlay">
                <span class="actor-name">Ajay-Atul</span>
                <p class="role">Musical Duo</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-4 aos-init aos-animate">
          <div class="col-12 col-md-4">
            <div class="celibrate-card" style="background-image: url('assets/topgems_img/janhvi_img.png');">
              <div class="choices">
                <div class="choices-icons">
                  <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
                  <div class="hot">
                    <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                  </div>
                </div>
              </div>
              <div class="overlay">
                <span class="actor-name">Janhvi Kapoor</span>
                <p class="role">Bollywood Actor</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="celibrate-card" style="background-image: url('assets/topgems_img/manoj_img.png');">
              <div class="choices">
                <div class="choices-icons">
                  <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
                  <div class="hot">
                    <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                  </div>
                </div>
              </div>
              <div class="overlay">
                <span class="actor-name">Manoj Bajpayee</span>
                <p class="role">Bollywood Actor</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="celibrate-card" style="background-image: url('assets/topgems_img/prabhas_img.png');">
              <div class="choices">
                <div class="choices-icons">
                  <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
                  <div class="hot">
                    <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
                  </div>
                </div>
              </div>
              <div class="overlay">
                <span class="actor-name">Prabhas</span>
                <p class="role">Tollywood Actor</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-4 justify-content-center align-items-center">
      <div class="col-md-3 view-btn">
        <button class=" rounded-pill btn-all">View All</button>
      </div>
    </div>
    <div class="row pt-4 aos-init aos-animate" data-aos="fade-up">
      <div class="col-md-12">
        <div class="export ">
          <div class="program d-flex justify-content-center align-items-center">
            <div class="col-md-3">
              <img src="assets/exports/mask.png" alt="" class="img-fluid ">
            </div>
            <div class="col-md-7">
              <span class="personal-exports">Personal Mentoring Program with Experts</span>
            </div>
            <div class="col-md-2">
              <button class="btn rounded-pill book-set">Book Your Set</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-4 pb-4 aos-init aos-animate" data-aos="fade-up">
      <div class="col-md-12">
        <img src="assets/shitan/shitan.png" alt="" class="img-fluid shitan-img">
      </div>
    </div>
  </div>

</section>

<section class="bg-middle roboto-font py-3">
  <div class="container">
    <h5 class="text-h2 aos-init aos-animate" data-aos="fade-up">
      Most Favorites International Gems
    </h5>
    <div class="row aos-init aos-animate pt-1" data-aos="fade-up">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="celibrate-card rounded" style="background-image: url('assets/mostFav/kate.png'); height: 520px;">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="heart" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="verified" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay-most">
            <span class="actor-name">Kate Winslet</span>
            <p class="role">Hollywood Actress</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="celibrate-card rounded" style="background-image: url('assets/mostFav/leo.png'); height: 520px;">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay-most">
            <span class="actor-name">Leonardo DiCaprio</span>
            <p class="role">Hollywood Actor</p>
          </div>
        </div>
      </div><!-- Actor Card 3 -->
      <div class="col-12 col-md-8 col-lg-6 mb-3">
        <div class="celibrate-card rounded"
          style="background-image: url('assets/mostFav/morgen.png');height:520px; border: 1px solid #7A7A7A;">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay-most">
            <span class="actor-name">Morgan Freeman</span>
            <p class="role">Hollywood Actor</p>
          </div>
        </div>
      </div>
    </div><!-- Second row of items -->
    <div class="row aos-init aos-animate" data-aos="fade-up">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="celibrate-card rounded" style="background-image: url('assets/mostFav/berry.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="heart" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="verified" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay">
            <span class="actor-name">Kate Winslet</span>
            <p class="role">Hollywood Actress</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="celibrate-card rounded" style="background-image: url('assets/mostFav/depp.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="heart" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="verified" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay">
            <span class="actor-name">Kate Winslet</span>
            <p class="role">Hollywood Actress</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-6 mb-3">
        <div class="celibrate-card rounded" style="background-image: url('assets/mostFav/smith.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="heart" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="verified" class="img-fluid p-1">
              </div>
            </div>
          </div>
          <div class="overlay">
            <span class="actor-name">Kate Winslet</span>
            <p class="role">Hollywood Actress</p>
          </div>
        </div>
      </div>
    </div> <!-- Load more button -->
    <div class="text-center pt-3 pb-2">
      <button class="btn  btn-all text-dark rounded-pill">
        Load More
      </button>
    </div>
  </div>
</section>

<section class="bg-middle  roboto-font py-3">
  <div class="container">
    <div class="pt-3">
      <div class="row d-flex justify-content-center aos-init aos-animate" data-aos="fade-up">
        <div class="col-12 col-md-6 text-center">
          <h6 class="fixed-size-heading fw-semibold text-light">Our Latest Blogs</h6>
        </div>
      </div>
      <div class="row pt-5 aos-init aos-animate" data-aos="fade-up">
        <div class="col-md-3 mb-4">
          <div class="card groove">
            <img src="assets/blogs/img-1.png" class="card-img-top" alt="Blog 1" />
            <div class="card-body custom-bg">
              <h5 class="card-title custom-color  custom-ellipsis"
                data-full-text="It is the party time guys, let's join the Party Grand Party Lawn...">
                It is the party time guys, let's join the Party Grand Party
                Lawn...
              </h5>
              <p class="card-text text-light custom-fontp">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt.
              </p>
              <a href="#" class="btn  custom-read">Read more ></a>
              <div class="text-light pt-2">
                <small>January 24, 2024</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card groove">
            <img src="assets/blogs/img-2.png" class="card-img-top" alt="Blog 2" />
            <div class="card-body custom-bg ">
              <h5 class="card-title custom-ellipsis  custom-color ">
                Ready for real life cinema awards? so please come
                Mahalaxmi...
              </h5>
              <p class="card-text text-light custom-fontp">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt.
              </p>
              <a href="#" class="btn custom-read">Read more ></a>
              <div class="text-light pt-2">
                <small>January 24, 2024</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card groove">
            <img src="assets/blogs/img-3.png" class="card-img-top" alt="Blog 3" />
            <div class="card-body custom-bg">
              <h5 class="card-title custom-color custom-ellipsis ">
                Events? yes we are ready, but what about you?...
              </h5>
              <p class="card-text text-light custom-fontp">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt.
              </p>
              <a href="#" class="btn  custom-read">Read more ></a>
              <div class="text-light pt-2">
                <small>January 24, 2024</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card groove">
            <img src="assets/blogs/img-4.png" class="card-img-top" alt="Blog 4" />
            <div class="card-body custom-bg">
              <h5 class="card-title custom-color custom-ellipsis ">
                Show your inner side actor or talent pune camp...
              </h5>
              <p class="card-text text-light custom-fontp">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt.
              </p>
              <a href="#" class="btn custom-read">Read more ></a>
              <div class="text-light pt-2">
                <small>January 24, 2024</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center pt-4 pb-5">
        <button class="btn rounded-pill btn-read-more" (click)="navigateToTalentShow()">
          Read More Blogs
        </button>
      </div>
    </div>
  </div>
</section>
