/* You can add global styles to this file, and also import other style files */
.active {
  color: #f39c12;
  text-decoration: underline;
}


.roboto-font {
  font-family: 'Roboto';
}
.header-images{
  background-size: cover;
  height: 448px;
}
.bg-middle{
  background-color: #090909;
}
.btn-join-now{
   border: 1px solid #000000;
  color: #000000;
  border-radius: 50px;
  font-size: 18px;
  width: 172px;
}
.choices {
  position: relative;
  top: 14px;
}
/* .overlay {
  position: relative;
  bottom: 55px;
  color: #ffffff;
  background: #00000000;
} */
.celibrate-card {
  height: 240px;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
}
.text-h2 {
  color: #FFC936;
  font-size: 25px;
}
.btn-all{
  width: 200px;
  height: 48px;
  background-color: #F3AD3B;
  border: none;
  font-size: 18px;
  font-weight: 500;
}
.btn-all:hover {
  background-color: #ffb62a;
}
.btn-all:active {
  background-color: #ffb62a;
}
.line{
  background-color: #FFCF25;
  width: 213px;
  height: 2px;
}


.navbar {
  padding-top: 36px;
}

.navbar-brand {
  color: #ffd700;
}

.pages-name {
  color: #fff;
}

.build-high p {
  font-size: 18px;
}

 .build-high .main-title {
  font-size: 50px;
  font-weight: bold;

}

.search-box .form-control {
  flex: 1;
}

 .searching-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

 .searching-bar .dropdown {
  margin-left: 10px;
}

 .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}


.custom-icon {
  font-size: 20px;
}

.join-ig {
  position: relative;
  text-decoration: none;
}

.join-ig img {
  position: absolute;
  bottom: 16px;
  left: 57px;
}

.left-dimond {
  position: absolute;

}
.search-container {
  position: absolute;

}
.search-box i {
  color: #aaa;
  font-size: 1.2rem;
  margin-right: 10px;
}
.search-box {
  position: relative;
  top: 13px
}
.linear {
  height: 10px;
  background-color: #F3AD3B;
  position: relative;
  top: 80px;
}
.gems-category {
  border-left: 1px solid #ddd;
  border-radius: 0px 50px 50px 0px;
  font-size: 18px;
  border: none;
}
.category-tags {
  padding-top: 100px;
}
.left-dimond img {
  position: relative;
  top: 58px;
}
.icons-join .links-chart {
  position: relative;
  top: 52px;
}
.join-btn {
  background-color: #F3AD3B;
  color: #000000;
  border-radius: 50px;
  font-size: 18px;
  width: 130px;
}
.join-btn:hover {
  background-color: #ffb62a;
}
.join-btn:active {
  background-color: #ffb62a;
}
.active-cat {
  background-color: #986708;
  color: #fff !important;
  border-radius: 50px;
}
.arrow-icon {
  margin: 4px 1px;
  font-size: 20px;
}
.category {
  background-color: #FFF4DE;
}


.contact-img {
  width: 461px;
  height: 423px;
  position: absolute;
  top: 5524px;
  left: 979px;
}

.logo-size {
  width: 245px;
  height: 67.84px;
}

.company-name {
  color: #986708;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
  height: 30px;
}

.custom-colors {
  color: #CFCFCF;
  font-size: 14px;
}

.footer-logo {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.footer a {
  transition: color 0.3s ease;
}

.bg-custom {
  background: #000000;
}

.custom-input {
  color: #333;
  border: 1px solid #ccc;
  width: 378px;
  margin-left: 136px;
}

.custom-text {
  color: #595959;
}
.footer .col-md-3 {
  margin-bottom: 2rem;
}

.filmy-custom {
  color: #595959;
}
.custom-text {
  padding-right: 40px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: transparent;

}
.input-group-append {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;

}

.input-group-append img {
  width: 20px;
  height: auto;
  fill: #FFB62A;

}

.bg-colors {
  background-color: #333;

}

.input-group {
  position: relative;
  width: 100%;
}

.join-padding {
  padding-left: 821px;

}

.font-join {
  margin-top: -87px;
}


.custom-section {
  background-image: url("/assets/music/group.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 484px;
}

.btn-custom {
  border: 1px solid black;
  color: black;
}

.cutom-font-color {
  color: #ffb62a;
  font-size: 16px;
}

.font-custom {
  font-size: 30px;
  margin-left: 141px;
}
.btn-custom {
  max-width: 135px;
  width: 100%;
  font-size: 18px;
}
.custom-padding {
  padding-left: 50px;
}
.join-text {
  font-size: 90px;
  font-weight: bold;
  color: #1F2124;
  text-align: right;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.search-box {
  background-color: white;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 963px;
  max-width: 100%;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  border-color: gold;
  position: relative;
  top: 24px;

}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  border-radius: 50px;

}

.search-box input::placeholder {
  color: #ccc;
  transition: opacity 0.3s ease;
}

.search-box input:hover::placeholder {
  opacity: 0;
}
.dopdown-item {
  font-size: 18px;
}
.category-tags span {
  color: black;
  padding: 6px 20px;
  margin: 5px;
}

.sticky-img-wrap {
  position: fixed;
  top: 364px;
  z-index: 1;
}

.category-tags-popular span {
  background-color: transparent;
  border: 1px solid #ced4da;
  margin: 3px;
  border-color: #B59E72;
  padding: 4px 10px;
  color: #93763F;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}


.right-dimond {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
}

.right-dimond img {
  max-width: 100%;
  height: auto;
}

.middle-section {
  background-color: #FFF4DE;
}

.cross {
  display: flex;
  justify-content: end;
  position: relative;
  right: 66px;
  top: 31px;
}


.hot-choice {
  background-color: #FFA800;
  color: #ffffff;
  border: none;
  font-size: 14px;
  width: 90px;
}



.overlay-star {
  position: absolute;
  padding: 0px 10px;
  color: #ffffff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  bottom: -1px;
  width: 100%;
}

.overlay-kirti {
  position: absolute;
  padding: 0px 10px;
  color: #ffffff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  bottom: 0;
  width: 100%;

}

.export {
  background-image: url('/assets/exports/exports_bg.png');
  background-size: cover;
  height: 120px;
  border: 1px solid #919191;
  padding-left: 13px;
}

.personal-exports {
  font-size: 32px;
  color: #ffffff;
}

.book-set {
  background-color: #3B90F3;
  color: #ffffff;
  font-size: 18px;
  padding: 12px;
  width: 170px;
}

.shitan-img {
  width: 100%;
}
.madme-web {
  width: 100%;
}
.rotate {
  bottom: 18px;
  rotate: 68deg;
}

.dropdown-menu.scroll::-webkit-scrollbar {
  width: 8px;
}

.dropdown-menu.scroll::-webkit-scrollbar-thumb {
  background: #986708;
  border-radius: 10px;
}

.dropdown-menu.scroll::-webkit-scrollbar-track {
  background: #ccc
}

.height-most {
  height: 520px;
  width: 100%;
}

.h-fav {
  height: 240px;
  width:100%;
}

.custom-bg {
  background-color: #343232;
}

.card-title {
  font-weight: bold;
}

.custom-color {
  color: #ffc936;
  font-size: 20px;
}

.custom-read {
  color: #FFB62A;
  font-size: 14px;
  padding: 0px;
}

.custom-fontp {
  font-size: 16px;
}

.small,
small {
  font-size: 14px;
}

.custom-font {
  font-size: 11px;
  font-weight: 400;
  color: #ffffff;
}


.blog-container h2 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.btn-read-more {
  background-color: #ffb62a;
  color: #000;
  font-size: 18px;
  width: 241px;
  font-weight: 500;
}
.btn-read-more:hover {
  background-color: #ffb62a;
}
.btn-read-more:active {
  background-color: #ffb62a;
}
.custom-section {
  background-image: url("/assets/music/group.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 484px;
}

.btn-custom {
border: 1px solid black;
  color: black;
}

.cutom-font-color {
  color: #ffb62a;
  font-size: 16px;
}

.font-custom {
  font-size: 30px;
  margin-left: 141px;
}

.header-text,
.sub-text {
  text-align: center;
}

.card {
  border-radius: 10px;

  overflow: hidden;
}

.card-body {
  border-radius: 0 0 10px 10px;

  background-color: #333;
}

.custom-ellipsis {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  display: inline-block;
  position: relative; */
  height: 70px;

}

.fixed-size-heading {
  font-size: 40px;
  color: #ffffff;
  padding-top: 8px;
}



.btn-custom {
  max-width: 135px;
  width: 100%;
  font-size: 18px;
}

 .kate-opsition {
  position: absolute;

}

 .common-kate {
  position: relative;
  bottom: 59px;
  font-size: 20px;
  left: 10px;
}

 .hollywod {
  position: relative;
  bottom: 61px;
  font-size: 14px;
  left: 10px;
}

.custom-padding {
  padding-left: 50px;
}

.icons {
  position: relative;
  top: 42px;
}

.icons-heart {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.groove {
  border-style: groove;
  border-color: gray;
}
 .overlay {
  position: absolute;
  padding: 0px 10px;
  color: #ffffff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  bottom: 0;
  width: 100%;

}
 .overlay-most {
  position: absolute;
  padding: 0px 10px;
  color: #ffffff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  bottom: 0;
  width: 100%;

 }

.choices {
  position: relative;
  top: 6px;
}

 .choices-icons {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
  padding: 10px 5px;
  bottom: 6px;
}



.join-text {
  font-size: 90px;
  font-weight: bold;
  color: #1F2124;
  text-align: right;
  margin: 0;
  padding: 0;
  line-height: 1;
}


/* ************ Plans Page Css ****************** */


.plan-images{
  height: 600px;
}
.unlock-title{
  padding-top: 163px;
}

.choose-title{
  padding-top: 100px;
}

.choose-title h2 {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
}

.choose-title p {
  font-size: 18px;
  color: #ffffff;
}

.first-card {
  background-image: url('/assets/plans/card-1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 623.44px;
  border-radius: 15px;

}
.card-body-plan{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 15px;
}
.mini-line {
  width: 164.65px;
  height: 2px;
  background-color: #FFE500;
  position: absolute;
  top: 20px;
}

.dimond-img{
  position: relative;
  top: 39px;
  left: 131px;
  z-index: 2;
}

.basic-number {
  position: relative;
  top: 8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basic-btn {
  width: 125.25px;
  background-color: #000000;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 14.8px;
  letter-spacing: 2px;
}

.card h3 {
  font-size: 65.26px;
  font-weight: bold;
  color: #FFE600;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videos h5 {
  font-size: 18.5px;
  color: #869ED4;
}

.videos span {
  font-size: 36px;
  color: #FCD751;
  font-weight: 200;
  position: relative;
  bottom: 10px;
}

.small-line {
  height: 2px;
  width: 65.67px;
  background-color: #4260A5;
  position: relative;
  bottom: 10px;
}

.subscribe {
  border-radius: 50px;
  font-size: 12.95px;
  border: 1px solid #238ECB;
  padding: 15px 70px;
  color: #238ECB;
  letter-spacing: 2px;
}
.subscribe:hover{
  color: #238ECB;
}

.ruppes {
  position: relative;
  right: 16px;
  top: 10px;
}
.gold-card{
  position: relative;
    bottom: 70px;
    
}
.third-card{
  background-image: url('/assets/plans/card-2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 685.04px;
  border-radius: 15px;
  
}
.subscribe-now  {
  border-radius: 50px;
  font-size: 12.95px;
  border: none;
  padding: 15px 70px;
  background-color: #FFC936;
  color: #000000;
  letter-spacing: 2px;
}
.subscribe-now:hover{
  color: #000000;
}

.star-badge{
  position: absolute;
  top: 81px;
  right: 10px;
  z-index: 2;
}

.most{
  color: #FFC936;
  font-size: 16.26px;
  letter-spacing: 3px;
}



.toggle-switch {
  background-color: #555670; 
  border-radius: 50px;
  display: inline-flex;
  width: 280px;
}

.toggle-switch .btn {
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 40px;
  cursor: pointer;
}

.toggle-switch .btn-monthly {
  background-color: #555670;
  color: #96A2B5;
}

.toggle-switch .btn-yearly {
  background-color: #F3AD3B;
  color: #000000;
  text-decoration: none;
}





@media (min-width:320px) {
  .unlock-title {
    padding-top: 124px;
  }
  .choose-title h2 {
    font-size: 21px;
  }

  .choose-title p {
    font-size: 14px;
  }
 
}

@media (min-width:768px) {
  .choose-title h2 {
    font-size: 30px;
  }

  .choose-title p {
    font-size: 16px;
  }
}

@media (min-width:1200px) {
  .unlock-title {
    padding-top: 163px;
  }
  .choose-title h2 {
    font-size: 40px;
  }

  .choose-title p {
    font-size: 18px;
  }
  
}

/* All medias */


@media (min-width:320px) {
 /* Header-media */
 .icons-join {
  position: relative;
  top: 14px;
 }
 .search-box {
  position: relative;
  top: 6px;
}

.linear {
  top: 71px;
}
 .logo-img {
  width: 200px;
}

.left-dimond {
  display: none;
}

.join-btn {
  border-radius: 50px;
  font-size: 18px;
  width: 116px;
}

.join-ig img {
  position: absolute;
  left: 46px;
  top: -23px;;
}

.icons-join .links-chart {
  position: relative;
  top: 4px;
}

.dropdown-menu {
  width: 186px;
}

.dropdown-menu.scroll {
  width: 190px;
}

.build-high .main-title {
    font-size: 30px;
}

.build-high p {
  font-size: 14px;
}

.right-dimond {
  display: none;
}

.export {
  height: 100px;
}

.book-set {
  background-color: #3B90F3;
  color: #ffffff;
  font-size: 10px;
        padding: 4px;
        width: 95px;
}

.personal-exports {
  font-size: 10px;
}

.cross {
  height: 10px;
  right: 5px;
  top: 13px;
}

.view-btn {
  text-align: center;
}
.celibrate-card {
  margin-bottom: 10px;
}

.actor-name {
  font-size: 17px;
  font-weight: 500;
}
.role {
  font-size: 12px;
  font-weight: 400;
}

  /* footer-media */
  .join-text {
    font-size: 29px;
    font-weight: bold;

  }

  .company-name {
    font-size: 15px;

  }


}

@media (min-width:425px) {
  .export {
    height: 85px;
    padding: 7px;
  }
}
@media (min-width:375px) {
  .export {
    height: 70px;
    padding: 7px;
  }

  .book-set {
    font-size: 10px;
    padding: 3px;
    width: 71px;
  }
}
@media (min-width: 576px) {
  .logo-img {
    width: auto;
  }
}

@media (max-width: 768px) {
/* Header-media */

/* .icons-join {
  position: relative;
  top: 44px;
} */

.join-ig img {
  bottom: 14px;
  left: 42px;
}

.join-btn {
  border-radius: 50px;
  font-size: 14px;
  width: 85px;
}

.logo-img {
  width: 200px;
}

.left-dimond {
  display: none;
}

/* .main-title {
  font-size: 40px;
  font-weight: bold;
}

.build-high p {
  font-size: 16px;
} */

 /* .search-box {
  top: 92px;
}

.linear {
  top: 127px;
}  */

.right-dimond {
  display: none;
}

.choices-icons {
  bottom: 10px;
}

/* .actor-name {
  font-size: 12px;
}

.role {
  font-size: 10px;

} */

/* .personal-exports {
  font-size: 21px;
  color: #ffffff;
}

.export {
  height: 75px;
  padding: 5px;
}

.book-set {
  background-color: #3B90F3;
  color: #ffffff;
  font-size: 12px;
  padding: 8px;
  width: 109px;
} */

.cross {
  height: 15px;
  right: 10px;
  top: 20px;
}

  /* Footer-media */
  .font-custom {
    font-size: 24px;
  }

  .btn-custom {
    font-size: 16px;
  }

  .cutom-font-color {
    font-size: 20px;
  }

  .custom-section {
    padding: 20px 0;
  }

  .sub-text {
    font-size: 1rem;
    max-width: 100%;
  }

  .custom-section h1 {
    font-size: 1.5rem;
  }

  .contact-img {
    width: 300px;
    height: auto;
    top: initial;
    left: initial;
    position: relative;
  }

  .custom-ellipsis {
    height: 112px;
  }

  .custom-color {
    font-size: 17px;
  }

 .info {
    flex: 0 0 auto;
    width: 34.666667%;
  }

  /* .join-text {
    font-size: 50px;
    font-weight: bold;
  }

  .info {
    flex: 0 0 auto;
    width: 24.666667%;
  }  */
}

@media (min-width: 992px) {
  .main-title{
    font-size: 50px;
  }
  .build-high p{
    font-size: 17px;
  }
  .pages-name {
    font-size: 18px;
    margin: 0px 9px;
  }


  .linear {
    top: 93px;
  }

  .search-box {
    position: relative;
    top: 28px;
  }

  .export {
    height: 110px;
    padding: 10px;

  }

  .icons-join {
    position: relative;
    top: 52px;
  }

  .join-ig img {
    bottom: 14px;
    left: 58px;
  }

  .join-btn {
    border-radius: 50px;
    font-size: 14px;
    width: 95px;
  }

  .dropdown-menu.scroll {
    width: 218px;
  }
  .cross {
    height: 20px;
    right: 11px;
    top: 25px;
}
.personal-exports {
  font-size: 25px;
}
.book-set {
  font-size: 14px;
  width: 150px;
  padding: 8px;
}

}
@media (min-width:1200px) {
/* Header-media */
.logo-img {
  width: 245px;
}



.pages-name {
  font-size: 18px;
  margin: 0px 20px;
}

.join-btn {
  border-radius: 50px;
  font-size: 18px;
  width: 130px;
}

.join-ig img {
  bottom: 19px;
  left: 89px;
}

.left-dimond {
  display: block;
}

.icons-join .links-chart {
  position: relative;
  top: 0px;

}

.linear {
  height: 10px;
  background-color: #F3AD3B;
  position: relative;
  top: 89px;
}

.search-box {
  position: relative;
  top: 23px;
}

.build-high p {
  font-size: 18px;
}

 .build-high .main-title {
  font-size: 50px;
  font-weight: bold;
}

.right-dimond {
  display: block;
}

.actor-name {
  font-size: 20px;
  font-weight: 500;
}

.role {
  font-size: 14px;
  font-weight: 400;
}


.cross {
  right: 13px;
  top: 31px;
  height: 24px;
}

.export {
  height: 120px;
}

.personal-exports {
  font-size: 32px;
}

.program {
  padding: 6px 10px;
}

.book-set {
  color: #ffffff;
  font-size: 18px;
  padding: 12px;
  width: 170px;
}

  /* *** footer-media *** */
  .fixed-size-heading {
    font-size: 40px;
  }
  .custom-padding {
    padding-top: 50px;
  }

  .filmy {
    margin-top: 140px;
  }

  .join-text {
    font-size: 90px;
    font-weight: bold;
    color: #1F2124;
    text-align: right;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .company-name {
    color: #986708;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    height: 30px;
  }

  .info {
    flex: 0 0 auto;
    width: 16.666667%;
  }
  .logo{
    position: relative;
    bottom: 56px;
  }

  .dropdown-menu {
    width: 186px;
  }

  .dropdown-menu.scroll {
    width: 190px;
  }
  .view-btn {
    text-align: center;
  }
  .celibrate-card {
    margin-bottom: 10px;
}
}

@media (min-width:1440px) {
  .program {
    padding: 0px 10px;
  }



  .dropdown-menu.scroll {
    width: 240px;
  }
}






