/* You can add global styles to this file, and also import other style files */


li.nav-item a.nav-link.active {
  color: #FFCF25 !important;
  text-decoration: underline;
  text-decoration-color: #FFCF25;
  text-underline-offset: 5px;
}

.roboto-font {
  font-family: 'Roboto';
}

.header-images {
  background-size: cover;
  height: 448px;
}

.bg-middle {
  background-color: #090909;
}

.btn-join-now {
  border: 1px solid #000000;
  color: #000000;
  border-radius: 50px;
  font-size: 18px;
  width: 172px;
}
.btn-join-now:hover{
  border: 1px sold #000000;
  color: #000;
}
/* navbar collapse btn */
#toggle {
  display: block;
  width: 60px;
  height: 42px;
}

#toggle span {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #F3AD3B;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

#toggle span:before, #toggle span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #F3AD3B;
  transition: all 0.3s;
  border-radius: 2px;
}

#toggle span:before {
  top: -9px;
}

#toggle span:after {
  top: 9px;
}


#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}


@media (min-width: 992px) {
  #toggle {
    display: none;
  }
}


@media (max-width: 991px) {
  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.show {
    display: block;
  }
}


#toggle.on + .navbar-collapse {
  display: block !important;
}

.choices {
  position: relative;
  top: 14px;
}

.celibrate-card {
  height: 240px;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
}

.text-h2 {
  color: #FFC936;
  font-size: 25px;
}

.btn-all {
  background-color: #F3AD3B;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 50px;
}

.btn-all:hover {
  background-color: #ffb62a;
  color: #000000;
}

.btn-all:active {
  background-color: #ffb62a;
}

.line {
  background-color: #FFCF25;
  width: 213px;
  height: 2px;
}

.navbar {
  padding-top: 36px;
}

.navbar-brand {
  color: #ffd700;
}

.pages-name {
  color: #fff;
}

.build-high p {
  font-size: 18px;
}

.build-high .main-title {
  font-size: 50px;
  font-weight: bold;
}

.search-box .form-control {
  flex: 1;
}

.custom-icon {
  font-size: 20px;
}

.join-ig {
  position: relative;
  text-decoration: none;
}

.join-ig img {
  position: absolute;
  bottom: 16px;
  left: 57px;
}

.left-dimond {
  position: absolute;
}

.search-container {
  position: absolute;
}

.search-box-i {
  color: #aaa;
}

.search-box {
  position: relative;
  top: 13px
}

.linear {
  height: 10px;
  background-color: #F3AD3B;
  position: relative;
  top: 80px;
}

.category-tags {
  padding-top: 100px;
}

.left-dimond img {
  position: relative;
  top: 58px;
}

.icons-join {
  position: relative;
  top: 52px;
}

.join-btn {
  background-color: #F3AD3B;
  color: #000000;
  border-radius: 50px;
  font-size: 18px;
  width: 130px;
}

.join-btn:hover {
  background-color: #ffb62a;
}

.join-btn:active {
  background-color: #ffb62a;
}

.arrow-icon {
  margin: 4px 1px;
  font-size: 20px;
}

.logo-size {
  width: 245px;
  height: 67.84px;
}

.company-name {
  color: #986708;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
  height: 30px;
}

.custom-colors {
  color: #CFCFCF;
  font-size: 14px;
}

.footer-logo {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.active-link {
  color: #FFCF25 !important;
}

.footer a {
  transition: color 0.3s ease;
}

.bg-custom {
  background: #000000;
}

.custom-input {
  color: #333;
  border: 1px solid #ccc;
  width: 378px;
  margin-left: 136px;
}

.custom-text {
  color: #595959;
}

.filmy-custom {
  color: #595959;
}
.custom-text:focus,
.custom-text:active {
  background-color: #4a4a4a;

  outline: none;
}

.custom-text {
  padding-right: 40px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: transparent;
}

.input-group-append {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.input-group-append img {
  width: 20px;
  height: auto;
  fill: #FFB62A;
}

.bg-colors {
  background-color: #4a4a4a;
  border: 1px solid #6a6a6a;
}
.input-group {
  position: relative;
  width: 100%;
}

.btn-custom {
  border: 1px solid black;
  color: black;
}
.font-custom {
  font-size: 30px;
  margin-left: 141px;
}
.join-text {
  font-size: 90px;
  font-weight: bold;
  color: #1F2124;
  text-align: right;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.search-box {
  background-color: white;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 963px;
  max-width: 100%;
  transition: border 0.3s ease;
  border: 2px solid #D19631;
}

.search-box input {
  font-size: 20px;
  font-weight: 400;
}

.search-box input::placeholder {
  color: #ccc;
  transition: opacity 0.3s ease;
}

.search-box input:hover::placeholder {
  opacity: 0;
}

.dopdown-item {
  font-size: 18px;
}

.category-tags span {
  color: black;
}

.sticky-img-wrap {
  position: fixed;
  top: 364px;
  z-index: 1;
}

.category-tags-popular span {
  background-color: transparent;
  border: 1px solid #ced4da;
  margin: 3px;
  border-color: #B59E72;
  padding: 4px 10px;
  color: #93763F;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

.right-dimond {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
}

.right-dimond img {
  max-width: 100%;
  height: auto;
}

.middle-section {
  background-color: #FFF4DE;
}

.cross {
  position: relative;
  right: 66px;
  top: 31px;
}

.hot-choice {
  background-color: #FFA800;
  color: #ffffff;
  border: none;
  font-size: 14px;
  width: 90px;
}

.overlay-star {
  position: absolute;
  padding: 0px 10px;
  color: #ffffff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  bottom: -1px;
  width: 100%;
}

.overlay-kirti {
  position: absolute;
  padding: 0px 10px;
  color: #ffffff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  bottom: 0;
  width: 100%;
}

.book-seat {
  background-image: url('/assets/exports/exports_bg.png');
  background-size: cover;
  height: 120px;
  border: 1px solid #919191;
  padding-left: 13px;
}
.personal-exports {
  font-size: 32px;
  color: #ffffff;
}
.book-set {
  background-color: #3B90F3;
  color: #ffffff;
  font-size: 18px;
  padding: 12px;
  width: 170px;
}
.book-set:hover,.book-set:focus{
  background-color: #3B90F3;
  color: #ffffff;
}
.shitan-img {
  width: 100%;
}
.madme-web {
  width: 100%;
}
.rotate {
  bottom: 18px;
  rotate: 68deg;
}
.dropdown-menu.scroll::-webkit-scrollbar {
  width: 8px;
}
.dropdown-menu.scroll::-webkit-scrollbar-track {
  background: #ccc
}
.height-most {
  height: 520px;
  width: 100%;
}
.h-fav {
  height: 240px;
  width: 100%;
}
.custom-bg {
  background-color: #343232;
}
.card-title {
  font-weight: bold;
}
.custom-color {
  color: #ffc936;
  font-size: 20px;
}
.custom-read {
  color: #FFB62A;
  font-size: 14px;
  padding: 0px;
}
.custom-read:hover{
  color: #FFB62A;
  border: none;
}
.custom-fontp {
  font-size: 16px;
}
.small,
small {
  font-size: 14px;
}
.custom-font {
  font-size: 11px;
  font-weight: 400;
  color: #ffffff;
}
.blog-container h2 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.btn-read-more {
  background-color: #ffb62a;
  color: #000;
  font-size: 18px;
  width: 241px;
  font-weight: 500;
}
.btn-read-more:hover {
  background-color: #ffb62a;
}
.btn-read-more:active {
  background-color: #ffb62a;
}
.cutom-font-color {
  color: #ffb62a;
  font-size: 16px;
}
.cutom-font-color:hover {
  color: #ffb62a;
}
.header-text,
.sub-text {
  text-align: center;
}
.card {
  border-radius: 10px;
  overflow: hidden;
}
.card-body {
  border-radius: 0 0 10px 10px;
  background-color: #333;
}
.custom-ellipsis {
  height: 70px;
}
.fixed-size-heading {
  font-size: 40px;
  color: #ffffff;
  padding-top: 8px;
}
.btn-custom {
  max-width: 135px;
  width: 100%;
  font-size: 18px;
}
.kate-opsition {
  position: absolute;
}
.common-kate {
  position: relative;
  bottom: 59px;
  font-size: 20px;
  left: 10px;
}
.hollywod {
  position: relative;
  bottom: 61px;
  font-size: 14px;
  left: 10px;
}
.icons {
  position: relative;
  top: 42px;
}
.icons-heart {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.groove {
  border-style: groove;
  border-color: gray;
}
.overlay {
  position: absolute;
  padding: 0px 10px;
  color: #ffffff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  bottom: 0;
  width: 100%;
}
.overlay-most {
  position: absolute;
  padding: 0px 10px;
  color: #ffffff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  bottom: 0;
  width: 100%;
}
.choices {
  position: relative;
  top: 6px;
}
.choices-icons {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
  padding: 10px 5px;
  bottom: 6px;
}
.active-category {
  background-color: #986708;
  color: #fff !important;
  border-radius: 50px;
}
.director-category {
  background-color: #D19631;
  color: white;
  border-radius: 50px;
}

.img-hover-zoom--bg {
  position: relative;
  overflow: hidden;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: background-size 0.4s ease, background-position 0.4s ease, border 0.4s ease;
  overflow: hidden;
  position: relative;
}

.shaid:hover {
  background-size: 150%;
  background-position: center;
  border: 1px solid #ffffff;
}


/* shaid model popup */
.image-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #0000008c 100%);
  z-index: 1;
}
.animi {
  z-index: 10;
  top: 149px;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.celibrate-card:hover .animi {
  opacity: 1;
}

/* artist main page css */
.artist_Nav_bg {
  background: #272727;
}
.form-control:focus {
  box-shadow: none !important;
}
.focus_Bg_Color {
  /* background-color: #333; */
  /* color: white; */
}
.artist-sidebar-bg {
  background: #272727;
}
.place-H-text {
  color: #C4C4C4;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
}
.scroll_Bar::-webkit-scrollbar {
  width: 8px;
}
.scroll_Bar::-webkit-scrollbar-thumb {
  background: #C69734 !important;
  width: 100px;
  border-radius: 15px;
}
.scroll_Bar::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 15px;
  width: 50px;
}
.sortFont {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}
.celibrate-img {
  height: 290px;
  background-repeat: no-repeat;
  position: relative;
  width: auto;
  background-size: cover;
  border-radius: 10px;
}
.hot-choice-artist-main {
  background-color: #FFA800;
  color: #ffffff;
  border: none;
  font-size: 14px;
  width: 90px;
  position: absolute;
  right: 10px;
  top: -10px;
}
.pagin-border {
  border: 2px solid #272727;
  border-radius: 5px;
}
.pagination .page-link:hover {
  background-color: #272727;
  border-color: #ff9800;
}
.page-link:hover {
  color: #ff9800 !important;
}

/*Artist profile view Modal css */
.modal-content {
  border-radius: 10px;
  overflow: hidden;
}
.profile-details {
  max-width: 400px;
}
.project-thumbnails {
  gap: 8px;
}
.project-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.add-List-btn {
  background-color: #F3AD3B;
}
.modal2-width {
  width: 450px;
  height: auto;
  margin-left: 510px;
}

/* Modal on artist css */
.add-List-btn {
  background-color: #F3AD3B;
}
.modal2-width {
  width: 450px;
  height: auto;
  margin-left: 510px;
}
.carousel-indicators .active {
  background-color: #FFCF25;
}
.carousel-indicators {
  height: 5px !important;
}


/* **** Plans Page Css ****** */
.plan-images {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}
.unlock-title {
  padding-top: 163px;
}
.choose-title {
  padding-top: 100px;
}
.choose-title h2 {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
}
.choose-title p {
  font-size: 18px;
  color: #ffffff;
}
.first-card {
  background-image: url(/assets/plans/card-1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 623.44px;
  width: 100%;
  border-radius: 15px;
  padding: 0;
  margin: 0;
}
.card-body-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 15px;
}
.mini-line {
  width: 164.65px;
  height: 2px;
  background-color: #FFE500;
  position: absolute;
  top: 20px;
}
.dimond-img {
  position: relative;
  display: flex;
  justify-content: center;
  top: 39px;
  z-index: 2;
}
.basic-number {
  position: relative;
  top: 8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.basic-btn {
  width: 125.25px;
  background-color: #000000;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 14.8px;
  letter-spacing: 2px;
}
.card h3 {
  font-size: 65.26px;
  font-weight: bold;
  color: #FFE600;
}
.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videos h5 {
  font-size: 18.5px;
  color: #869ED4;
}
.videos span {
  font-size: 36px;
  color: #FCD751;
  font-weight: 200;
  position: relative;
  bottom: 10px;
}
.small-line {
  height: 2px;
  width: 65.67px;
  background-color: #4260A5;
  position: relative;
  bottom: 10px;
}
.subscribe {
  border-radius: 50px;
  font-size: 12.95px;
  border: 1px solid #238ECB;
  padding: 12px 50px;
  color: #238ECB;
  letter-spacing: 2px;
}
.subscribe:hover {
  color: #238ECB;
  background-color: #FFC936;
}
.ruppes {
  position: relative;
  right: 16px;
  top: 10px;
}
.gold-card {
  position: relative;
  bottom: 70px;
}
.third-card {
  background-image: url('/assets/plans/card-2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 685.04px;
  width: 100%;
  border-radius: 15px;
  margin: 0 auto;
}
.subscribe-now {
  border-radius: 50px;
  font-size: 12.95px;
  border: none;
  padding: 15px 50px;
  background-color: #FFC936;
  color: #000000;
  letter-spacing: 2px;
}
.subscribe-now:hover {
  color: #000000;
  background-color: #FFC936;
}
.star-badge {
  position: absolute;
  top: 81px;
  right: 20px;
  z-index: 2;
}
.most {
  color: #FFC936;
  font-size: 16.26px;
  letter-spacing: 3px;
}
.toggle-switch {
  background-color: #555670;
  border-radius: 50px;
  position: relative;
  display: inline-flex;
  width: 274px;
  padding-left: 0px;
  padding-right: 0px;
}
.toggle-switch .btn {
  border: none;
  border-radius: 50px;
  font-size: 18px;
  padding: 10px 40px;
  cursor: pointer;
  color: #ffffff;
}
.btn-monthly-active {
  background-color: #f3ad3b;
  color: #fff;
}
.btn-yearly-active {
  background-color: #f3ad3b;
  color: #fff;
}
.btn-monthly:hover,
.btn-yearly:hover {
  outline: none;
  color: #fff;
}
.btn-monthly:focus,
.btn-yearly:focus {
  outline: none;
  background-color: #f3ad3b;
  color: #fff;
}
.btn-monthly:active,
.btn-yearly:active {
  background-color: #f3ad3b;
  color: #fff;
}

/************Create profile**************/
.text-profile {
  font-size: 40px;
  font-weight: 600;
}
.profile-color {
  background-color: #3C3D44;
  border: 1px solid #969696;
  font-size: 400;
}
.drag-drop {
  background-color: #3C3D44;
}
.category-color {
  background-color: #F3AD3B;
}
.custom-border {
  border: 1px dashed #B4B4B4 !important;
}
.file-name {
  color: #CCCCCC;
  font-size: 16px;
  font-weight: 400;
}
.custom-container {
  background-color: #457b9d;
  color: #DADCDF;
  font-size: 16px;
  border-radius: 1px solid #7B9DAA;
}
input::placeholder {
  color: #969696 !important;
}


/*************Contact us *********/
.profiles-text {
  padding-top: 100px;
}
.cancel-btn {
  width: 200px;
  height: 48px;
  background-color: #000000;
  border: none;
  font-size: 18px;
  border: 1px solid #ffffff;
}
.cancel-btn:hover{
  background-color: #000000;
  color: #FFFFFF;
  --bs-btn-active-color: inherit;
  --bs-btn-active-bg: transparent;
}
.profile-color{
  color: #969696;
}
input.profile-color:hover,
input.profile-color:focus  {
  background-color: #3C3D44;
  color: #969696;
}
.file-item {
  background-color: #686C6E;
  padding: 10px 10px;
  border-radius: 5px;
}
.file-thumbnail {
  object-fit: cover;
  background-color: #3C3D44 !important;
}
.btn-closes {
  background-color: transparent;
  border: none;
  color: #F86F6F;
  font-size: 20px;
}
.select-gold {
  background-color: #F3AD3B;
  color: black;
  border: 1px solid #ccc;
  font-size: 16px;
}
.select-gold option {
  background-color: white;
  color: black;
}

/*******************contact-us***********/
.contact-us {
  font-size: 40px;
  font-weight: 700;
}
.contact-color {
  background-color: #2A2A2A;
  color: #969696;
  border: none;
}
.contact-color:focus {
  background-color: #2A2A2A;
  color: #969696;
  outline: none;
}
.contries {
  height: 24px;
}
textarea::placeholder {
  color: #969696 !important;
}
.sell-call {
  background-image: url("/assets/contactUs/sell-call.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 657px;
}
.sells {
  text-align: end;
  padding-top: 128px;
  padding-right: 145px;
}
.divider-contact {
  border: 1px solid #ffffff;
  width: 133px;
}
.corporate-contact {
  font-size: 20px;
  font-weight: bold;
}
.usa-blog {
  border: 1px solid #ffffff;
  border-left: none;
  border-top: none;
  border-bottom: none;
  /* padding: 0px 10px; */
  height: 88px;
}

/******  Privacy-Policy-page  ***** */

.footer-list li {
  font-size: 20px;
  list-style-type: none;
  color: #ffffff;
  padding: 10px 0px;
}
/* .description {
  padding: 62px 0px;
} */
.parent-section {
  background: linear-gradient(to bottom, rgb(0 0 0), rgb(0 0 0 / 88%));
}
.terms {
  text-decoration: none;
}

/* ****** FAQ ****** */
.faq {
  padding: 0px 20px;
}
.get-started {
  background-color: #090909;
  color: #ffffff;
  font-size: 18px;
  border: 1px solid #333333;
  border-right: none;
  border-left: none;
}
.get-started:active,
.get-started:focus {
  background-color: #090909;
}
.get-started:not(:focus) {
  background-color: #090909;
  color: #ffffff;
}
.accordion-item {
  border: none;
}
.get-started[aria-expanded="true"]::after {
  transform: rotate(180deg);
}
.get-started[aria-expanded="true"] {
  color: #FFC936;
}
.faq-bgcolor {
  background-color: #090909;
}
.accordion-button:focus {
  z-index: auto;
  border-color: transparent;
  outline: none;
  box-shadow: none;
}
.navbar-brand:focus {
  color: #ffd700;
  text-decoration: none;
}

/********************************Audutions Model Pop up*********************/
.custom-modal-background {
  background-image: url('/assets/auditions/audi-bg.png');
  background-size: cover;
  background-position: center;
  color: white;
}
.modal-dialog-top {
  top: 10%;
}
.modal-content {
  background-color: transparent;
}
.modal-header {
  border: none;
}
.modal-footer {
  border: none;
}
.modal-dialog {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.audi {
  padding-left: -37px;
  position: relative;
  top: 76px;
  right: 76px;
  font-size: 60px;
}
.modeling {
  list-style-type: none;
}
.screen {
  font-size: 30px;
}
li::marker {
  color: #FABD47;
}

/**************Offer**********************/
.modal-dialog-offer {
  max-width: 900px;
  width: 100%;
}
.offer-close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
}
.discount-circle {
  bottom: 67px;
}
.enjoy-content {
  bottom: 68px;
}
.offer-girl {
  padding-top: 92px;
  left: 72px;
}

/* ********Talent-show   ********* */
.audits-img {
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.rcm-blogs {
  font-size: 20px;
  font-weight: 600;
}
.blog-posted {
  color: #6C6C6C;
}
.post-info {
  color: #ffffff;
  font-size: 14px;
}
.new-badge {
  background-color: #007bff;
  border-radius: 12px;
  font-size: 12px;
}
.talent-main {
  background: linear-gradient(to bottom, rgb(0 0 0), rgb(0 0 0 / 88%));
}
.faq-items {
  border: none;
}

/* Profile model popup */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.welcome-header {
  background-color: #FFE8A8;
  border-radius: 15px;
}

.ajay-text {
  color: #816C35;
}

.btn-edit {
  background-color: #FF5C00;
  font-size: 14px;
}

.last-login {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-size: 18px;
}

.welcome {
  font-size: 18px;
}

.text-gray {
  color: #575757;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0px;
}

.bio-text {
  font-size: 18px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-left: 119px !important;
}
.profile-insta {
  border: 1px solid #3F3F3F;
  border-top: none;
  border-bottom: none;
  border-right: none;
}
.close{
  border: 1px solid #000000;
 width: 100px;
}
.text-delete{
  color: #0031FF;
}
.custom-left-margin{
  padding-left: 78px;
}

/*****sign-up page ******/
.uncover {
  position: absolute;
}
.signup-dimond {
  position: relative;
  /* top: 56px; */
  display: flex;
  left: 12px;
}
.sign-bg {
  background-color: #000000;
}
.login-signup {
  background-color: #C88A00;
  font-size: 18px;
  position: relative;
}
.link-primary {
  text-decoration: none;
}
.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.password-toggle-icon i {
  font-size: 18px;
  line-height: 1;
  color: #333;
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}
.password-toggle-icon i:hover {
  color: #000;
}
.fill-form {
  background-color: #0000;
}
.fill-form:focus {
  background-color: #0000;
}
.overlay-content {
  color: #FFFFFF;
}
.separator-line {
  flex-grow: 1;
  height: 10px;
  background: linear-gradient(to right,
      #b46d13 0%,
      #f3ad3b 12%,
      #f7dd80 31%,
      #fbdb62 45%,
      #f3ad3b 55%,
      #cc8f36 68%,
      #f3ad3b 76%,
      #f4d175 83%,
      #b9721a 99%);
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 21%;
  margin-bottom: 120px;
  margin-left: 25%;
}
.carousel-indicators .custom-dot {
  width: 5px;
  padding: 5px;
  border-radius: 100%;
}
.carousel-indicators .active.custom-dot {
  background-color: #FFCF25;
}
.login-signup .btn:active,
.login-signup .btn:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.send-otp .btn {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.send-otp {
  border: 1px solid #FFFFFF;
}
.customtooltip.p-tooltip .p-tooltip-text {
  background-color: #ffffff!important;
  color: red !important;
}
/* search-header-css */
.search-header-dropmenu .dropmenu :hover {
  background-color: #F9F2E3;
}
.search-header-dropmenu {
  color: #2F2F33;
}

/* dropdown- rotation css */
.fa-chevron-down {
  transition: transform 0.3s ease;
}

[aria-expanded="true"] .fa-chevron-down {
  transform: rotate(180deg);
}
i.fa-chevron-down[aria-expanded="true"] {
  transform: rotate(180deg);
}

/* Rotated state when dropdown is open */
#sortBy-collapse {
transform: rotate(180deg);
}

/* About Us Page CSS */
.col-Css {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #484848;
}

.col-img-bg {
  background-color: gray;
  border-radius: 50%;
  width: 135px;
  height: 130px;
}

.col-img-top{
  margin-top: -160px;
}
.col-bottom-Rectangle {
  background: gray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.header-images-about {
  height: 635px;
  background-size: cover;
}

.about-title {
  width: 987px;
  height: 118px;
  top: 158px;
  left: 227px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

.main-title-about {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 700;
  line-height: 58.59px;
  text-align: center;
}

.about-subtitle {
  width: 447px;
  font-weight: 400;
  font-size: 18px;
  height: 42px;
  top: 296px;
  left: 497px;
  gap: 0px;
  opacity: 0px;
}

.about-line {
  background-color: #FFCF25;
  position: absolute;
  width: 213px;
  height: 2px;
  top: 360px;
  left: 614px;
}

.col-title-h2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.44px;
  text-align: center;
  color: #FFC936;

}

.col-Css:hover .col-img-bg ,.col-Css:hover .col-bottom-Rectangle {
  background-color: orange;
}

.aboutPara{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.about-h3{
  font-family: Roboto;
  font-size: 40px;
  font-weight: 600;
}

.trusted-divider{
  padding-left: 55px;
}

.img-divider{
  border: 1px solid #D3D3D3;

  height: 42.74px;
  display: block;
}

.about-WWR-p{
  font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
.letsConnect-btn{
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  width: 145px;
  background: #F3AD3B;

}
.WWR-img-shadow{
  border-radius: 30px;
  box-shadow: 10px 10px 70px 13px #5e7b93;
}



@media (min-width:320px){
  .WWR-img-shadow{
      border-radius: 30px;
  box-shadow: 10px 10px 70px 13px #5e7b93;
      height: 340px;
      margin-bottom: 35px;
  }
  .img-divider{
      display: none;
  }
  .aboutPara{
      padding-top: 35px;
  }

}
@media (min-width:1440px){
  .WWR-img-shadow{
      border-radius: 30px;
      box-shadow: 10px 10px 70px 13px #5e7b93;
      height: 430px;
  }
  .img-divider{
      display: block;
  }
}

/* landing mademeweb */
.madeweb {
  background-image: url('/assets/landing_Img/madme.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 100%;
}
.trailer{
  background-color: #000000;
}
.primium{
  background-color:#660000;
}
.buy-btn{
  background-color: #ff0040;
}


/* All medias */


@media (max-width:320px) {

  /* Header-media */
  .icons-join {
    top: 14px;
  }

  .search-box {
    position: relative;
    top: 6px;
  }

  .linear {
    top: 71px;
  }

  .logo-img {
    width: 200px;
  }

  .left-dimond {
    display: none;
  }

  .join-btn {
    border-radius: 50px;
    font-size: 18px;
    width: 116px;
  }

  .join-ig img {
    position: absolute;
    left: 46px;
    top: -23px;
  }

  .dropdown-menu {
    width: 186px;
  }

  .dropdown-menu.scroll {
    width: 190px;
  }

  .build-high .main-title {
    font-size: 30px;
  }

  .build-high p {
    font-size: 14px;
  }

  .right-dimond {
    display: none;
  }
  .export {
    height: 100px;
  }

  .book-set {
    font-size: 10px;
    padding: 4px;
    width: 95px;
  }

  .personal-exports {
    font-size: 10px;
  }

  .cross {
    height: 10px;
    right: 5px;
    top: 13px;
  }

  .view-btn {
    text-align: center;
  }

  .celibrate-card {
    margin-bottom: 10px;
  }

  .actor-name {
    font-size: 17px;
    font-weight: 500;
  }

  .role {
    font-size: 12px;
    font-weight: 400;
  }

  /* footer-media */
  .join-text {
    font-size: 29px;
    font-weight: bold;
  }

  .company-name {
    font-size: 15px;
  }

  /* plans media */
  .unlock-title {
    padding-top: 124px;
  }

  .choose-title h2 {
    font-size: 21px;
  }

  .choose-title p {
    font-size: 14px;
  }

  .dimond-img {
    display: none;
  }

  .filmy-card {
    margin: 10px 0px;
  }

  .most {
    display: none;
  }

  .gold-card {
    bottom: 0px;
  }

  .star-badge {
    display: none;
  }

  /******sign-up********/
  .sign-img {
    right: 65px;
  }

  .signup-dimond {
    display: none;
  }

  /* .separator-line {
    display: none;
  } */

  .overlay-content {
    top: 12%;
    right: 0%;
  }

  .small-icon {
    display: none;
  }
}

@media (min-width:375px) {
  .export {
    height: 70px;
    padding: 7px;
  }

  .book-set {
    font-size: 10px;
    padding: 3px;
    width: 71px;
  }
  .build-high .main-title {
    font-size: 29px;
  }
}

@media (min-width:425px) {
  .export {
    height: 85px;
    padding: 7px;
  }
}

@media (min-width: 576px) {
  .logo-img {
    width: auto;
  }
}

@media (max-width: 768px) {

  /* Header-media */
  .join-ig img {
    bottom: 14px;
    left: 42px;
  }

  .join-btn {
    border-radius: 50px;
    font-size: 14px;
    width: 85px;
  }

  .logo-img {
    width: 200px;
  }

  .left-dimond {
    display: none;
  }

  .right-dimond {
    display: none;
  }

  .choices-icons {
    bottom: 10px;
  }

  .cross {
    height: 15px;
    right: 10px;
    top: 20px;
  }

  /* Footer-media */
  .font-custom {
    font-size: 24px;
  }

  .btn-custom {
    font-size: 16px;
  }

  .cutom-font-color {
    font-size: 20px;
  }

  .custom-section {
    padding: 20px 0;
  }

  .sub-text {
    font-size: 1rem;
    max-width: 100%;
  }

  .custom-section h1 {
    font-size: 1.5rem;
  }

  .custom-ellipsis {
    height: 112px;
  }

  .custom-color {
    font-size: 17px;
  }

  .info {
    flex: 0 0 auto;
    width: 34.666667%;
  }

  /* plan css */
  .choose-title h2 {
    font-size: 30px;
  }

  .choose-title p {
    font-size: 16px;
  }

  /*********contact us*******/
}

@media (min-width: 992px) {
  .main-title {
    font-size: 50px;
  }

  .build-high p {
    font-size: 17px;
  }

  .pages-name {
    font-size: 18px;
    margin: 0px 9px;
  }

  .linear {
    top: 93px;
  }

  .search-box {
    position: relative;
    top: 28px;
  }

  .export {
    height: 110px;
    padding: 10px;
  }

  .icons-join {
    position: relative;
    top: 58px;
  }

  .join-ig img {
    bottom: 14px;
    left: 58px;
  }

  .join-btn {
    border-radius: 50px;
    font-size: 14px;
    width: 95px;
  }

  .dropdown-menu.scroll {
    width: 218px;
  }

  .cross {
    height: 20px;
    right: 11px;
    top: 25px;
  }

  .personal-exports {
    font-size: 25px;
  }

  .book-set {
    font-size: 14px;
    width: 150px;
    padding: 8px;
  }

  /* plan page */
  .subscribe {
    padding: 12px 38px;
  }
  .dimond-img {
    display: flex;
  }

  /******sign-up********/
  .sign-img {
    right: 109px;
  }

  .signup-dimond {
    display: flex;
  }



  .overlay-content {
    right: 0%;
  }

  /*login line*/
  .separator-line {
    top: 559px !important;
    display: block !important;
  }

  /* works us */
  .health{
    padding-left: 200px;
  }
}

@media (min-width:1200px) {

  /* Header-media */
  .logo-img {
    width: 245px;
  }

  .pages-name {
    font-size: 18px;
    margin: 0px 20px;
  }

  .join-btn {
    border-radius: 50px;
    font-size: 18px;
    width: 130px;
  }

  .join-ig img {
    bottom: 19px;
    left: 89px;
  }

  .left-dimond {
    display: block;
  }

  .icons-join {
    position: relative;
    top: 52px;
  }

  .linear {
    height: 10px;
    background-color: #F3AD3B;
    position: relative;
    top: 89px;
  }

  .search-box {
    position: relative;
    top: 23px;
  }

  .build-high p {
    font-size: 18px;
  }

  .build-high .main-title {
    font-size: 50px;
    font-weight: bold;
  }

  .right-dimond {
    display: block;
  }

  .actor-name {
    font-size: 20px;
    font-weight: 500;
  }

  /* .role {
    font-size: 14px;
    font-weight: 400;
  } */

  .cross {
    right: 13px;
    top: 31px;
    height: 24px;
  }

  .export {
    height: 120px;
  }

  .personal-exports {
    font-size: 32px;
  }

  .program {
    padding: 6px 10px;
  }

  .book-set {
    font-size: 18px;
    padding: 12px;
    width: 170px;
  }

  /* * footer-media * */
  .fixed-size-heading {
    font-size: 40px;
  }

  .filmy {
    margin-top: 140px;
  }

  .join-text {
    font-size: 90px;
    font-weight: bold;
    color: #1F2124;
    text-align: right;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .company-name {
    color: #986708;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    height: 30px;
  }

  .info {
    flex: 0 0 auto;
    width: 16.666667%;
  }

  .logo {
    position: relative;
    bottom: 56px;
  }

  .dropdown-menu {
    width: 186px;
  }

  .dropdown-menu.scroll {
    width: 190px;
  }

  .view-btn {
    text-align: center;
  }

  .celibrate-card {
    margin-bottom: 10px;
  }

  /* plan css */
  .unlock-title {
    padding-top: 163px;
  }

  .choose-title h2 {
    font-size: 40px;
  }

  .choose-title p {
    font-size: 18px;
  }

  .dimond-img {
    display: flex;
  }

  .filmy-card {
    margin: 0px;
  }

  .most {
    display: block;
  }

  .gold-card {
    bottom: 70px;
  }

  .star-badge {
    display: block;
  }

  .subscribe {
    padding: 12px 50px;
  }
  .subscribe-now {
    padding: 15px 60px;
}

  /* ******* sign-up page ********** */
  .signup-dimond {
    display: flex;
  }


  .overlay-content {
    top: 8%;
    right: 20%;
  }

  .small-icon {
    right: 45px;
    top: 8px;
    display: block;
  }
}



