/* You can add global styles to this file, and also import other style files */
.roboto-font {
  font-family: 'Roboto';
}
.header-images{
  background-size: cover;
  height: 448px;
}
.bg-middle{
  background-color: #090909;
}

.choices {
  position: relative;
  top: 14px;
}

.choices-icons {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.overlay {
  position: relative;
  bottom: 55px;
  left: 10px;
  color: #ffffff;
  background: #00000000;
}
.celibrate-card {
  height: 240px;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
}
.text-h2 {
  color: #FFC936;
  font-size: 25px;
}
.btn-all{
  width: 200px;
  height: 48px;
  background-color: #F3AD3B;
  border: none;
  font-size: 18px;
}
.main-title {
  font-size: 50px;
  font-weight: bold;
}
.build-high p {
  font-size: 18px;
}
.line{
  background-color: #FFCF25;
  width: 213px;
  height: 2px;
}


