.contact-img {
  width: 461px;
  height: 423px;
  position: absolute;
  top: 5524px;
  left: 979px;
}

.logo-size {
  width: 245px;
  height: 67.84px;
}
.company-name {
  color: #986708;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
  height: 30px;
}

.custom-colors {
  color: #CFCFCF;
  font-size: 14px;
}

.footer-logo {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.footer a {
  transition: color 0.3s ease;
}

.bg-custom {
  background: #000000;
}
.custom-input {
  color: #333;
  border: 1px solid #ccc;
  width: 378px;
  margin-left: 136px;
}

.custom-text {
  color: #595959;
}



.footer .col-md-3 {
  margin-bottom: 2rem;
}

.filmy-custom {
  color: #595959;
}



.custom-text {
  padding-right: 40px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: transparent;

}

.input-group-append {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;

}

.input-group-append img {
  width: 20px;
  height: auto;
  fill: #FFB62A;

}

.bg-colors {
  background-color: #333;

}

.input-group {
  position: relative;
  width: 100%;
}

.join-padding {
  padding-left: 821px;

}

.font-join {
  margin-top: -87px;
}


/*--------------------------------------*/
/* .bg-all {
  background-color: #090909;
} */

.height-most {
  height: 520px;
  width: 100%;
}

.h-fav {
  height: 240px;
  width:100%;
}

.custom-bg {
  background-color: #343232;
}

.card-title {
  font-weight: bold;
}

.custom-color {
  color: #ffc936;
  font-size: 20px;
}

.custom-read {
  color: #FFB62A;
  font-size: 14px;
  padding: 0px;
}

.custom-fontp {
  font-size: 16px;
}

.small,
small {
  font-size: 14px;
}

.custom-font {
  font-size: 11px;
  font-weight: 400;
  color: #ffffff;
}


.blog-container h2 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.btn-read-more {
  background-color: #ffb62a;
  color: #000;
  font-size: 18px;
  width: 241px;
}
.custom-section {
  background-image: url("/assets/music/group.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 484px;
}

.btn-custom {
border: 1px solid black;
  color: black;
}

.cutom-font-color {
  color: #ffb62a;
  font-size: 16px;
}

.font-custom {
  font-size: 30px;
  margin-left: 141px;
}

.header-text,
.sub-text {
  text-align: center;
}

.card {
  border-radius: 10px;

  overflow: hidden;
}

.card-body {
  border-radius: 0 0 10px 10px;

  background-color: #333;
}

.custom-ellipsis {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  display: inline-block;
  position: relative; */
  height: 70px;

}

.fixed-size-heading {
  font-size: 40px;
  color: #ffffff;
  padding-top: 8px;
}

.favorites-font {
  font-size: 24px;
  color: #FFC936;
}


.btn-custom {
  max-width: 135px;
  width: 100%;
  font-size: 18px;
}

 .kate-opsition {
  position: absolute;
  /* margin-bottom: -75px; */
}

 .common-kate {
  position: relative;
  bottom: 59px;
  font-size: 20px;
  left: 10px;
}

 .hollywod {
  position: relative;
  bottom: 61px;
  font-size: 14px;
  left: 10px;
}

.custom-padding {
  padding-left: 50px;
}

.icons {
  position: relative;
  top: 42px;
}

.icons-heart {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}



.load-color {
  background-color: #F3AD3B;
  font-size: 18px;
  width: 130px;
}

.groove {
  border-style: groove;
  border-color: gray;
}

 /* .overlay {
  position: relative;
  top: 415px;
  left: 10px;
  color: #ffffff;
  background:#00000000

 }
.celibrate-card {
    height: 520px;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-size:cover;
}
/* .choices {
  position: relative;
  top: 6px;
}

.choices-icons {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
} */
.overlays {
  position: relative;
  top: 160px;
  left: 10px;
  color: #ffffff;
  background:#00000000

}
.celibrate-cards {
  height: 240px;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  background-size: cover;
}

.join-text {
  font-size: 90px;
  font-weight: bold;
  color: #1F2124;
  text-align: right;
  margin: 0; 
  padding: 0;
  line-height: 1;
}

@media (min-width:320px) {
  
  .join-text{
    font-size: 29px;
    font-weight: bold;
   
  }
  .company-name {
    font-size: 15px;
   
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 49.666667%;
}
}


@media (max-width: 768px) {
  .font-custom {
    font-size: 24px;
  }

  .btn-custom {
    font-size: 16px;
  }

  .cutom-font-color {
    font-size: 20px;
  }
  .custom-section {
    padding: 20px 0;
  }

  .sub-text {
    font-size: 1rem;
    max-width: 100%;
  }

  .custom-section h1 {
    font-size: 1.5rem;
  }
  .contact-img {
    width: 300px;
    height: auto;
    top: initial;
    left: initial;
    position: relative;
  }
  .custom-ellipsis {
    height: 112px;
}
.custom-color {
  font-size: 17px;
}
.col-md-2 {
  flex: 0 0 auto;
  width: 34.666667%;
}
.join-text{
  font-size: 50px;
  font-weight: bold;
}
.col-md-2 {
  flex: 0 0 auto;
  width: 24.666667%;
}
}

@media (min-width: 769px) and (max-width: 992px) {
  .font-custom {
    font-size: 26px;
  }

  .btn-custom {
    font-size: 18px;
  }
}


/* @media(max-width: 1024px){
  .join-text {
    font-size: 55px;
    font-weight: bold;
}
.col-md-2 {
  flex: 0 0 auto;
  width: 17.666667%;
}
} */


@media (min-width:1200px) {
  .custom-padding {
    padding-top: 50px;
}
.filmy{
  margin-top: 140px;
}

.join-text {
  font-size: 90px;
  font-weight: bold;
  color: #1F2124;
  text-align: right;
  margin: 0; 
  padding: 0;
  line-height: 1;
}
.company-name {
  color: #986708;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
  height: 30px;
}
.col-md-2 {
  flex: 0 0 auto;
  width: 16.666667%;
}
}

