
<section>
  <footer class="footer bg-dark text-light pt-5 roboto-font pt-5">
    <div class="container">
      <div class="row">
        <!-- Company Info and Links -->
        <div class="col-md-10">
          <div class="row">
            <!-- Company Column -->
            <div class="col-md-2 col-6">
              <h5 class="text-uppercase company-name">Company</h5>
              <ul class="list-unstyled ps-0">
                <li><a href="#" class="text-light text-decoration-none">About us</a></li>
                <li><a href="#" class="text-light text-decoration-none">Blogs</a></li>
                <li><a href="#" class="text-light text-decoration-none">Why FilmyGems?</a></li>
                <li><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
                <li><a href="#" class="text-light text-decoration-none">Terms of Use</a></li>
              </ul>
            </div>

            <!-- Specialties Column -->
            <div class="col-md-3 col-6 mb-4">
              <h5 class="text-uppercase company-name">Specialties</h5>
              <ul class="list-unstyled">
                <li><a href="#" class="text-light text-decoration-none">All Gems Category</a></li>
                <li><a href="#" class="text-light text-decoration-none">Special Offer</a></li>
                <li><a href="#" class="text-light text-decoration-none">Best Plans</a></li>
                <li><a href="#" class="text-light text-decoration-none">International Gems</a></li>
                <li><a href="#" class="text-light text-decoration-none">Events</a></li>
              </ul>
            </div>

            <!-- Careers Column -->
            <div class="col-md-2 col-6 mb-4 margin">
              <h5 class="text-uppercase company-name">Careers</h5>
              <ul class="list-unstyled">
                <li><a href="#" class="text-light text-decoration-none">Our Culture</a></li>
                <li><a href="#" class="text-light text-decoration-none">Work with us</a></li>
                <li><a href="#" class="text-light text-decoration-none">Policies</a></li>
              </ul>
            </div>

            <!-- Contact Column -->
            <div class="col-md-2 col-6 mb-4 ">
              <h5 class="text-uppercase company-name">Contact</h5>
              <ul class="list-unstyled">
                <li><a href="tel:+911688555666" class="text-light text-decoration-none">+91 16885 55666</a></li>
                <li><a href="mailto:info@filmygems.com" class="text-light text-decoration-none">infofilmygems.com</a></li>
                <li><a href="https://www.filmygems.com" class="text-light text-decoration-none">www.filmygems.com</a></li>
              </ul>
            </div>

            <!-- Offers Column -->
            <div class="col-md-3 col-6 mb-4">
              <h5 class="text-uppercase company-name">What We Offer</h5>
              <ul class="list-unstyled">
                <li><a href="#" class="text-light text-decoration-none">International Premiere</a></li>
                <li><a href="#" class="text-light text-decoration-none">International Events</a></li>
                <li><a href="#" class="text-light text-decoration-none">International Release</a></li>
              </ul>
            </div>
          </div>

          <!-- Social Media Icons -->
          <div class="row mb-4">
            <div class="col-md-6 text-center text-md-start pt-0 icon-margins">
              <a href="#" class="text-light  bg-secondary rounded-circle p-1 me-2"><i class="fab fa-facebook"></i></a>
              <a href="#" class="text-light  bg-secondary rounded-circle p-1 me-2"><i class="fab fa-instagram"></i></a>
              <a href="#" class="text-light  bg-secondary rounded-circle p-1 me-2"><i class="fab fa-twitter"></i></a>
              <a href="#" class="text-light bg-secondary rounded-circle p-1 me-2"><i class="fab fa-youtube"></i></a>
            </div>
          </div>

          <!-- Newsletter Subscription -->
          <div class="row padd ">
            <div class="col-md-12 text-center text-md-end icon-margins justify-content-center d-flex">
              <form class="d-inline-block text-center">
                <label for="emailInput" class="form-label text-light roboto-font">
                  Get to know about us & every fresh news
                </label>
                <div class="input-group">
                  <input type="email" id="emailInput" class="form-control bg-dark custom-input " placeholder="Enter your email"
                    aria-label="Enter your email" />
                  <button class="btn btn-warning" type="submit">
                    <i class="fas fa-paper-plane"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>


        </div>

        <!-- Logo Image -->
        <div class="col-md-2 text-center">
          <img src="assets/img/footer.png" alt="FilmyGems image" class="footer-logo img-fluid custom-image" />
        </div>
      </div>

      <!-- Copyright -->
      <div class="row mb-5 pb-3">
        <div class="col text-secondary ">
          <p class="mb-0">&copy; 2024 All rights reserved. FilmyGems</p>
        </div>
      </div>
    </div>
  </footer>
</section>
