.custom-modal-background {
  background-image: url('/assets/auditions/audi-bg.png');
  background-size: cover;
  background-position: center;
  color: white;

}

.modal-dialog-top {
  top: 10%;
}

.modal-content {
  background-color: transparent;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.modal-dialog {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.audi {
  padding-left: -37px;
  position: relative;
  top: 76px;
  right: 76px;
  font-size: 60px;
}

.modeling {
  list-style-type: none;
}

.screen {
  font-size: 30px;
}

li::marker {
  color: #FABD47;
}


/**************Offer**********************/

    .images-ofers{

    padding-left: 8px;
    padding-right: 141px;
     margin-top: -73px;

    }.kalash{
      padding-left: -8px;
      padding-right: -40px;
      padding-top: 5px;
      margin-left: -49px;
      margin-right: -169px;
    }



