<section>
  <footer class="footer bg-custom text-light roboto-font">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-7 filmy ">
          <div class="logo">
            <img src="assets/logo-img/main-logo.png" alt="FilmyGems Logo" class="img-fluid">
          </div>
        </div>
        <!-- Text Section -->
        <div class="col-12 col-md-5 ">
          <h1 class="join-text">LET'S JOIN OUR CLUB</h1>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-10">
          <div class="row">
            <!-- Company Column -->
            <div class="col-md-2 info col-4">
              <h5 class="text-uppercase company-name">Company</h5>
              <ul class="list-unstyled ps-0">
                <li><a routerLink="/about" class="custom-colors text-decoration-none">About us</a></li>
                <!-- <li><a href="#" class="custom-colors text-decoration-none" data-bs-toggle="modal"
                    data-bs-target="#blogModal">Blogs</a></li> -->
                    <li><a routerLink="/talent-show" class="custom-colors text-decoration-none">Blogs</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">Why FilmyGems?</a></li>
                <li><a class="custom-colors text-decoration-none" routerLink="/policy">Privacy Policy</a></li>
                <li><a class="custom-colors text-decoration-none">Terms of Use</a></li>
              </ul>
            </div><!-- Specialties Column -->
            <div class="col-md-3 col-4 mb-4">
              <h5 class="text-uppercase company-name">Specialties</h5>
              <ul class="list-unstyled">
                <li><a href="#" class="custom-colors text-decoration-none">All Gems Category</a></li>
                <!-- <li><a href="#" class="custom-colors text-decoration-none">Special Offer</a></li> -->
                <!-- <li><a href="#" class="custom-colors text-decoration-none" data-toggle="modal" data-target="#discountModal">Special Offer</a></li> -->
                <li><a  class="custom-colors text-decoration-none" data-bs-toggle="modal"
                    data-bs-target="#offerModal">Special Offer</a></li>
                <li><a href="#" class="custom-colors text-decoration-none" routerLink="/plans">Best Plans</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">International Gems</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">Events</a></li>
              </ul>
            </div>
            <!-- Careers Column -->
            <div class="col-md-2 info col-4 mb-4">
              <h5 class="text-uppercase company-name">Careers</h5>
              <ul class="list-unstyled">
                <li><a href="#" class="custom-colors text-decoration-none">Our Culture</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">Work with us</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">Policies</a></li>
              </ul>
            </div>
            <!-- Contact Column -->
            <div class="col-md-2 info col-6 mb-4">
              <h5 class="text-uppercase company-name">Contact</h5>
              <ul class="list-unstyled">
                <li><a href="tel:+911688555666" class="custom-colors text-decoration-none">+91 16885 55666</a></li>
                <li><a href="mailto:info@filmygems.com" class="custom-colors text-decoration-none">infofilmygems.com</a>
                </li>
                <li><a href="https://www.filmygems.com" class="custom-colors text-decoration-none">www.filmygems.com</a>
                </li>
              </ul>
            </div>
            <!-- Offers Column -->
            <div class="col-md-3 col-6 mb-4">
              <h5 class="text-uppercase company-name">What We Offer</h5>
              <ul class="list-unstyled">
                <li><a href="#" class="custom-colors text-decoration-none">International Premiere</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">International Events</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">International Release</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Logo Image -->
        <div class="col-md-2 info text-center">
          <img src="assets/img/footer.png" alt="FilmyGems logo" class="footer-logo img-fluid custom-image" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a href="https://www.facebook.com/FilmyGems/" target="_blank">
            <img src="assets/svg-icons/facebook.svg" class="mx-1" alt="Facebook">
          </a>
          <a href="https://x.com/i/flow/login?redirect_after_login=%2FFilmyGems" target="_blank">
            <img src="assets/svg-icons/xicons.svg" class="mx-1" alt="Facebook">
          </a>
          <a href="https://www.instagram.com/filmy_gems/" target="_blank">
            <img src="assets/svg-icons/insta.svg" class="mx-1" alt="Facebook">
          </a>
          <a href="https://www.youtube.com/channel/UCwc159g2Xk7G0Pq-bXPIWvQ" target="_blank">
            <img src="assets/svg-icons/youtube.svg" class="mx-1" alt="Facebook">
          </a>
        </div>
        <div class="col-md-4">
          <p class="custom-colors">Get to know about our latest film news</p>
          <div class="input-group bg-colors">
            <input type="text" class="form-control custom-text" placeholder="Enter your email" aria-label="Email">
            <span class="input-group-append">
              <img src="assets/svg-icons/footer-icons.svg" alt="Submit">
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="col-md-4 custom-text">
            <p class="mb-0">&copy; All rights reserved - FilmyGems, 2024</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>

<!---Model-->
<div class="modal fade roboto-font " id="blogModal" tabindex="-1" aria-labelledby="blogModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-top custom-modal-background">
    <div class="modal-content ">
      <div class="modal-header d-flex justify-content-centre aligns-items-centre">
        <div class="logo-audti pt-4" style="padding-left: 126px;">
          <img src="assets/auditions/audi-logo.png" alt="" class="img-fluid">
        </div>
        <div class="cancel-buttons" style="padding-bottom: 60px;">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
      <div class="modal-body ">
        <div class=" d-flex">
          <img src="assets/svg-icons/audi-speaker.svg" alt=" " class="img-fluid">
          <div class="audi">
            <h1>AUDITIONS</h1>
          </div>
        </div>
        <div class="pt-4">
          <ul class="d-flex">
            <li class="me-5 modeling" style="font-size:30px">Modelling</li>
            <li class="me-5 screen"> Screening </li>
            <li class="me-5 screen">Acting</li>
          </ul>
        </div>
        <div class="get-details pt-3" style="padding-left: 189px;">
          <button class="btn btn-all rounded-pill">Get Details</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-------------Offer-------->
<div id="offerModal" class="modal fade offer-modal" tabindex="-1" aria-labelledby="offerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-content-offer">
      <div class="row">
        <div class="col-4" style="background-color: #FFC936;">
          <img src="assets/offer/offer-girls.png" class="offer-girl-img img-fluid" alt="Offer Girl">
        </div>
        <div class="col-5" style="background-color: #FFFFFF;">
          <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>

          <div class="offer-images-wrapper" style="    position: relative; bottom: 35px;">
            <div class="flags-images  float-end">
              <img src="assets/offer/offers.svg" class="offer-discount-img img-fluid" alt="Offer Discount">
            </div>
            <div class="images-ofers float-end">
              <img src="assets/offer/images.png" class="offer-images img-fluid" alt="Offer Image">
              <div class="offer-disconuts text-center">
                <h2 class="text-white" style="line-height: 0.6;">15%</h2>
                <h3 class="text-white fw-bold" style="font-size: 16px;">Discount</h3>
              </div>
            </div>
            <div class="kalash float-end">
              <img src="assets/offer/kalash.png" class="offer-kalash img-fluid" alt="Kalash">
            </div>
          </div>
          <div class="content-text pt-4 text-center">
            <p class="offer text-center " style="    margin-bottom: 5px;">Enjoy Festive Discount On <br> Your First
              Subscription Plan</p>
            <div class="hurry-offers">
              <p class="hurry-offer text-center">Hurry up, offer is valid till 28th May 2024</p>
            </div>
            <div class="subscribe-btn text-center pt-3">
              <button class="subscribe-btn btn-all rounded-pill">Subscribe Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
