<section class="bg-middle roboto-font py-3">
  <div class="container">
    <h5 class="favorites-font">
      Most Favorites International Gems
    </h5>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="celibrate-card rounded" style="background-image: url('assets/mostFav/kate.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="heart" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="verified" class="img-fluid p-1">
               </div>
            </div>
          </div>
          <div class="overlay">
            <span class="actor-name">Kate Winslet</span>
            <p class="role">Hollywood Actress</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="celibrate-card rounded" style="background-image: url('assets/mostFav/leo.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">
               </div>
            </div>

          </div>
          <div class="overlay">
            <span class="actor-name">Leonardo DiCaprio</span>
            <p class="role">Hollywood Actor</p>
          </div>
        </div>
      </div>

      <!-- Actor Card 3 -->

      <div class="col-12 col-md-8 col-lg-6 mb-3">
        <div class="celibrate-card rounded" style="background-image: url('assets/mostFav/morgen.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="" class="img-fluid p-1">

              </div>
            </div>
          </div>
          <div class="overlay">
            <span class="actor-name">Morgan Freeman</span>
            <p class="role">Hollywood Actor</p>

          </div>
        </div>
      </div>

    </div>

    <!-- Second row of items -->
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="celibrate-cards rounded" style="background-image: url('assets/mostFav/berry.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="heart" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="verified" class="img-fluid p-1">
               </div>
            </div>
          </div>
          <div class="overlays">
            <span class="actor-name">Kate Winslet</span>
            <p class="role">Hollywood Actress</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="celibrate-cards rounded" style="background-image: url('assets/mostFav/depp.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="heart" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="verified" class="img-fluid p-1">
               </div>
            </div>
          </div>
          <div class="overlays">
            <span class="actor-name">Kate Winslet</span>
            <p class="role">Hollywood Actress</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-6 mb-3">
        <div class="celibrate-cards rounded" style="background-image: url('assets/mostFav/smith.png');">
          <div class="choices">
            <div class="choices-icons">
              <img src="assets/svg-icons/heart.svg" alt="heart" class="img-fluid">
              <div class="hot">
                <img src="assets/svg-icons/verified.svg" alt="verified" class="img-fluid p-1">
               </div>
            </div>
          </div>
          <div class="overlays">
            <span class="actor-name">Kate Winslet</span>
            <p class="role">Hollywood Actress</p>
          </div>
        </div>
      </div>

    </div> <!-- Load more button -->
    <div class="text-center pt-3 pb-2">
      <button class="btn  load-color text-dark rounded-pill">
        Load More
      </button>
    </div>
  </div>
</section>

<section class="bg-middle  roboto-font py-3">
  <div class="container">
    <div class="pt-3">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6 text-center">
          <h6 class="fixed-size-heading fw-semibold text-light">Our Latest Blogs</h6>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-3 mb-4">
          <div class="card groove">
            <img src="assets/blogs/img-1.png" class="card-img-top" alt="Blog 1" />
            <div class="card-body custom-bg">
              <h5 class="card-title custom-color  custom-ellipsis tooltip-text"
                data-full-text="It is the party time guys, let's join the Party Grand Party Lawn...">
                It is the party time guys, let's join the Party Grand Party
                Lawn...
              </h5>
              <p class="card-text text-light custom-fontp">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt.
              </p>
              <a href="#" class="btn  custom-read">Read more ></a>
              <div class="text-light pt-2">
                <small>January 24, 2024</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card groove">
            <img src="assets/blogs/img-2.png" class="card-img-top" alt="Blog 2" />
            <div class="card-body custom-bg ">
              <h5 class="card-title custom-ellipsis  custom-color ">
                Ready for real life cinema awards? so please come
                Mahalaxmi...
              </h5>
              <p class="card-text text-light custom-fontp">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt.
              </p>
              <a href="#" class="btn custom-read">Read more ></a>
              <div class="text-light pt-2">
                <small>January 24, 2024</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card groove">
            <img src="assets/blogs/img-3.png" class="card-img-top" alt="Blog 3" />
            <div class="card-body custom-bg">
              <h5 class="card-title custom-color custom-ellipsis ">
                Events? yes we are ready, but what about you?...
              </h5>
              <p class="card-text text-light custom-fontp">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt.
              </p>
              <a href="#" class="btn  custom-read">Read more ></a>
              <div class="text-light pt-2">
                <small>January 24, 2024</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card groove">
            <img src="assets/blogs/img-4.png" class="card-img-top" alt="Blog 4" />
            <div class="card-body custom-bg">
              <h5 class="card-title custom-color custom-ellipsis ">
                Show your inner side actor or talent pune camp...
              </h5>
              <p class="card-text text-light custom-fontp">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt.
              </p>
              <a href="#" class="btn custom-read">Read more ></a>
              <div class="text-light pt-2">
                <small>January 24, 2024</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center pt-3 pb-5">
        <button class="btn rounded-pill btn-read-more">
          Read More Blogs
        </button>
      </div>
    </div>
  </div>



</section>

<section class="custom-section bg-middle roboto-font py-3">
  <div class="container ">
    <div class="row pt-5">
      <div class="col-12 col-md-8  custom-padding">
        <div class="div pt-5">
          <button class="btn cutom-font-color rounded-pill mt-2 bg-dark">
            Start your journey with us
          </button>
          <h1>
            Let's start your journey with us for more clear and affordable
            contact
          </h1>
          <button class="btn btn-custom rounded-pill mt-2 mb-4">
            Join Now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <footer class="footer bg-custom text-light py-3 roboto-font">
    <div class="container">
      <div class="row">
        <div class="col-1"><img src="assets/logo/main-logo.png" alt="logo" class="logo-size">
        </div>
        <!-- <div class="col-11 d-flex justify-content-center align-items-center join-padding text-secondary">
          <h1 class="font-join">LET'S JOIN OUR CLUB</h1>
        </div> -->
      </div>
      <div class="row pt-3">
        <div class="col-md-10">
          <div class="row">
            <!-- Company Column -->
            <div class="col-md-2 col-6">
              <h5 class="text-uppercase company-name">Company</h5>
              <ul class="list-unstyled ps-0">
                <li><a href="#" class="custom-colors text-decoration-none">About us</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">Blogs</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">Why FilmyGems?</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">Privacy Policy</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">Terms of Use</a></li>
              </ul>
            </div><!-- Specialties Column -->
            <div class="col-md-3 col-6 mb-4">
              <h5 class="text-uppercase company-name">Specialties</h5>
              <ul class="list-unstyled">
                <li><a href="#" class="custom-colors text-decoration-none">All Gems Category</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">Special Offer</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">Best Plans</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">International Gems</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">Events</a></li>
              </ul>
            </div>
            <!-- Careers Column -->
            <div class="col-md-2 col-6 mb-4">
              <h5 class="text-uppercase company-name">Careers</h5>
              <ul class="list-unstyled">
                <li><a href="#" class="custom-colors text-decoration-none">Our Culture</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">Work with us</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">Policies</a></li>
              </ul>
            </div>
            <!-- Contact Column -->
            <div class="col-md-2 col-6 mb-4">
              <h5 class="text-uppercase company-name">Contact</h5>
              <ul class="list-unstyled">
                <li><a href="tel:+911688555666" class="custom-colors text-decoration-none">+91 16885 55666</a></li>
                <li><a href="mailto:info@filmygems.com" class="custom-colors text-decoration-none">infofilmygems.com</a>
                </li>
                <li><a href="https://www.filmygems.com" class="custom-colors text-decoration-none">www.filmygems.com</a>
                </li>
              </ul>
            </div>
            <!-- Offers Column -->
            <div class="col-md-3 col-6 mb-4">
              <h5 class="text-uppercase company-name">What We Offer</h5>
              <ul class="list-unstyled">
                <li><a href="#" class="custom-colors text-decoration-none">International Premiere</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">International Events</a></li>
                <li><a href="#" class="custom-colors text-decoration-none">International Release</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Logo Image -->
        <div class="col-md-2 text-center">
          <img src="assets/img/footer.png" alt="FilmyGems logo" class="footer-logo img-fluid custom-image" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/svg-icons/facebook.svg" class="mx-1" alt="" srcset="">
          <img src="assets/svg-icons/xicons.svg" class="mx-1" alt="">
          <img src="assets/svg-icons/insta.svg" class="mx-1" alt="">
          <img src="assets/svg-icons/youtube.svg" class="mx-1" alt="">
        </div>
        <div class="col-md-4">
          <p class="custom-colors">Get to know about our latest film news</p>
          <div class="input-group bg-colors">
            <input type="text" class="form-control custom-text" placeholder="Enter your email" aria-label="Email">
            <span class="input-group-append">
              <img src="assets/svg-icons/footer-icons.svg" alt="Submit">
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="col-md-4 custom-text">
            <p class="mb-0">&copy; All rights reserved - FilmyGems, 2024</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
